
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Services.Customers;
@{
    bool isRegistered = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.Username != null;
}
@{
    var controllerName = Url.ActionContext.RouteData.Values["controller"].ToString();
    var actionName = Url.ActionContext.RouteData.Values["action"].ToString();

    var incat = controllerName.Equals("post", StringComparison.InvariantCultureIgnoreCase) &&
      actionName.Equals("getHaragcatposts", StringComparison.InvariantCultureIgnoreCase);
    var catId = 0;

    if (incat)
    {
        catId = Convert.ToInt32(Url.ActionContext.RouteData.Values["catId"].ToString());
    }

}
<head>
    @*<link href="~/css/Consultant/styles.rtl.css" rel="stylesheet" />
        <link href="~/css/Consultant/1000.rtl.css" rel="stylesheet" />

        <link href="~/css/Consultant/theme.custom-1.css" rel="stylesheet" />
        <link href="~/css/Consultant/theme.custom-2.css" rel="stylesheet" />

        <script src="~/js/Consultant/jquery.nicescroll.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="~/css/Consultant/mobile.css" rel="stylesheet" />*@

    @*
        <link href="~/css/Consultant/Header.css" rel="stylesheet" />*@
    <style>
        .top-user-menu {
            padding: 20px;
        }

            .top-user-menu > span {
                padding: 9px;
                font-weight: bold;
            }

        .badge-danger {
            background-color: red !important;
        }

        .add-btn {
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.33;
            border-radius: 6px;
            color: #4fbb41 !important;
            box-shadow: 0 -2px rgba(255, 255, 255, 0.1) inset, 0 -3px rgba(0, 0, 0, 0.1) inset, 0 1px rgba(0, 0, 0, 0.05);
            font-family: Tahoma;
        }
        /**{
            font-family: Tahoma !important;
        }*/
        /*.logoContainer { margin-right:-47px }*/
    </style>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
    <script src="~/js/Consultant/jquery.min.js"></script>
    <link href="~/css/Consultant/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/Consultant/bootstrap.min.js"></script>
    @*<script src="~/js/Consultant/jquery.nicescroll.min.js"></script>*@
    <script src="~/js/Consultant/main.js"></script>
    <link href="~/css/Consultant/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/fonts/Consultant/font-awesome.min.css" rel="stylesheet" />
    <script src="~/js/Consultant/lightbox.js"></script>
    <script src="~/Themes/Pavilion/Content/scripts/jquery.validate.unobtrusive.js"></script>
    <link href="~/css/Consultant/lightbox.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>حراج</title>

    <link href="~/Themes/Pavilion/Content/css/style.css" rel="stylesheet" />
    <link href="~/Themes/Pavilion/Content/css/pages.css" rel="stylesheet" />
    <link href="~/css/Consultant/Header.css" rel="stylesheet" />
    <script defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD7aG1kYv0KXd-QUetcJUwa3APdzvyQzSk"></script>
</head>
@{


}
<!-- Header -->
<!-- Top Bar -->
<section class="topFixed">
    <section class="top_bar">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
                    <div class="top_col_screen top_hid_sm"></div>
                </div>
                <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
                    <div class="admin-link-js-ajax top_col_screen" style="color: white"></div>
                    @*<a href="/Consultations/Admin">اداره الاستشارات</a>*@
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="text-center">
                        <span>@Html.RouteLink("المتجر", "HomePage", null, new { style = "color:#fff;", @class = "consultantlink" })</span>
                        <span class="active">@Html.RouteLink("الحراج", "Harag.Home", null, new { style = "color:#fff;", @class = "consultantlink" })</span>

                        <span>@Html.RouteLink("الاستشارات", "Consultant.ConsultantHome", null, new { style = "color:#fff;", @class = "consultantlink" })</span>

                    </div>
                </div>
                <div class="col-lg-2 col-md-2 hidden-sm hidden-xs top_col_screen" id="userInfo"></div>
                <div class="col-lg-1 col-md-1 hidden-sm hidden-xs top_col_screen top_hid_sm"></div>
            </div>
        </div>


        @*
        Partial
        *@

        @* @Html.Partial("~/Themes/Pavilion/Views/Harag/Shared/_mobileMenuPartial.cshtml")*@

    </section>

    <section class="manage">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="admin-link-js-ajax text-center"></div>
                </div>
            </div>
        </div>
    </section>

    <div class="fixedNavScreen text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li id="menuBar">
                            <i class="fa fa-bars fa-lg"></i>
                        </li>
                        <li id="myAccount">
                            <a> <i class="fa fa-user-o fa-lg"></i> </a>
                        </li>
                        <li>
                            <a href="/Harag/Favorites"><i class="fa fa-heart-o fa-lg"></i> </a>
                        </li>
                        <li>
                            <a href="/Harag/Follow"><i class="fa fa-thumbs-o-up fa-lg"></i> </a>
                        </li>
                        <li>
                            <a href="/Harag/Notifications">
                                <sup id="notification-count-jsa" class="badge badge-danger"></sup>
                                <i class="fa fa-bell-o fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/Harag/Messages"><i class="fa fa-envelope-o fa-lg"></i> </a>
                        </li>
                        <li id="searchScreen">
                            <i class="fa fa-search fa-lg"></i>
                        </li>
                    </ul>
                </div>

                <div id="searchScreenFull">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6 text-center">
                        <div class="form-group">
                            <input id="searchText1" type="text" class="form-control">
                            <i id="search-js1" class="fa fa-search"></i>
                        </div>
                    </div>
                </div>

                <div id="myAccountScreenFull">
                    <div class="col-xs-12 text-center" id="userInfoMobile" style="padding:0">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="text-center top-user-menu">
    @if (isRegistered)
    {
        <span>
            <a href="/Harag/Profile">الملف الشخصي</a>
        </span>
        <span>
            <a href="/Harag/Payment/Banks">حساب عمولات الموقع</a>
        </span>
        <span>
            <a href="/Harag/Favorites">المفضله</a>
        </span>
        <span>
            <a href="/Harag/Follow">المتابعه </a>
        </span>
        <span>
            <a href="/Harag/Notifications">
                <span id="notification-count-js" class="badge badge-danger"></span>
                الاشعارات
            </a>
        </span>
        <span>
            <a href="/Harag/Messages">الرسائل </a>
        </span>
    }
</div>
<!-- Search -->
<section class="search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 col-md-1 "></div>

            <div class="col-md-2 col-xs-12 logoContainer">
                <img class="logo" src="/images/thumbs/0000303.png" onclick="goToHome()" />
            </div>

            <div class="col-md-7 searchContr" style="padding-top:12px;">
                <div class="form-group">
                    <input id="searchText" type="text" style="height:44px;"
                           class="form-control" placeholder="البحث في الحراج">
                    <button id="search-js" style="height:44px;" class="btndarckgreen">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
</section>

<!--<!-- Nav -->
<div id="Nav">

</div>


<div class="home" id="homeBody">
    <div class="container-fluid" style="padding-left:0; padding-right:0">
        @*<div class="col-md-2"></div>
            <div class="col-md-2" id="threebuttons" style="margin-bottom:5%;">
            </div>*@
        <div class="col-md-12">
            <div class="allPage" id="allpage">
                @RenderBody()
                <div id="posts"></div>
            </div>
        </div>
        @*<div class="col-md-2"></div>*@
    </div>
</div>

<div class="overlay"></div>
<div class="rightMenu">
    <div class="top_header">
        <i class="fa fa-times pull-left"></i>
    </div>
    <div id="mobile-navbar-js"></div>
</div>

@*<link href="~/css/Consultant/bootstrap.min.css" rel="stylesheet" />*@
<script src="~/js/Consultant/bootstrap.min.js"></script>


<div id="changeCatAndSubDiv" class="modal" tabindex="-1" role="dialog" Style="display:none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title"> اضف رسالتك الي اداره الموقع </h4>
            </div>
            <div class="modal-body">
                <form>
                    <textarea type="text" class="form-control"></textarea>
                    <div class="modal-footer">
                        <button id="add-service-message-event" type="button" onclick="" class="btn btn-success">تعديل</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div><!-- /.modal !-->

<script type="text/javascript">
    $("#open-customer-service").click(function () {
        $("#changeCatAndSubDiv").show();
    });

    $("#add-service-message-event").click(function () {
        $("#changeCatAndSubDiv").hide();
    });

    $("#select-city-js-ajax").on('change', function () {
        var cityId = $("#select-city-js-ajax option:selected").text();

        window.location = "/Harag/City/" + cityId;
    });
</script>

<link href="~/css/Consultant/styles.rtl.css" rel="stylesheet" />
<link href="~/css/Consultant/1000.rtl.css" rel="stylesheet" />

<link href="~/css/Consultant/theme.custom-1.css" rel="stylesheet" />
<link href="~/css/Consultant/theme.custom-2.css" rel="stylesheet" />

<script src="~/js/Consultant/jquery.nicescroll.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="~/css/Consultant/mobile.css" rel="stylesheet" />

<div class="footer">
    <div class="footer-upper">
        <div class="center">
            <ul class="social-sharing">
                <li class="twitter"><a target="_blank" href="https://twitter.com/Niyat"></a></li>
                <li class="facebook"><a target="_blank" href="http://www.facebook.com/Niyat"></a></li>
                <li class="youtube"><a target="_blank" href="http://www.youtube.com/user/Niyat"></a></li>
                <li class="google"><a target="_blank" href="https://plus.google.com/Niyat"></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-middle">
        <div class="center">
            <div class="footer-block">
                <div class="title">
                    <strong>معلومات</strong>
                </div>
                <ul class="list">
                    <li><a href="/%D8%A7%D9%84%D8%B4%D8%AD%D9%86-%D9%88%D8%A7%D9%84%D8%A7%D8%B3%D8%AA%D8%B1%D8%AC%D8%A7%D8%B9">	الشحن والاسترجاع</a></li>
                    <li><a href="/%D8%A7%D9%84%D8%AE%D8%B5%D9%88%D8%B5%D9%8A%D8%A9">	الخصوصية</a></li>
                    <li><a href="/%D8%B4%D8%B1%D9%88%D8%B7-%D8%A7%D9%84%D8%A7%D8%B3%D8%AA%D8%AE%D8%AF%D8%A7%D9%85">شروط الاستخدام</a></li>
                    <li><a href="/%D9%85%D8%B9%D9%84%D9%88%D9%85%D8%A7%D8%AA-%D8%B9%D9%86%D8%A7">معلومات عنا</a></li>
                </ul>
            </div>
            <div class="footer-block">
                <div class="title">
                    <a id="open-customer-service">خدمة العملاء</a>
                </div>
                <ul class="list">
                    <li><a href="/Harag/CustomerService"> خدمة العملاء</a></li>
                    <li class="share-wha tsapp">
                        <!-- Google+ -->
                        <a href="javascript:openShareWindow('https://api.whatsapp.com/phone=@T("Footer.WhatsappContactNumber")&send?text=اريد التواصل مع الموقع')">
                            التواصل عبر واتساب
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-block">
                <div class="title">
                    <strong>حسابي</strong>
                </div>
                <ul class="list">
                    <li><a href="/customer/info">اعدادات الحساب</a></li>
                    <li><a href="/customer/addresses">  عناوين الشحن</a></li>
                    <li><a href="/order/history">طلباتي</a></li> 
                    <li><a href="/cart">عربة التسوق</a></li>
                    @*<li><a href="/wishlist">السلع المفضله </a></li>*@ 
                </ul>
            </div>
            <div class="footer-block quick-contact">
                <div class="title">
                    <strong>تواصل معنا</strong>
                </div>
                <ul class="list">
                    <li class="address"><span>المملكة العربية السعودية</span></li>
                    <li class="email"><span>info@farms.com</span></li>
                    <li class="phone"><span>966-154875314</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-lower">
        <div class="center">
            <ul class="accepted-payments">
                <li class="method2"></li>
                <li class="method3"></li>
                <li class="method4"></li>
            </ul>
            <div class="footer-disclaimer">
                حقوق الطبع والنشر © @DateTime.Now.Year.ToString() Farms Store. جميع الحقوق محفوظة.
            </div>

            <div class="footer-store-theme">

            </div>
        </div>
    </div>

</div>

<div id="goToTop" style="display: block;"></div>

<script>

    $(document).ready(function () {
          $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Consultant.User.GetUserInfoMobile")',

            success: function (data) {
                $("#userInfoMobile").html(data);
            }
        });

        $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Consultant.User.GetUserInfo")',

            success: function (data) {
                $("#userInfo").html(data);
            }
        });


        $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.User.GetAdminLink")',

            success: function (data) {
                $(".admin-link-js-ajax").html(data);
            }
        });

        $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.Navbar")?catId=@catId',

            success: function (data) {
                $("#Nav").html(data);
            }
        });

         $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.NavbarMobile")',

            success: function (data) {
                $("#mobile-navbar-js").html(data);
            }
        });


         $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Consultant.User.GetUserRoles")',

            success: function (data) {
                $("#threebuttons").html(data);
            }
        });
        $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.Notification.NotificationsCount")',

            success: function (data) {

                var n = parseInt(data);

                if (n === 0) {
                    return false;
                }
                $("#notification-count-js").html(n);
                $("#notification-count-jsa").html(n);
            }
        });

    });


    function login() {
        window.location.href = "login?returnUrl=/harag";
    }


    function goToHome() {
        window.location.href = '@Url.RouteUrl("Harag.Home")';
    }

     $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.HaragTagsList")',
             complete: function (data) {
                 $("#tags-js").html(data.responseText);
            }
    });

    $("#search-js").on('click', function () {
        var Term = $("#searchText").val();

        if (Term) {

            window.location = '/Harag/Search/' + Term;
        }
        else {
            alert("ادخل كلمات للبحث");
        }
    });

    $("#searchText").on('change', function () {
        var Term = $("#searchText").val();

        if (Term) {

            window.location = '/Harag/Search/' + Term;
        }
        else {
            alert("ادخل كلمات للبحث");
        }
    });

    $("#search-js").on('click', function () {
        var Term = $("#searchText1").val();

        if (Term) {

            window.location = '/Harag/Search/' + Term;
        }
        else {
            alert("ادخل كلمات للبحث");
        }
    });

    $("#searchText1").on('change', function () {
        var Term = $("#searchText1").val();

        if (Term) {

            window.location = '/Harag/Search/' + Term;
        }
        else {
            alert("ادخل كلمات للبحث");
        }
    });

</script>

<script src="/Plugins/SevenSpikes.Core/Scripts/sevenspikes.core.min.js" type="text/javascript"></script>
<script src="/Plugins/SevenSpikes.Core/Scripts/sevenspikes.theme.ex.min.js" type="text/javascript"></script>
<script src="/Themes/Pavilion/Content/scripts/pavilion.js" type="text/javascript"></script>

<script>

    $("#searchScreen").click(function () {
       // debugger;
        $("#searchScreenFull").slideToggle("slow");
        $("#myAccountScreenFull").css("display", "none");
        $(".manage").toggle();
        $(".overlay").toggle();
        $(".top_bar").toggle();
        $(".topFixed").css("z-index", "1070");
    });
    $("#menuBar").click(function () {
        $(".overlay").css("display", "block");
        $(".rightMenu").css({ "-webkit-transform": "translate(0px)", "-ms-transform": "translate(0px)", "-moz-transform": "translate(0px)", "transform": "translate(0px)", "box-shadow": "1px 0 5px rgba(0,0,0,0.5)" });
        $(".topFixed").css("z-index", "1060");
    });
    $(".rightMenu .top_header i").click(function () {
        $(".overlay").css("display", "none");
        $(".rightMenu").css({ "-webkit-transform": "translate(320px)", "-ms-transform": "translate(320px)", "-moz-transform": "translate(320px)", "transform": "translate(320px)", "box-shadow": "none" });
        $(".topFixed").css("z-index", "1070");
    });
    $("#myAccount").click(function () {
        $("#myAccountScreenFull").slideToggle("slow");
        $("#searchScreenFull").css("display", "none");
        $(".manage").toggle();
        $(".overlay").toggle();
        $(".top_bar").toggle();
        $(".topFixed").css("z-index", "1070");
    });
    $(".overlay").click(function () {
        $(this).css("display", "none");
        $(".rightMenu").css({ "-webkit-transform": "translate(320px)", "-ms-transform": "translate(320px)", "-moz-transform": "translate(320px)", "transform": "translate(320px)", "box-shadow": "none" });
        $(".subRightMenu").css("display", "none");
        $("#myAccountScreenFull").css("display", "none");
        $("#searchScreenFull").css("display", "none");
        $(".manage").css("display", "none");
        $(".top_bar").css("display", "block");
    });
 
    function openShareWindow(url) {
        var winWidth = 520;
        var winHeight = 400;
        var winTop = (screen.height / 2) - (winHeight / 2);
        var winLeft = (screen.width / 2) - (winWidth / 2);

        window.open(url, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
    }
</script>