@model Nop.Web.Models.Harag.Message.MessageOutputModel


<div class="cont det-block">
    <div class="det-top">
        <div class="det-det">
            <a href="/Harag/User/@Model.FromUser"><strong>المرسل:  <span><i class="fa fa-user"></i> @Model.FromUser </span></strong></a>
             

        </div>
        <small> @Model.DateDescription </small>

        @if (Model.Type == Nop.Web.Controllers.Harag.MessageType.Post)
        {
            <a href="/Harag/Post/@Model.postId" class="text-danger">
                هذه الرساله علي اعلانك رقم   @Model.postId
            </a>
        }
        else if (Model.Type == Nop.Web.Controllers.Harag.MessageType.Comment)
        {
            <a href="/Harag/Post/@Model.postId" class="text-danger">
                هذه الرساله بخصوص ردك علي اعلان رقم @Model.postId
            </a>
        }
    </div>
    <div class="det-bottom">
        <p class="text-black-50">@Model.Message</p>
    </div>
</div>