@model Nop.Web.Models.Harag.Message.MessageListModel

@{
    Layout = "~/Themes/Pavilion/Views/Harag/Shared/_Header.cshtml";
}


@{ 
    int postId = 0;
    string postTitle = "";

    if (Model.Post != null)
    {
        postId = Model.Post.Id;
        postTitle = Model.Post.Title;
    }
}
<!-- Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <h4>الرسائل</h4>

                <div id="messages" class="row">
                    @foreach (var item in Model.Messages)
                    {
                        @Html.Partial("~/Themes/Pavilion/Views/Harag/Message/_MessageTemplatePartial.cshtml", item)
                    }
                </div>

                <div class="follow row">
                    <div class="col-xs-12"> 
                       <a  href="/Harag/post/@postId" class="btn btn-default add"> رجوع <i class="fa fa-arrow-left"></i></a> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <textarea id="add-message-js-ajax" class="form-control txtArea" placeholder="أكتب ردك هنا" rows="7"></textarea>
                        <button id="add-message-btn-js" class="btn btn-default add" type="button"> ارسال >>  </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">


      $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.Post.GetCategories")',

            success: function (data) {
                $("#CategoryId-js-ajax").html(data);
            }

        });

    $("#add-message-btn-js").click(function () {

        var text = $("#add-message-js-ajax").val();

        var messageModel = {
            "Message": text + "",
            "PostId": "@postId",
            "FromUserId": "0",
            "ToUserId": "@Model.ToUserId",
            "Type": "@((int)Model.MessageType)"
        };

        console.log(JSON.stringify(messageModel));

        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            url: '/Harag/NewPostMessageAjax/', 
            data: JSON.stringify(messageModel),
            complete: function (data) {
                $("#messages").append(data.responseText);
                $("#add-message-js-ajax").val("");
            }
        });
    });
    $.ajax({
        cache: false,
        type: "GET",
        url: "@(Url.RouteUrl("Consultant.Comment.GetCities"))",
        success: function (data) {
            $("#city-js-ajax").html('');
            $.each(data, function (id, option) {
                $("#city-js-ajax").append($('<option></option>').val(option.Id).html(option.ArName));
            });
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert('Failed to retrieve states.');
        }
    });
     
    $("#addPostForm").submit(function (event) {

        /* stop form from submitting normally */
        event.preventDefault();


        var CategoryId = $('#CategoryId-js-ajax').find(":selected").val();
        var Title = $('#Title-js-ajax').val();
        var Text = $('#Text-js-ajax').val();
        var Contact = $('#Contact-js-ajax').val();
        var CityId = $('#city-js-ajax').val();


        if (CategoryId <= 0) {
            alert("فضلا قم باختيار القسم");
        } else if (CityId <= 0) {
            alert("فضلا قم باختيار القسم");
        }
        else if (Title === null || Title === "") {
            alert("قم بكتابة عنوان الاعلان");
        }
        else if (Text === null || Text === "") {

            alert("فضلا قم باضافه وصف الاعلان ");
        }
        else {


            var postForPostModel = {
                Text: Text,
                Title: Title,
                Contact: Contact,
                CategoryId: CategoryId,
                CityId: CityId,
                Files: Files
            };


            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: '@Url.RouteUrl("Harag.Post.AddNewPostAjax")',
                dataType: 'json',
                data: JSON.stringify(postForPostModel),
                complete: function (data) {
                    if (data.status == 200) {
                        alert("تمت اضافة الاستئارة بنجاح يمكنك الذهاب الى استشاراتى لرؤية الاستشاراة");
                    }
                    else {
                        alert("حدث خطأ ما تأكد من الاتصال بالانترنت");
                    }
                }
            });

            event.preventDefault();
        }

    });
</script>
 