@model List<Nop.Web.Models.Harag.Message.MessageThreadsModel>

@{
    Layout = "~/Themes/Pavilion/Views/Harag/Shared/_Header.cshtml";
}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div class="items">
                        @if (Model.Count <= 0)
                        {
                            <div class="item msgItem">
                                لا يوجد رسائل
                            </div>
                        }
                        else
                        {
                            @foreach (var item in Model)
                            {
                                <div class="item msgItem">
                                    <div class="det">
                                        <a href="/Harag/Messages/Post/@item.postId"><h3>@item.title</h3></a>
                                        <small>منذ 4 دقيقة</small>
                                        <div class="det-det">
                                            <span><i class="fa fa-user"></i> @item.SenderName </span>
                                        </div>
                                        <p>@item.LastMessageText</p>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                    </div>
            </div>
        </div>
    </div>
<!-- Content -->


<script type="text/javascript">


      $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.Post.GetCategories")',

            success: function (data) {
                $("#CategoryId-js-ajax").html(data);
            }

        });


    $.ajax({
        cache: false,
        type: "GET",
        url: "@(Url.RouteUrl("Consultant.Comment.GetCities"))",
        success: function (data) {
            $("#city-js-ajax").html('');
            $.each(data, function (id, option) {
                $("#city-js-ajax").append($('<option></option>').val(option.Id).html(option.ArName));
            });
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert('Failed to retrieve states.');
        }
    });




    function convertToBase64(file) {
        var image;
        var fileReader = new FileReader();

        fileReader.readAsDataURL(file);
        fileReader.onloadend = (e) => {
            image = fileReader.result;
            var indexofcomma = image.indexOf(",");
            var imagebase64 = image.substring(indexofcomma + 1);
            Files.push(imagebase64);
            var index = Files.length - 1;

            $("#images").append("<div  class='col-xs-3  img_blck' style='padding-right:0px' id='imgno" + index + "'>" +
                "<img src='" + image + "' width='100' height='60' />" +
                "<div class='overlay' onclick='deleteFile(" + index + ")'>" +
                "<i class='fa fa-trash imageli' ></i>" +
                "</div>");
        };
    }



    $("#file").change(function (event) {

        if (Files.length >= 5) {
            alert("لقد تجاوزت العدد المسموح من الصور ,مسموح بخمس صور فقط");
        }
        else {

            if (event.target.files && event.target.files[0]) {
                for (var i = 0; i < event.target.files.length; i++) {
                    convertToBase64(event.target.files[i]);
                }
            }
        }
    });

    var Files = [];

    function deleteFile(index) {

        Files.splice(+index, 1);
        $("#imgno" + index).remove();
    }

    $("#addPostForm").submit(function (event) {

        /* stop form from submitting normally */
        event.preventDefault();


        var CategoryId = $('#CategoryId-js-ajax').find(":selected").val();
        var Title = $('#Title-js-ajax').val();
        var Text = $('#Text-js-ajax').val();
        var Contact = $('#Contact-js-ajax').val();
        var CityId = $('#city-js-ajax').val();


        if (CategoryId <= 0) {
            alert("فضلا قم باختيار القسم");
        } else if (CityId <= 0) {
            alert("فضلا قم باختيار القسم");
        }
        else if (Title === null || Title === "") {
            alert("قم بكتابة عنوان الاعلان");
        }
        else if (Text === null || Text === "") {

            alert("فضلا قم باضافه وصف الاعلان ");
        }
        else {


            var postForPostModel = {
                Text: Text,
                Title: Title,
                Contact: Contact,
                CategoryId: CategoryId,
                CityId: CityId,
                Files: Files
            };


            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: '@Url.RouteUrl("Harag.Post.AddNewPostAjax")',
                dataType: 'json',
                data: JSON.stringify(postForPostModel),
                complete: function (data) {
                    if (data.status == 200) {
                        alert("تمت اضافة الاستئارة بنجاح يمكنك الذهاب الى استشاراتى لرؤية الاستشاراة");
                    }
                    else {
                        alert("حدث خطأ ما تأكد من الاتصال بالانترنت");
                    }
                }
            });

            event.preventDefault();
        }

    });
</script>

@*<script type="text/javascript">


            function deleteFile(index) {

                Files.splice(+index, 1);
                $("#imgno" + index).remove();
            }


            $(document).ready(function () {

                $.ajax({
                    type: 'GET',
                    url: '@Url.RouteUrl("Consultant.Post.GetCategories")',

                    success: function (data) {
                        $("#categoryList").html(data);
                    }

                });


                function convertToBase64(file) {
                    var image;
                    var fileReader = new FileReader();

                    fileReader.readAsDataURL(file);
                    fileReader.onloadend = (e) => {
                        image = fileReader.result;
                        var indexofcomma = image.indexOf(",");
                        var imagebase64 = image.substring(indexofcomma + 1);
                        Files.push(imagebase64);
                        var index = Files.length - 1;

                        $("#images").append("<div  class='col-xs-4 img_blck' style='padding-right:0px' id='imgno" + index + "'>" +
                            "<img src='" + image + "' width='100' height='60' />" +
                            "<div class='overlay' onclick='deleteFile(" + index + ")'>" +
                            "<i class='fa fa-trash imageli' ></i>" +
                            "</div>");
                    };
                }



                $("#file").change(function (event) {

                    if (Files.length >= 5) {
                        alert("لقد تجاوزت العدد المسموح من الصور ,مسموح بخمس صور فقط");
                    }
                    else {

                        if (event.target.files && event.target.files[0]) {
                            for (var i = 0; i < event.target.files.length; i++) {
                                convertToBase64(event.target.files[i]);
                            }
                        }
                    }
                });

            });


            var Files = [];


            $("#addPostForm").submit(function (event) {

                /* stop form from submitting normally */
                event.preventDefault();


                var CategoryId = $('#categoryList').find(":selected").val();

                var Title = $('#postTitle').val();
                var Text = $('#postText').val();


                if (CategoryId <= 0) {
                    alert("فضلا قم باختيار التصنيف");
                }
                else if (Title === null || Title === "") {
                    alert("قم بكتابة عنوان الاستشارة");
                }
                else if (!Title.replace(/\s/g, '').length) {
                    alert("قم بكتابة عنوان الاستشارة");
                }
                else if (Text === null || Text === "") {
                    alert("فضلا قم بشرح المشكلة الخاصة بك ");
                }
                else if (!Text.replace(/\s/g, '').length) {
                    alert("فضلا قم بشرح المشكلة الخاصة بك ");
                }
                else {


                    var postForPostModel = {
                        Text: Text,
                        Title: Title,
                        CategoryId: CategoryId,
                        Files: Files
                    };


                    $.ajax({
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        type: "POST",
                        url: '@Url.RouteUrl("Consultant.Post.AddPostAjax")',
                        dataType: 'json',
                        data: JSON.stringify(postForPostModel),
                        complete: function (data) {
                            if (data.status == 200) {
                                alert("تمت اضافة الاستئارة بنجاح يمكنك الذهاب الى استشاراتى لرؤية الاستشاراة");
                            }
                            else {
                                alert("حدث خطأ ما تأكد من الاتصال بالانترنت");
                            }
                        }
                    });

                    event.preventDefault();
                }

            });




    </script>*@
