@{
    Layout = "~/Themes/Pavilion/Views/Consultant/Shared/_Header.cshtml";
}


@{
    string getCustomerPosts = "";
    if (@ViewBag.UserRole == "Registered")
    {
        getCustomerPosts = "getCustomerPosts()";
    }
    else if (@ViewBag.UserRole == "Consultant")
    {
        getCustomerPosts = "getConsultantPosts()";
    }
    else if (@ViewBag.UserRole == "vistor")
    {
        getCustomerPosts = "login()";
    }
}

<style type="text/css">
    .inputActive:focus {
        border: 2px solid green;
    }

    .inputActive {
        color: black;
        font-size: larger;
    }
</style>


@if (ViewBag.UserRole == "Registered")
{
    if (@ViewBag.CanAddNewPost == true)
    {
        <div id="AddPost">

            <div class="row">
                <div class="col-md-9 col-lg-offset-2">
                    <form id="addPostForm">
                        <div class="form-group" style="margin-bottom:5%;">
                            <h3>اسأل استشارى</h3>
                        </div>

                        <div class="form-group" style="margin-bottom:3%;">
                            <select class="form-control   inputActive" id="categoryList" style="border:1px solid green;width:60%;">
                                <option disabled value="">اختر التصنيف</option>
                            </select>
                        </div>

                        <div class="form-group" style="margin-bottom:3%;clear:both;">
                            <input class="form-control form-control-lg inputActive" id="postTitle" style="border:1px solid green;width:80%" type="text" placeholder="عنوان الاستشارة">
                        </div>
                        <div class="form-group" style="margin-bottom:3%;">
                            <textarea class="form-control inputActive" id="postText" style="border:1px solid green;width:100%;" rows="8" placeholder="اشرح المشكلة الخاصة بك"></textarea>
                        </div>
                        <div class="form-group" style="margin-bottom:3%">
                            <p class="file">
                                <input class="form-control-file" id="file" name="file" type="file" style="display:none" value="تحميل صورة">
                                <label for="file">تحميل صورة</label>
                            </p>
                        </div>
                        <div class="form-group" style="margin-bottom:3%;">
                            <button class="form-control" style="text-align:center;background-color:#4da74d;color:white;width:100%" type="submit">نشر</button>
                        </div>
                        <div class="form-group bordering">
                            <div class="images" id="images">

                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    }
    else
    {
        <div id="AddPost">

            <div class="row">
                <div class="col-md-9 col-lg-offset-2">
                    <form id="addPostForm">
                        <div class="form-group" style="margin-bottom:5%;">
                            <h3>لا يمكنك اضافه استشاره الا بعد اغلاق جميع الاستشارات المفتوحه.</h3>
                        </div> 
                    </form>
                </div>

            </div>
        </div>
    }
    <!-- Add Post -->
}



<script type="text/javascript">


        function deleteFile(index) {

            Files.splice(+index, 1);
            $("#imgno" + index).remove();
        }


        $(document).ready(function () {

            $.ajax({
                type: 'GET',
                url: '@Url.RouteUrl("Consultant.Post.GetCategories")',

                success: function (data) {
                    $("#categoryList").html(data);
                }

            });


            function convertToBase64(file) {
                var image;
                var fileReader = new FileReader();

                fileReader.readAsDataURL(file);
                fileReader.onloadend = (e) => {
                    image = fileReader.result;
                    var indexofcomma = image.indexOf(",");
                    var imagebase64 = image.substring(indexofcomma + 1);
                    Files.push(imagebase64);
                    var index = Files.length - 1;

                    $("#images").append("<div  class='col-xs-4 img_blck' style='padding-right:0px' id='imgno" + index + "'>" +
                        "<img src='" + image + "' width='100' height='60' />" +
                        "<div class='overlay' onclick='deleteFile(" + index + ")'>" +
                        "<i class='fa fa-trash imageli' ></i>" +
                        "</div>");
                };
            }



            $("#file").change(function (event) {

                if (Files.length >= 5) {
                    alert("لقد تجاوزت العدد المسموح من الصور ,مسموح بخمس صور فقط");
                }
                else {

                    if (event.target.files && event.target.files[0]) {
                        for (var i = 0; i < event.target.files.length; i++) {
                            convertToBase64(event.target.files[i]);
                        }
                    }
                }
            });

        });


        var Files = [];


        $("#addPostForm").submit(function (event) {

            /* stop form from submitting normally */
            event.preventDefault();


            var CategoryId = $('#categoryList').find(":selected").val();

            var Title = $('#postTitle').val();
            var Text = $('#postText').val();


            if (CategoryId <= 0) {
                alert("فضلا قم باختيار التصنيف");
            }
            else if (Title === null || Title === "") {
                alert("قم بكتابة عنوان الاستشارة");
            }
            else if (!Title.replace(/\s/g, '').length) {
                alert("قم بكتابة عنوان الاستشارة");
            }
            else if (Text === null || Text === "") {
                alert("فضلا قم بشرح المشكلة الخاصة بك ");
            }
            else if (!Text.replace(/\s/g, '').length) {
                alert("فضلا قم بشرح المشكلة الخاصة بك ");
            }
            else {


                var postForPostModel = {
                    Text: Text,
                    Title: Title,
                    CategoryId: CategoryId,
                    Files: Files
                };


                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type: "POST",
                    url: '@Url.RouteUrl("Consultant.Post.AddPostAjax")',
                    dataType: 'json',
                    data: JSON.stringify(postForPostModel),
                    complete: function (data) {
                        if (data.status == 200) {
                            alert("تمت اضافة الاستئارة بنجاح يمكنك الذهاب الى استشاراتى لرؤية الاستشاراة");
                        }
                        else {
                            alert("حدث خطأ ما تأكد من الاتصال بالانترنت");
                        }
                    }
                });

                event.preventDefault();
            }

        });




</script>
