@using Nop.Web.Models.Consultant.Post;
@model PostOutputModel

@{
    Layout = "~/Themes/Pavilion/Views/Consultant/Shared/_Header.cshtml";
}

<link href="~/css/Consultant/CustomerConsultations.css" rel="stylesheet" />

<link href="~/css/Consultant/pagination.css" rel="stylesheet" />

<style type="text/css">
    .btndarckgreen:hover {
        background-color: darkgreen !important;
    }
</style>

<!-- Tab -->


            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" Class="active">
                    <a href="@Url.RouteUrl("Consultant.Post.GetConsultantNotAnsweredPosts")">لم يرد عليها  </a>
                </li>
                <li role="presentation">
                    <a href="@Url.RouteUrl("Consultant.Post.GetConsultantReservedPosts")">المحجوزة</a>
                </li>
                <li role="presentation">
                    <a href="@Url.RouteUrl("Consultant.Post.GetConsultantOpenPosts")">المفتوحة</a>
                </li>
                <li role="presentation">
                    <a href="@Url.RouteUrl("Consultant.Post.GetConsultantClosedPosts")">المغلقة</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                


                @if (Model.Items.Count() <= 0)
                {
                    <div id="tabpanelPosts" style="text-align:center"><b>لا يوجد</b></div>
                }




                @foreach (var post in Model.Items)
                {
                    <div id="tabpanelPosts">
                        <div class="post">
                            <!-- Heading -->
                            <div class="heading">
                                <span>@post.CategoryName <span> /</span> @post.SubCategoryName  </span>
                                <span class="pull-left">
                                    @if (ViewBag.UserRole == "Vistor")
                                    {
                                        @if (post.IsClosed)
                                        {
                                            <span class="status closed">
                                                مغلقة
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="status open">
                                                مفتوحة
                                            </span>
                                        }
                                    }

                                    @if (ViewBag.UserRole == "Registered")
                                    {
                                        @if (post.IsClosed)
                                        {
                                            <span class="status closed">
                                                مغلقة
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="status open">
                                                مفتوحة
                                            </span>
                                        }
                                    }

                                    @if (ViewBag.UserRole == "Consultant")
                                    {
                                        @if (post.IsClosed == true)
                                        {
                                            <span class="status closed">
                                                @Html.Raw(" مغلقة ")
                                            </span>
                                        }
                                        else if (!post.IsClosed && post.IsAnswered)
                                        {
                                            <span class="status open">
                                                @Html.Raw(" مفتوحة ")
                                            </span>
                                        }
                                        else if (!post.IsClosed && !post.IsAnswered && post.IsReserved)
                                        {
                                            <span class="status open">
                                                @Html.Raw(" محجوزة ")
                                            </span>
                                        }
                                        else if (!post.IsClosed && !post.IsAnswered && !post.IsReserved)
                                        {
                                            <span class="status open">
                                                @Html.Raw(" لم يرد عليها ")
                                            </span>
                                        }
                                    }


                                    @if (post.Rate != null)
                                    {
                                        <span class="separator"> | </span>
                                        @if (post.IsClosed)
                                        {
                                            <span>
                                                @if (post.Rate >= 1)
                                                {
                                                    <i class="fa fa-star orange-star"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-star"></i>
                                                }
                                                @if (post.Rate >= 2)
                                                {
                                                    <i class="fa fa-star orange-star"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-star"></i>
                                                }
                                                @if (post.Rate >= 3)
                                                {
                                                    <i class="fa fa-star orange-star"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-star"></i>
                                                }
                                                @if (post.Rate >= 4)
                                                {
                                                    <i class="fa fa-star orange-star"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-star"></i>
                                                }
                                                @if (post.Rate >= 5)
                                                {
                                                    <i class="fa fa-star orange-star"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-star"></i>
                                                }

                                            </span>
                                        }
                                    }
                                </span>
                            </div>
                            <!-- Body -->
                            <div class="post-body" style="overflow-wrap:break-word;">
                                <div class="row">
                                    <div class="col-xs-2 text-center">
                                        <img class="userimagelarge" src="~/images/Consultant/images/no-img.png" />
                                        <img class="userimagemedium" src="~/images/Consultant/images/no-img-mobile.png" style="width:50px;height:50px;" />
                                        <img class="userimagesmall" src="~/images/Consultant/images/no-img-mobile.png" style="width:35px;height:35px;" />
                                    </div>
                                    <div class="col-xs-10">
                                        <h4>@post.PostOwner</h4>
                                        <span>@post.DateCreated.ToLongDateString() &nbsp;&nbsp;&nbsp; @post.DateCreated.ToString("hh:mm:ss")</span>
                                        <div>
                                            <h4>
                                                @post.Title
                                            </h4>
                                        </div>
                                        <p>
                                            @post.Text
                                        </p>
                                        @if (@post.Photo != null)
                                        {
                                        <div style="width:160px;display:inline;">
                                            <a href="@post.Photo" data-lightbox="image-@post.Id" data-title="My caption"><img src="@post.Photo" alt="Single Image" style="width:150px;height:150px;" /></a>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <!-- Footer -->
                            <div class="post-footer">
                                <div class="pull-left">
                                    @Html.Partial("/Themes/Pavilion/Views/Consultant/Post/ShareButtonsa.cshtml", Url.Link("Consultant.Post.GetPost", new { PostId = @post.Id }))

                                    <a href="@Url.RouteUrl("Consultant.Post.GetPost",new { PostId=@post.Id})">
                                        <span class="buton primary btndarckgreen"> التفاصيل </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }






                @if (Model.Paging.PageNumber <= Model.Paging.TotalPages)
                {


                    @if (Model.Links.Count == 2)
                    {
                        @if (Model.Paging.PageNumber == 1)
                        {
                            <!-- Pager -->
                            <nav class="pagination-outer" aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" aria-label="Next" onclick="getPostPaging('@Model.Links[1]?.Href')">
                                            <span aria-hidden="true"> <<< </span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link">@Model.Paging.PageNumber</a>
                                    </li>

                                </ul>
                            </nav>
                        }
                        else if (Model.Paging.PageNumber == Model.Paging.TotalPages)
                        {
                            <!-- Pager -->
                            <nav class="pagination-outer" aria-label="Page navigation">
                                <ul class="pagination">

                                    <li class="page-item">
                                        <a class="page-link">@Model.Paging.PageNumber</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" aria-label="Previous" onclick="getPostPaging('@Model.Links[0]?.Href')">
                                            <span aria-hidden="true"> >>> </span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        }
                    }
                    else if (Model.Links.Count > 2)
                    {
                        <!-- Pager -->
                        <nav class="pagination-outer" aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" aria-label="Next" onclick="getPostPaging('@Model.Links[2]?.Href')">
                                        <span aria-hidden="true"> <<< </span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link">@Model.Paging.PageNumber</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" aria-label="Previous" onclick="getPostPaging('@Model.Links[0]?.Href')">
                                        <span aria-hidden="true"> >>> </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    }



                }





                <not-found *ngIf="!unassignedPosts.length"></not-found>
                <tw-pagination *ngIf="unassignedPosts.length" [numberOfPages]="paging?.totalPages" (pageChanged)="unassignedPageChanged($event)"></tw-pagination>
            </div>
        




            <script type="text/javascript">


                function getPostPaging(url) {

                    var indexmyurl = url.indexOf("Consultations/Consultations");
                    var myurl = url.substring(indexmyurl);
                    window.location.href = myurl;

                }
            </script>