@using Nop.Web.Models.Consultant.Post;
@model PostWithFilesModel

@{
    Layout = "~/Themes/Pavilion/Views/Consultant/Shared/_Header.cshtml";
}


@{
    var PostId = Model.Id;
    var PostOwner = ViewBag.UserName;
}


<link href="~/css/Consultant/PostDetails.css" rel="stylesheet" />



<style type="text/css">
    .orange-star {
        color: orange !important;
    }

    .btndarckgreen:hover {
        background-color: darkgreen !important;
    }
</style>

<!-- Details -->

<div class="post">
    <!-- Heading -->
    <div class="heading">
        <div>
            @if (!Model.IsClosed && !Model.IsReserved && !Model.IsAnswered && ViewBag.UserRole == "Consultant")
            {

                <button onclick="ReservePost(@Model.Id)" style="margin-bottom:2%;" class="btndarckgreen"> حجز الاستشارة </button>
            }
            @if (!Model.IsClosed && Model.IsReserved && !Model.IsAnswered && ViewBag.UserRole == "Consultant")
            {

                <button onclick="UnReservePost(@Model.Id)" style="margin-bottom:2%;" class="btndarckgreen"> فك الحجز </button>
            }
        </div>
        <span> <span id="CategoryNameSpan">@Model.CategoryName</span>  / <span id="SubCategoryNameSpan">@Model.SubCategoryName</span> </span>
        @if (!Model.IsClosed && (Model.IsAnswered || Model.IsReserved) && ViewBag.UserRole == "Consultant")
        {

            <button id="Ahmed" onclick="changeCatAndSub()" class="btndarckgreen"> تعديل </button>
        }
        @*onclick="changeCatAndSub()"*@
        <span class="pull-left">
            @if (ViewBag.UserRole == "Vistor")
            {
                @if (Model.IsClosed)
                {
                    <span class="status closed">
                        مغلقة
                    </span>
                }
                else
                {
                    <span class="status open">
                        مفتوحة
                    </span>
                }
            }
            @if (ViewBag.UserRole == "Registered")
            {
                @if (Model.IsClosed)
                {
                    <span class="status closed">
                        مغلقة
                    </span>
                }
                else
                {
                    <span class="status open">
                        مفتوحة
                    </span>
                }
            }

            @if (ViewBag.UserRole == "Consultant")
            {
                @if (Model.IsClosed == true)
                {
                    <span class="status closed">
                        @Html.Raw(" مغلقة ")
                    </span>
                }
                else if (!Model.IsClosed && Model.IsAnswered)
                {
                    <span class="status open">
                        @Html.Raw(" مفتوحة ")
                    </span>
                }
                else if (!Model.IsClosed && !Model.IsAnswered && Model.IsReserved)
                {
                    <span class="status open">
                        @Html.Raw(" محجوزة ")
                    </span>
                }
                else if (!Model.IsClosed && !Model.IsAnswered && !Model.IsReserved)
                {
                    <span class="status open">
                        @Html.Raw(" لم يرد عليها ")
                    </span>
                }
            }

            @if (Model.Rate != null)
            {
                <span class="separator"> | </span>
                @*@if (Model.IsClosed)
                    {*@
                <span>
                    @if (Model.Rate >= 1)
                    {
                        <i class="fa fa-star orange-star"></i>
                    }
                    else
                    {
                        <i class="fa fa-star"></i>
                    }
                    @if (Model.Rate >= 2)
                    {
                        <i class="fa fa-star orange-star"></i>
                    }
                    else
                    {
                        <i class="fa fa-star"></i>
                    }
                    @if (Model.Rate >= 3)
                    {
                        <i class="fa fa-star orange-star"></i>
                    }
                    else
                    {
                        <i class="fa fa-star"></i>
                    }
                    @if (Model.Rate >= 4)
                    {
                        <i class="fa fa-star orange-star"></i>
                    }
                    else
                    {
                        <i class="fa fa-star"></i>
                    }
                    @if (Model.Rate >= 5)
                    {
                        <i class="fa fa-star orange-star"></i>
                    }
                    else
                    {
                        <i class="fa fa-star"></i>
                    }

                </span>
                //}
            }
        </span>
    </div>
    <!-- Body -->
    <div class="post-body">
        <div class="row">

            <div class="col-xs-2 text-center">
                <img class="userimagelarge" src="~/images/Consultant/images/no-img.png" />
                <img class="userimagemedium" src="~/images/Consultant/images/no-img-mobile.png" style="width:50px;height:50px;" />
                <img class="userimagesmall" src="~/images/Consultant/images/no-img-mobile.png" style="width:35px;height:35px;" />
            </div>

            <div class="col-xs-10">
                <h4>@Model.PostOwner</h4>
                <span>@Model.DateCreated.ToLongDateString() &nbsp;&nbsp;&nbsp; @Model.DateCreated.ToString("hh:mm:ss")</span>

                <h4>
                    @Model.Title
                </h4>
                <p>
                    @Model.Text
                </p>
                @foreach (var image in Model.Files)
                {
                    <div style="width:160px;display:inline;">
                        <a href="@image" data-lightbox="image-@Model.Id" data-title="My caption"><img src="@image" alt="Single Image" style="width:150px;height:150px;" /></a>
                    </div>
                }

            </div>
        </div>

        <hr />




        <div id="comments">

        </div>



    </div>
    <!-- Footer -->
    @if (!Model.IsClosed && ViewBag.UserRole == "Registered")
    {
        <div class="post-footer">
            <strong> قم بتقييم المستشار </strong>
            <span id="test" class="will-rate">
                <i class="fa fa-star-o" onclick="RatePost(@Model.Id,1,this)"></i>
                <i class="fa fa-star-o" onclick="RatePost(@Model.Id,2,this)"></i>
                <i class="fa fa-star-o" onclick="RatePost(@Model.Id,3,this)"></i>
                <i class="fa fa-star-o" onclick="RatePost(@Model.Id,4,this)"></i>
                <i class="fa fa-star-o" onclick="RatePost(@Model.Id,5,this)"></i>
            </span>

            <button class="pull-left btndarckgreen" onclick="closePost('@Model.Id')">غلق الاستشارة</button>
        </div>
    }
</div>


<div id="changeCatAndSubDiv" class="modal" tabindex="-1" role="dialog" Style="display:none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title"> تعديل التصنيف</h4>
            </div>
            <div class="modal-body">
                <form>

                    @*<select id="CategorySelectList"></select>*@
                    <select id="subCategoriesSelectList"></select>
                    <div style="width:100px;background-color:red;" id="Ahmed"></div>
                    <div class="modal-footer">
                        <button type="button" onclick="submitChangeCatAndSub()" class="btn btn-success">تعديل</button>
                        

                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div><!-- /.modal !-->






<script type="text/javascript">

   $("#changeCatAndSubDiv").on("click", "#Ahmed", function () {

         $("#CategoryNameSpan").text('@Model.CategoryName');
         @*$.ajax({
        type: "GET",
        url: "/Consultations/Post/GetCategory?categoryId="+@Model.CategoryId+"",

        success: function (data) {
            $("#changeCatAndSubDiv").html(data);

            console.log("cate " +@Model.CategoryId);
            $("#changeCatAndSubDiv").css("display","block");
        }
    });*@
    });

    $.ajax({
        type: 'GET',
        url: '@Url.RouteUrl("Consultant.Comment.GetCommentsByPostId")',
        data: { PostId: @Model.Id },
        success: function (data) {
            $("#comments").html(data);
        }
    });



    function closePost(Id) {

        var closePostModel = {
            Id: Id
        };

        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            url: '@Url.RouteUrl("Consultant.Post.ClosePost")',
            dataType: 'json',
            data: JSON.stringify(closePostModel),
            complete: function (data) {
                if (data.status == 200) {
                    alert("تمت غلق الاستئارة بنجاح");
                    window.location.reload();
                }
                else {
                    alert(" لا يمكن غلق الاستشارة قبل الرد عليها من قبل المستشار ومن ثم تقييم المستشار");
                }
            }
        });
    }



    function RatePost(Id, Rate,element) {

        var RatePostModel = {
            Id: Id,
            Rate: Rate
        };

        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            url: '@Url.RouteUrl("Consultant.Post.RatePost")',
            dataType: 'json',
            data: JSON.stringify(RatePostModel),
            complete: function (data) {
                if (data.status == 200) {
                    alert(" تمت نقييم الاستشارة بنجاح , التقييم " + Rate);
                    window.location.reload();
                }
                else {
                    alert(" لا يمكن تقييم الاستشارة قبل الرد عليها من قبل المستشار");
                }
            }
        });
    }




    function ReservePost(PostId) {

        var reservePost = {
            PostId: PostId
        };

        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            url: '@Url.RouteUrl("Consultant.Post.ReservePost")',
            dataType: 'json',
            data: JSON.stringify(reservePost),
            complete: function (data) {
                if (data.status == 200) {
                    alert("تمت حجز الاستئارة بنجاح");
                    window.location.reload();
                }
                else {
                    alert("حدث خطأ ما");
                }
            }
        });
    }



    function UnReservePost(PostId) {

        var reservePost = {
            PostId: PostId
        };

        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            url: '@Url.RouteUrl("Consultant.Post.UnReservePost")',
            dataType: 'json',
            data: JSON.stringify(reservePost),
            complete: function (data) {
                if (data.status == 200) {
                    alert("تمت فك حجز الاستئارة بنجاح");
                    window.location.reload();
                }
                else {
                    alert("حدث خطأ ما");
                }
            }
        });
    }




    function changeCatAndSub() {
        $.ajax({
        type: "GET",
        url: "/Consultations/Post/GetCategory?categoryId="+@Model.CategoryId+"",

        success: function (data) {
            $("#changeCatAndSubDiv").html(data);

            console.log("cate " +@Model.CategoryId);
            $("#changeCatAndSubDiv").css("display","block");
        }
    });

    }

    //$('#CategorySelectList').find(":selected").val();
    //$('#CategorySelectList').find(":selected").text()

    function submitChangeCatAndSub()
    {
        var CategoryId =@Model.CategoryId;
        var SelectedCategoryName ='@Model.CategoryName';

        var SubCategoryId = $('#subCategoriesSelectList').find(":selected").val();


        var SelectedSubCategoryName = $('#subCategoriesSelectList').find(":selected").text();

        var PostId = @Model.Id;

        var model = {
            PostId: PostId,
            CategoryId: CategoryId,
            SubCategoryId: SubCategoryId
        }

        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            url: '@Url.RouteUrl("Consultant.Post.SetPostToCategoryAndSubCategory")',
            dataType: 'json',
            data: JSON.stringify(model),
            complete: function (data) {
                if (data.status == 200) {
                    $("#changeCatAndSubDiv").css("display", "none");
                    alert("تمت التغيير  بنجاح");
                    @*$("#CategoryNameSpan").text('@Model.CategoryName');*@
                    $("#SubCategoryNameSpan").text(SelectedSubCategoryName);
                }
                else {
                    alert("حدث خطأ ما");
                    $("#changeCatAndSubDiv").css("display", "none");
                }
            }
        });
    }
    function closePopupModel() {
        $("#changeCatAndSubDiv").css("display", "none");
    }



    function addCommentConsultant() {
        var Text = $("#CommentText").val();

        if (Text === null || Text === '') {
            alert("فضلا قم بكتابة التعليق اولا");
        }
        else if (!Text.replace(/\s/g, '').length) {
            alert("فضلا قم بكتابة التعليق اولا");
        }
        else {

            var width = window.innerWidth;
            var imagehtml = "<img src='/images/Consultant/images/no-img-consultant.png' />";
            if (width <= 400) {
                imagehtml = "<img src='/images/Consultant/images/no-img-consultant.png' style='width:35px; height:35px;'/>";
            }
            else if (width > 400 && width <= 600) {
                imagehtml = "<img src='/images/Consultant/images/no-img-consultant.png' style='width:50px; height:50px;'/>";
            }
            else if (width > 600){
                imagehtml = "<img src='/images/Consultant/images/no-img-consultant.png' />";
            }

            var PostOwner = '@PostOwner';
            var datetimenow = new Date().toLocaleString();

            var CommentForPostModel = {
                PostId: @PostId,
                Text: Text
            };


            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: '@Url.RouteUrl("Consultant.Comment.AddComment")',
                dataType: 'json',
                data: JSON.stringify(CommentForPostModel),
                complete: function (data) {
                    if (data.status == 201) {

                        $("#commentDivToAppending").append(
                            "<div class='comments'>" +
                            "<div class='comment'>" +
                            "<div class='row'>" +
                            "<div class='col-xs-2 text-center'>" +
                            //"<img src='/images/Consultant/images/no-img-consultant.png' />" +
                            imagehtml+
                            "</div>" +
                            "<div class='col-xs-10'>" +
                            "<h4>" + PostOwner + "</h4>" +
                            //"<span>" + datetimenow + "</span>" +
                            "<p>" + Text + "</p>" +
                            "</div>" +
                            "</div>" +
                            "</div>" +
                            "</div>"
                        );

                        $("#CommentText").val("");

                    }
                    else {
                        alert("حدث خطأ ما");
                    }
                }
            });

        }

    }

    function addComment() {

        var Text = $("#CommentText").val();

        if (Text === null || Text === '') {
            alert("فضلا قم بكتابة التعليق اولا");
        }
        else if (!Text.replace(/\s/g, '').length) {
            alert("فضلا قم بكتابة التعليق اولا");
        }
        else {

            var width = window.innerWidth;
            var imagehtml = "<img src='/images/Consultant/images/no-img.png' />";
            if (width <= 400) {
                imagehtml = "<img src='/images/Consultant/images/no-img.png' style='width:35px; height:35px;'/>";
            }
            else if (width > 400 && width <= 600) {
                imagehtml = "<img src='/images/Consultant/images/no-img.png' style='width:50px; height:50px;'/>";
            }
            else if (width > 600) {
                imagehtml = "<img src='/images/Consultant/images/no-img.png' />";
            }

            var PostOwner = '@PostOwner';
            var datetimenow = new Date().toLocaleString();

            var CommentForPostModel = {
                PostId: @PostId,
                Text: Text
            };


            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: '@Url.RouteUrl("Consultant.Comment.AddComment")',
                dataType: 'json',
                data: JSON.stringify(CommentForPostModel),
                complete: function (data) {
                    if (data.status == 201) {

                        $("#commentDivToAppending").append(
                            "<div class='comments'>" +
                            "<div class='comment'>" +
                            "<div class='row'>" +
                            "<div class='col-xs-2 text-center'>" +
                            //"<img src='/images/Consultant/images/no-img.png' />" +
                            imagehtml+
                            "</div>" +
                            "<div class='col-xs-10'>" +
                            "<h4>" + PostOwner + "</h4>" +
                            //"<span>" + datetimenow + "</span>" +
                            "<p>" + Text + "</p>" +
                            "</div>" +
                            "</div>" +
                            "</div>" +
                            "</div>"
                        );

                        $("#CommentText").val("");

                    }
                    else {
                        alert("حدث خطأ ما");
                    }
                }
            });

        }
    }

</script>