@using Nop.Web.Models.Consultant.Post;
@model PostWithFilesModel

@{
    Layout = "~/Themes/Pavilion/Views/Consultant/Shared/_Header.cshtml";
}


@{
    var PostId = Model.Id;
    var PostOwner = ViewBag.UserName;
}


<link href="~/css/Consultant/PostDetails.css" rel="stylesheet" />
<link href="~/../Themes/Pavilion/Content/css/pages.css" />


<style type="text/css">
    .orange-star {
        color: orange !important;
    }

    .btndarckgreen:hover {
        background-color: darkgreen !important;
    }

    .active-rate {
        background: orange !important;
    }

    .comment .comment-content {
        font-size: 16px;
        color: #000;
        background: #eee;
        padding: 5px 10px;
        width: 95%;
        border-radius: 20px;
        margin-bottom: 0;
    }
    /* Advertise Details */
    .content .det-block {
        display: table;
        border-radius: 4px;
        min-height: 50px;
        background: #f3f9f7;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 15px;
        margin-bottom: 10px;
    }

        .content .det-block .det-top {
            padding: 10px;
            padding-bottom: 6px;
            border-bottom: 1px solid #ddd;
            border: 1px solid #ebe7d1;
            border-radius: 4px 4px 0px 0px;
            border-bottom: 1px solid #ebe7d1;
            border-top: 1px solid #ebe7d1;
            background-color: #f8f6e7;
            /*padding-top: 20px;*/
            font-family: "Times New Roman",Times,serif;
        }

            .content .det-block .det-top h4 {
                margin-top: 0;
                font-weight: bold;
                color: #4da74d !important;
                font-size: 24px;
            }

            .content .det-block .det-top small {
                color: #777;
                line-height: 42px;
            }

            .content .det-block .det-top a span {
                padding-left: 30px;
                color: #5c9ac6;
                font-size: 1.82rem;
            }

            .content .det-block .det-top span:hover {
                color: #4da74d
            }

        .content .det-block .det-bottom {
            padding: 10px; /*padding-right: 30px;*/
        }

            .content .det-block .det-bottom p {
                padding: 10px;
                font-size: 26px;
                color: black;
                font-family: Tahoma;
            }

            .content .det-block .det-bottom img {
                width: 75%;
                float: right;
                margin-left: 15px;
                margin-bottom: 30px;
            }

            .content .det-block .det-bottom span.label {
                font-size: 13px
            }

            .content .det-block .det-bottom p.phone {
                font-size: 22px;
                color: #4da74d;
                padding-right: 0;
                margin-top: 10px;
            }

    .content .social-contact {
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px 18px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 30px
    }

        .content .social-contact a {
            cursor: pointer;
            color: #777
        }

            .content .social-contact a:hover {
                color: #4da74d
            }

    .content .follow button i {
        color: #777
    }

    .content .advBox {
        width: 100%;
        min-height: 200px;
        padding: 15px 12px;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-bottom: 25px;
    }
</style>

<!-- Details -->

<div class="">
    <!-- Heading -->
    <div class="heading">
        <div>
            @if (!Model.IsClosed && !Model.IsReserved && !Model.IsAnswered && ViewBag.UserRole == "Consultant")
            {

                <button onclick="ReservePost(@Model.Id)" style="margin-bottom:2%;" class="btndarckgreen"> حجز الاستشارة </button>
            }
            @if (!Model.IsClosed && Model.IsReserved && !Model.IsAnswered && ViewBag.UserRole == "Consultant")
            {

                <button onclick="UnReservePost(@Model.Id)" style="margin-bottom:2%;" class="btndarckgreen"> فك الحجز </button>
            }
        </div>
        @*<span> <span id="CategoryNameSpan">@Model.CategoryName</span>  / <span id="SubCategoryNameSpan">@Model.SubCategoryName</span> </span>*@
        @if (!Model.IsClosed && (Model.IsAnswered || Model.IsReserved) && ViewBag.UserRole == "Consultant")
        {
            
            <button id="Ahmed" onclick="changeCatAndSub()" class="btndarckgreen"> تعديل </button>
        }
        @*onclick="changeCatAndSub()"*@
        <span class="pull-left">
            @if (ViewBag.UserRole == "Vistor")
            {
                @if (Model.IsClosed)
                {
                    @*<span class="status closed">
                            مغلقة
                        </span>*@
                }
                else
                {
                    <span class="status open">
                        مفتوحة
                    </span>
                }
            }
            @if (ViewBag.UserRole == "Registered")
            {
                @if (Model.IsClosed)
                {
                    @*<span class="status closed">
                            مغلقة
                        </span>*@
                }
                else
                {
                    <span class="status open">
                        مفتوحة
                    </span>
                }
            }

            @if (ViewBag.UserRole == "Consultant")
            {
                @if (Model.IsClosed == true)
                {
                    <span class="status closed">
                        @Html.Raw(" مغلقة ")
                    </span>
                }
                else if (!Model.IsClosed && Model.IsAnswered)
                {
                    <span class="status open">
                        @Html.Raw(" مفتوحة ")
                    </span>
                }
                else if (!Model.IsClosed && !Model.IsAnswered && Model.IsReserved)
                {
                    <span class="status open">
                        @Html.Raw(" محجوزة ")
                    </span>
                }
                else if (!Model.IsClosed && !Model.IsAnswered && !Model.IsReserved)
                {
                    <span class="status open">
                        @Html.Raw(" لم يرد عليها ")
                    </span>
                }
            }

            @if (Model.Rate != null)
            {
                <span class="separator"> | </span>
                @*@if (Model.IsClosed)
                    {*@
                <span>
                    @if (Model.Rate >= 1)
                    {
                        <i class="fa fa-star orange-star"></i>
                    }
                    else
                    {
                        <i class="fa fa-star"></i>
                    }
                    @if (Model.Rate >= 2)
                    {
                        <i class="fa fa-star orange-star"></i>
                    }
                    else
                    {
                        <i class="fa fa-star"></i>
                    }
                    @if (Model.Rate >= 3)
                    {
                        <i class="fa fa-star orange-star"></i>
                    }
                    else
                    {
                        <i class="fa fa-star"></i>
                    }
                    @if (Model.Rate >= 4)
                    {
                        <i class="fa fa-star orange-star"></i>
                    }
                    else
                    {
                        <i class="fa fa-star"></i>
                    }
                    @if (Model.Rate >= 5)
                    {
                        <i class="fa fa-star orange-star"></i>
                    }
                    else
                    {
                        <i class="fa fa-star"></i>
                    }

                </span>
                //}
            }
        </span>
    </div>
    

    <!-- Footer -->
    <div class="post-footer">
        @if (!Model.IsClosed && ViewBag.UserRole == "Registered")
        {<strong> قم بتقييم المستشار </strong>
            <span id="test" class="will-rate">
                <i class="fa fa-star-o" onclick="RatePost(@Model.Id,5,this)"></i>
                <i class="fa fa-star-o" onclick="RatePost(@Model.Id,4,this)"></i>
                <i class="fa fa-star-o" onclick="RatePost(@Model.Id,3,this)"></i>
                <i class="fa fa-star-o" onclick="RatePost(@Model.Id,2,this)"></i>
                <i class="fa fa-star-o" onclick="RatePost(@Model.Id,1,this)"></i>
            </span>

            <button class="pull-left btndarckgreen" onclick="closePost('@Model.Id')">غلق الاستشارة</button>
        }

        @*@Html.Partial("/Themes/Pavilion/Views/Consultant/Post/ShareButtonsa.cshtml", Url.Link("Consultant.Post.GetPost", new { PostId = Model.Id }))*@
    </div>
</div>


<div class="content">
    <div class="cont det-block">
        <div class="">
            <div class="det-top">
                <h4> >> @Model.Title</h4>

                <div class="det-det">

                    <div class="row" style="padding-right: 20px">
                        <div class="col-md-7">
                            <div class="row">
                                <strong> <i class="fa fa-sitemap"></i> <span id="CategoryNameSpan">@Model.CategoryName</span>  / <span id="SubCategoryNameSpan">@Model.SubCategoryName</span> </strong>
                            </div>
                            <div class="row">
                                <small>
                                    @Model.DateCreated.ToLongDateString() &nbsp;&nbsp;&nbsp; @Model.DateCreated.ToString("hh:mm:ss")
                                </small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <a href="/Harag/user/@Model.PostOwner"><span><i class="fa fa-user"></i> @Model.PostOwner </span></a>
                            </div>
                            @*<div class="row"> <span class="text-gray"> #@Model.Id </span> </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="det-bottom">
                <p>@Model.Text</p>
                @foreach (var image in Model.Files)
                {
                    <div class="col-xs-12">
                        <a href="@image" data-lightbox="image-@Model.Id" data-title="My caption">
                            <img src="@image" alt="Single Image" />
                        </a>
                    </div>
                }
            </div>
        </div>
        <div>
            @Html.Partial("/Themes/Pavilion/Views/Consultant/Post/ShareButtonsa.cshtml", Url.Link("Consultant.Post.GetPost", new { PostId = Model.Id }))
        </div>
        <div id="comments"> </div>
    </div>
</div>

<div id="changeCatAndSubDiv" class="modal" tabindex="-1" role="dialog" Style="display:none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> تعديل التصنيف</h4>
            </div>
            <div class="modal-body">
                <form>
                    @*<select id="CategorySelectList"></select>*@
                    <select id="subCategoriesSelectList"></select>
                    <div style="width:100px;background-color:red;" id="Ahmed"></div>
                    <div class="modal-footer">
                        <button type="button" onclick="submitChangeCatAndSub()" class="btn btn-success">تعديل</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div><!-- /.modal !-->

<script type="text/javascript">

    $('#test > i').mouseenter(function () {
        $('#test > i').removeClass("active-rate");
        $(this).addClass("active-rate");
        $('.active-rate ~ i').addClass("active-rate");
    });

    $('#test > i').mouseleave(function () {
        $('#test > i').removeClass("active-rate");

    });

    function deleteFile(index) {

        Files.splice(+index, 1);
        $("#imgno" + index).remove();
    }


    $.ajax({
        type: 'GET',
        url: '@Url.RouteUrl("Consultant.Comment.GetCommentsByPostId")',
        data: { PostId: @Model.Id },
        success: function (data) {
            $("#comments").html(data);
        }
    });



    function closePost(Id) {

        var closePostModel = {
            Id: Id
        };

        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            url: '@Url.RouteUrl("Consultant.Post.ClosePost")',
            dataType: 'json',
            data: JSON.stringify(closePostModel),
            complete: function (data) {
                if (data.status == 200) {
                    alert("تمت غلق الاستئارة بنجاح");
                    window.location.reload();
                }
                else {
                    alert(" لا يمكن غلق الاستشارة قبل الرد عليها من قبل المستشار ومن ثم تقييم المستشار");
                }
            }
        });
    }



    function RatePost(Id, Rate,element) {

        var RatePostModel = {
            Id: Id,
            Rate: Rate
        };

        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            url: '@Url.RouteUrl("Consultant.Post.RatePost")',
            dataType: 'json',
            data: JSON.stringify(RatePostModel),
            complete: function (data) {
                if (data.status == 200) {
                    alert(" تمت نقييم الاستشارة بنجاح , التقييم " + Rate);
                    window.location.reload();
                }
                else {
                    alert(" لا يمكن تقييم الاستشارة قبل الرد عليها من قبل المستشار");
                }
            }
        });
    }




    function ReservePost(PostId) {

        var reservePost = {
            PostId: PostId
        };

        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            url: '@Url.RouteUrl("Consultant.Post.ReservePost")',
            dataType: 'json',
            data: JSON.stringify(reservePost),
            complete: function (data) {
                if (data.status == 200) {
                    alert("تمت حجز الاستئارة بنجاح");
                    window.location.reload();
                }
                else {
                    alert("حدث خطأ ما");
                }
            }
        });
    }



    function UnReservePost(PostId) {

        var reservePost = {
            PostId: PostId
        };

        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            url: '@Url.RouteUrl("Consultant.Post.UnReservePost")',
            dataType: 'json',
            data: JSON.stringify(reservePost),
            complete: function (data) {
                if (data.status == 200) {
                    alert("تمت فك حجز الاستئارة بنجاح");
                    window.location.reload();
                }
                else {
                    alert("حدث خطأ ما");
                }
            }
        });
    }




    function changeCatAndSub() {
        $.ajax({
        type: "GET",
        url: "/Consultations/Post/GetCategory?categoryId="+@Model.CategoryId+"",

        success: function (data) {
            $("#changeCatAndSubDiv").html(data);

            console.log("cate " +@Model.CategoryId);
            $("#changeCatAndSubDiv").css("display","block");
        }
    });

    }

    //$('#CategorySelectList').find(":selected").val();
    //$('#CategorySelectList').find(":selected").text()

    function submitChangeCatAndSub()
    {
        var CategoryId =@Model.CategoryId;
        var SelectedCategoryName ='@Model.CategoryName';

        var SubCategoryId = $('#subCategoriesSelectList').find(":selected").val();


        var SelectedSubCategoryName = $('#subCategoriesSelectList').find(":selected").text();

        var PostId = @Model.Id;

        var model = {
            PostId: PostId,
            CategoryId: CategoryId,
            SubCategoryId: SubCategoryId
        }

        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            url: '@Url.RouteUrl("Consultant.Post.SetPostToCategoryAndSubCategory")',
            dataType: 'json',
            data: JSON.stringify(model),
            complete: function (data) {
                if (data.status == 200) {
                    $("#changeCatAndSubDiv").css("display", "none");
                    alert("تمت التغيير  بنجاح");
                    @*$("#CategoryNameSpan").text('@Model.CategoryName');*@
                    $("#SubCategoryNameSpan").text(SelectedSubCategoryName);
                }
                else {
                    alert("حدث خطأ ما");
                    $("#changeCatAndSubDiv").css("display", "none");
                }
            }
        });
    }
    function closePopupModel() {
        $("#changeCatAndSubDiv").css("display", "none");
    }

    var Files = [];

    function addCommentConsultant() {
        var Text = $("#CommentText-consult").val() + ' ';

        if ((Text === null || Text === '') && Files.length == 0) {
            alert("  فضلا قم بكتابة التعليق او اضافه صوره");
        }
        else {

            var width = window.innerWidth;
            var imagehtml = "<img src='/images/Consultant/images/no-img-consultant.png' />";
            if (width <= 400) {
                imagehtml = "<img src='/images/Consultant/images/no-img-consultant.png' style='width:35px; height:35px;'/>";
            }
            else if (width > 400 && width <= 600) {
                imagehtml = "<img src='/images/Consultant/images/no-img-consultant.png' style='width:50px; height:50px;'/>";
            }
            else if (width > 600){
                imagehtml = "<img src='/images/Consultant/images/no-img-consultant.png' />";
            }

            var PostOwner = '@PostOwner';
            var datetimenow = new Date().toLocaleString();

            var CommentForPostModel = {
                PostId: @PostId,
                Text: Text,
                Files: Files
            };


            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: '@Url.RouteUrl("Consultant.Comment.AddComment")',
                dataType: 'json',
                data: JSON.stringify(CommentForPostModel),
                complete: function (data) {
                    console.log($("#commentDivToAppending"));
                    appendComment(data);
                    $("#CommentText").val("");
                    var i = 0;
                    Files.forEach(function (d) {
                        deleteFile(i++);
                    })
                }
            });


            $.ajax({
                type: 'GET',
                url: '@Url.RouteUrl("Consultant.Comment.GetCommentsByPostId")',
                data: { PostId: @Model.Id },
                success: function (data) {
                    $("#comments").html(data);
                }
            });

        }

    }

    function appendComment(data) {
        $("#commentDivToAppending").append(data);
    }

    function addComment() {

        var Text = $("#CommentText").val();

        if (Text === null || Text === '') {
            alert("فضلا قم بكتابة التعليق اولا");
        }
        else if (!Text.replace(/\s/g, '').length) {
            alert("فضلا قم بكتابة التعليق اولا");
        }
        else {

            var width = window.innerWidth;
            var imagehtml = "<img src='/images/Consultant/images/no-img.png' />";
            if (width <= 400) {
                imagehtml = "<img src='/images/Consultant/images/no-img.png' style='width:35px; height:35px;'/>";
            }
            else if (width > 400 && width <= 600) {
                imagehtml = "<img src='/images/Consultant/images/no-img.png' style='width:50px; height:50px;'/>";
            }
            else if (width > 600) {
                imagehtml = "<img src='/images/Consultant/images/no-img.png' />";
            }

            var PostOwner = '@PostOwner';
            var datetimenow = new Date().toLocaleString();

            var CommentForPostModel = {
                PostId: @PostId,
                Text: Text,
                Files: Files
            };


            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: '@Url.RouteUrl("Consultant.Comment.AddComment")',
                dataType: 'json',
                data: JSON.stringify(CommentForPostModel),
                complete: function (data) {
                    console.log(appendComment(data));
                    appendComment(data);

                    $("#CommentText").val("");
                        var i = 0;
                    Files.forEach(function (d) {
                        deleteFile(i++);
                    })
                }
            });

            $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Consultant.Comment.GetCommentsByPostId")',
            data: { PostId: @Model.Id },
            success: function (data) {
                $("#comments").html(data);
                } // window.location = window.location;
    });

        }
    }
    function convertToBase64(file) {
        var image;
        var fileReader = new FileReader();

        fileReader.readAsDataURL(file);
        fileReader.onloadend = (e) => {
            image = fileReader.result;
            var indexofcomma = image.indexOf(",");
            var imagebase64 = image.substring(indexofcomma + 1);
            Files.push(imagebase64);
            var index = Files.length - 1;

            $("#images").append("<div  class='col-xs-4 img_blck' style='padding-right:0px' id='imgno" + index + "'>" +
                "<img src='" + image + "' width='100' height='60' />" +
                "<div class='overlay' onclick='deleteFile(" + index + ")'>" +
                "<i class='fa fa-trash imageli' ></i>" +
                "</div>");
        };
    }



</script>  