@using Nop.Core
@using Nop.Services.Configuration


@inject IStoreContext storeContext
@inject ISettingService settingService

@{
    var controllerName = Url.ActionContext.RouteData.Values["controller"].ToString();
    var actionName = Url.ActionContext.RouteData.Values["action"].ToString();
    var isHomePage = controllerName.Equals("home", StringComparison.InvariantCultureIgnoreCase) &&
                        actionName.Equals("index", StringComparison.InvariantCultureIgnoreCase);

    var currentStore = storeContext.CurrentStore;
    int storeId = currentStore.Id;
    bool isHomeSliderFullWidth = settingService.GetSettingByKey("pavilionthemesettings.ishomepagemainsliderfullwidth", false, storeId, true);
    bool stickyCategoryMenuFlyout = settingService.GetSettingByKey("pavilionthemesettings.StickyCategoryMenuFlyout", true, storeId, true);
    bool showCategoriesInSideMenu = settingService.GetSettingByKey("pavilionthemesettings.ShowCategoriesInSideMenu", true, storeId, true);
}

<link href="~/fonts/Consultant/font-awesome.min.css" rel="stylesheet" />

<style type="text/css">
    a {
        /*color: #777;*/
        text-decoration: none
    }

        a:hover {
            color: #40ca40;
            text-decoration: none
        }

    /*top-bar*/
    .top_bar {
        background: #333;
        padding: 0px;
        padding-top: 10px;
        text-align: center;
        height: 43px;
    }

    .topbarspan {
        cursor: pointer;
        color: #fff;
        font-size: 17px;
        padding: 10px 30px;
        padding-top: 10px
    }

    .topbarspanActive {
        background: #3e874b
    }

    .header label {
        color: white;
    }

    .admin-header-links a {
        color: white;
    }

        .admin-header-links a:hover {
            text-decoration: underline;
            color: #40ca40
        }
    /*#sticky { display: none; background-color: #546bcb; height: 70px; }*/
    /*#sticky.fixed { position: fixed; top: 0; width: 100%; background-color: rgb(246,246,246); }*/
    .imgsizing {
        width: 90px;
    }

    .searchpadding {
        padding-top: 4px !important;
    }

    .topFixed {
        position: fixed;
        top: 0;
        z-index: 1070;
        width: 100%;
    }

    /*.header-middle {
        margin-top: 43px
    }*/

    .header .center.menAll {
        width: 100%
    }

    #topThreeHeader {
        margin: auto !important;
        background: #333;
        height: 43px;
        text-align: center;
        top: 0;
        position: fixed;
        z-index: 1030;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    @@media (min-width: 992px) {
        .col-md-1 {
            width: 8.33333333%;
        }

        .col-md-2 {
            width: 16.66666667%;
        }

        .col-md-6 {
            width: 50%;
        }

        .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
            float: right;
        }

        .col-md-8 {
            width: 66.66666667%;
        }

        .col-md-7 {
            width: 58.33333333%;
        }

        .col-md-9 {
            width: 75%
        }
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

    @@media (max-width: 992px) {
        .hidden-sm, .hidden-xs {
            display: none
        }
    }

    @@media (min-width: 1200px) {
        .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
            float: right;
        }

        .col-lg-2 {
            width: 16.66666667%
        }

        .col-lg-4 {
            width: 33.33333333%;
        }

        .col-lg-8 {
            width: 66.66666667%;
        }

        .col-lg-7 {
            width: 58.33333333%;
        }

        .col-lg-9 {
            width: 75%
        }
    }

    @@media (min-width: 768px) and (max-width: 992px) {
        .col-sm-12 {
            width: 100%;
        }
    }

    @@media(min-width:1000px) {
        .admin-header-links a {
            line-height: 25px
        }
    }

    @@media(max-width:435px) {
        .topbarspan {
            font-size: 13px;
            padding: 14px 7px
        }
    }
    /*@@media(max-width:435px){
        .fixedNavScreen ul li i {
            font-size: 0.9em;
        }
    }*/
    @@media(max-width:260px) {
        /*.fixedNavScreen ul li i {
            font-size: 0.75em;
        }*/
        .topbarspan {
            font-size: 10px;
            padding: 15px 5px
        }

        .siteDetails {
            padding: 8px;
            margin-top: 159px;
            background: #e2e6eb;
            border: 1px solid #ddd;
            margin-bottom: 15px;
            text-align: center;
            color: #000;
        }

        /*.fixedNavScreen ul li{
            padding:10px 5px
        }*/
    }
    /*@@media (min-width: 992px){
                .spaceBeg { width: 16.66666667%; float:right }
                #topThreeHeader { width: 100%; float: none }
            }
            @@media (max-width: 992px) {
                .spaceBeg { display:none }
                #topThreeHeader { width: 100%; float: none }
            }
            @@media(min-width:1200px) {
                #topThreeHeader { width: 33.33333333%; float: right }
            }*/
    @@media(min-width:1025px){
        .top_col_screen {
            width: 25%;
            float: right;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 30px;
        }
        .threeHeaderContainer {
            width: 50%;
            float: right;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .top2 {
            width: 25%;
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .siteDetails {
        padding: 8px;
        margin-top:39px;
        background: #e2e6eb;
        border: 1px solid #ddd;
        margin-bottom: 0px;
        text-align: center;
        color: #000;
    }
    @@media(max-width:1025px) {
        .top_col_screen { display:none }
        .threeHeaderContainer {
            width: 100%;
            float: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .top2 { display:none }
    }

    .header-menu-parent {
        display: inherit !important;
        vertical-align: middle;
        padding-right: 123px;
    }
    a.logo {
        width: 12%;
        float: right;
        margin-left: 60px;
    }
    @@media(min-width:1210px) and (max-width:1350px){
        .header-menu-parent {
            padding-right: 94px;
        }
    }
    @@media(min-width:1150px) and (max-width:1210px) {
        .header-menu-parent {
            padding-right:115px;
        }
    }
    @@media(min-width:1110px) and (max-width:1150px) {
        .header-menu-parent {
            padding-right: 97px;
        }
    }
    @@media(min-width:1071px) and (max-width:1110px) {
        .header-menu-parent {
            padding-right: 85px;
        }
    }
    @@media(min-width:1037px) and (max-width:1071px) {
        a.logo { margin-left:30px }
        .header-menu-parent { padding-right: 70px; }
    }
    @@media(min-width:1025px) and (max-width:1037px) {
        a.logo { margin-left: 10px }
        .header-menu-parent {  padding-right: 70px;  }
    }
    .siteDetails p { text-align: center; margin: 0; font-size: 14px;  }

    @@media(min-width:1025px) {
        .siteDetails1 { display: block }
        .siteDetails2 { display: none }
    }

    @@media(max-width:1025px) {
        .siteDetails1 { display: none }
        .siteDetails2 { display: block; margin-top: 20px; margin-right: 20px; margin-left: 20px; }
        a.logo {  width: auto; float: none; margin-left: 0; }
        .header-menu-parent {  padding-right:0 }
    }

    @@media (min-width: 1810px){
        /*#problem { padding-right: 8% !important; }
        .header .center { margin-right:15px }
        .header-menu-parent { padding-right: 0 }*/
    }
    .men {
        background-color: rgb(231, 234, 237);
        padding-top: 0;
        min-height: 80px;
    }
    @@media (min-width: 1810px) {
        .men { min-height:41px }
    }
</style>

@*<link href="~/css/Consultant/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/Consultant/bootstrap-rtl.min.css" rel="stylesheet" />
<script src="~/js/Consultant/bootstrap.min.js"></script>*@

<script type="text/javascript">

    $(window).scroll(function () {
        if ($(window).width() > 1009) {
            var distanceFromTop = $(this).scrollTop();
            if (distanceFromTop >= $('#sticky').height()) {
                $('#sticky').addClass('fixed');
                $(".store-search-box").addClass('searchpadding');
                $(".header-logo a img").addClass('imgsizing');
            } else {
                $('#sticky').removeClass('fixed');
                $(".store-search-box").removeClass('searchpadding');
                $(".header-logo a img").removeClass('imgsizing');
            }
        }
    });
</script>

@*<div class="spaceBeg"></div>
    <div id="topThreeHeader" style="margin:auto !important; background-color:#333;height:43px;text-align:center;top:0;position:fixed;z-index:1030;padding-top:10px;padding-bottom:5px;">
        <span style="text-align: center">
            <span class="topbarspan topbarspanActive">@Html.RouteLink("المتجر", "HomePage", null, new { style = "color:#fff;", @class = "consultantlink" })</span>
            <span class="topbarspan">@Html.RouteLink("الحراج", "Harag.Home", null, new { style = "color:#fff;", @class = "consultantlink" })</span>
            <span class="topbarspan">@Html.RouteLink("الاستشارات", "Consultant.ConsultantHome", null, new { style = "color:#fff;", @class = "consultantlink" })</span>
        </span>
    </div>*@

@*<div class="text-center">
        <span>@Html.RouteLink("اسلمتجر", "HomePage", null, new { style = "color:#fff;", @class = "consultantlink" })</span>
        <span class="active">@Html.RouteLink("الحراج", "Harag.Home", null, new { style = "color:#fff;", @class = "consultantlink" })</span>

        <span>@Html.RouteLink("الاستشارات", "Consultant.ConsultantHome", null, new { style = "color:#fff;", @class = "consultantlink" })</span>

    </div>*@

<div class="header">
    @await Component.InvokeAsync("Widget", new { widgetZone = "header" })

    <section class="topFixed">
        <div class="header-upper top_bar">
            @*<div class="center container-fluid" style="margin:auto !important;">*@
            <div class="center" style="margin:auto !important;">



                @*<div class="row">*@
                <div class="">
                    @*<div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
                            <div class="top_col_screen top_hid_sm"></div>
                        </div>*@

                    @*<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">*@
                    <div class="top_col_screen" style="color: white">


                        @{
                            var taxTypeSelectorHtml = await Component.InvokeAsync("TaxTypeSelector");
                            var currencySelectorHtml = await Component.InvokeAsync("CurrencySelector");
                            //var languageSelectorHtml = await Component.InvokeAsync("LanguageSelector");
                            var headerSelectorWidgetHtml = await Component.InvokeAsync("Widget", new { widgetZone = "header_selectors" });
                        }
                        @if (!String.IsNullOrEmpty(taxTypeSelectorHtml.ToHtmlString()) ||
!String.IsNullOrEmpty(currencySelectorHtml.ToHtmlString()) ||
//!String.IsNullOrEmpty(languageSelectorHtml.ToHtmlString()) ||
!String.IsNullOrEmpty(headerSelectorWidgetHtml.ToHtmlString()))
                        {
                            <div class="header-selectors-wrapper">
                                <label>@T("SevenSpikes.Themes.Pavilion.Header.Preferences")</label>
                                <div class="header-selectors">
                                    @taxTypeSelectorHtml
                                    @currencySelectorHtml
                                    @*@languageSelectorHtml*@
                                    @headerSelectorWidgetHtml
                                </div>
                            </div>
                            <div class="header-selector-widget" style="display: none;">@headerSelectorWidgetHtml</div>
                        }
                        @await Component.InvokeAsync("AdminHeaderLinks")
                    </div>
                    @*</div>*@


                    @*<section class="top_bar">*@
                    @*<div class="container-fluid">*@
                    @*<div class="row">*@
                    @*<div class="col-md-12">*@


                    @*<span class=" " style="text-align: center">
                            <span class="topbarspan topbarspanActive">@Html.RouteLink("يبيبيبالمتجر", "HomePage", null, new { style = "color:#fff;", @class = "consultantlink" })</span>
                            <span class="topbarspan">@Html.RouteLink("الحراج", "Harag.Home", null, new { style = "color:#fff;", @class = "consultantlink" })</span>

                            <span class="topbarspan">@Html.RouteLink("الاستشارات", "Consultant.ConsultantHome", null, new { style = "color:#fff;", @class = "consultantlink" })</span>

                        </span>*@

                    @*</div>*@
                    @*</div>*@
                    @*</div>*@
                    @*</section>*@


                    @*<div class="spaceBeg"></div>
                        <div class="spaceBeg"></div>*@
                    @*<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align: center; display: flex; align-items: center; justify-content: center;">*@
                    <div class="threeHeaderContainer">
                        <div id="topThreeHeader">
                            <span style="text-align: center">
                                <span class="topbarspan topbarspanActive">@Html.RouteLink("المتجر", "HomsePage", null, new { style = "color:#fff;", @class = "consultantlink" })</span>
                                <span class="topbarspan">@Html.RouteLink("الحراج", "Harag.Home", null, new { style = "color:#fff;", @class = "consultantlink" })</span>
                                <span class="topbarspan">@Html.RouteLink("الاستشارات", "Consultant.ConsultantHome", null, new { style = "color:#fff;", @class = "consultantlink" })</span>
                            </span>
                        </div>
                    </div>
                    @*<div class="col-lg-2 col-md-2 hidden-sm hidden-xs top_col_screen">*@
                    <div class="top_col_screen top2">
                        <div class="header-links-wrapper">
                            <label> <i class="fa fa-user"></i> @T("SevenSpikes.Themes.Pavilion.Header.MyAccount")</label>
                            @await Component.InvokeAsync("HeaderLinks")
                        </div>
                    </div>
                    @*<div class="col-lg-1 col-md-1 hidden-sm hidden-xs top_col_screen top_hid_sm"></div>*@
                </div>
            </div>


        </div>
    </section>
    <div class="siteDetails siteDetails1">
        <p>خدمة الاستشارات هى خدمة مجانية تقدم من قبل موقع المزراع لمساعدة حل المشاكل الزراعية بواسطة مستشارين مختصين فى هذا المجال.</p>
    </div>
    <div id="sticky" class="header-middle">
        <div class="" id="problem">

            <div class="header-menu-parent">
                @*<div class="header-logo">
                        @await Component.InvokeAsync("Logo")
                    </div>*@

                @*<div class="header-menu @if (showCategoriesInSideMenu){<text>categories-in-side-panel</text>}">
                        <div class="close-menu">
                            <span>@T("SevenSpikes.Themes.Common.CloseMenu")</span>
                        </div>
                        @{
                            var menuHtml = await Component.InvokeAsync("Widget", new { widgetZone = "theme_header_menu" });
                        }
                        @if (!String.IsNullOrEmpty(menuHtml.ToHtmlString()))
                        {
                            @menuHtml
                        }
                        else
                        {
                            @await Component.InvokeAsync("TopMenu")
                        }
                    </div>*@
                <div class="center"> 
                        @*<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>*@
                        @*<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 logoContainer header-logo">*@
                        @*<div class="header-logo">*@
                        @await Component.InvokeAsync("Logo")
                        @*</div>*@
                        @*<div class="col-lg-8 col-md-6 search-box store-search-box">*@
                        <div class="search-box store-search-box" style="margin-left: 16%;">
                            @await Component.InvokeAsync("SearchBox")
                            @*</div>
                                <div class="col-lg-2 col-md-2">*@
                            @await Component.InvokeAsync("FlyoutShoppingCart")
                        </div>
                        @*<div class="col-lg-2 col-md-2"></div>*@ 
                </div>

            </div>

            @*@await Component.InvokeAsync("FlyoutShoppingCart")*@
        </div>
    </div>


    <div class="men">
        <div class="center menAll">
            @*@if (showCategoriesInSideMenu)
                {
                    <span class="category-navigation-title">@T("SevenSpikes.Themes.Pavilion.Header.AllCategories")</span>

                    if (!isHomePage || isHomeSliderFullWidth)
                    {
                        <div class="category-navigation-list-wrapper">
                            <ul class="category-navigation-list @if (stickyCategoryMenuFlyout){<text>sticky-flyout</text>}"></ul>
                        </div>
                    }
                }
                <div class="search-box store-search-box @if (!showCategoriesInSideMenu){<text>full-width</text>}">
                    @await Component.InvokeAsync("SearchBox")
                </div>*@


            <div class="header-menu @if (showCategoriesInSideMenu){<text>categories-in-side-panel</text>}">
                <div class="close-menu">
                    <span>@T("SevenSpikes.Themes.Common.CloseMenu")</span>
                </div>
                @{
                    var menuHtml = await Component.InvokeAsync("Widget", new { widgetZone = "theme_header_menu" });
                }
                @if (!String.IsNullOrEmpty(menuHtml.ToHtmlString()))
                {
                    @menuHtml
                }
                else
                {
                    @await Component.InvokeAsync("TopMenu")
                }
            </div>

        </div>

    </div>
</div>


@if (isHomePage)
{
    <div class="siteDetails siteDetails2">
        <p>خدمة الاستشارات هى خدمة مجانية تقدم من قبل موقع المزراع لمساعدة حل المشاكل الزراعية بواسطة مستشارين مختصين فى هذا المجال.</p>
    </div>

    var homePageSliderCss = isHomeSliderFullWidth ? "slider-fullwidth" : "slider-right-column";

    <div class="two-columns-area @homePageSliderCss">
        @if (isHomeSliderFullWidth)
        {
            @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_main_slider" });
            @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_search_widget" })
        }

        <div class="center">
            <div class="two-colums-area-left">
                @if (showCategoriesInSideMenu && !isHomeSliderFullWidth)
                {
                    <div class="category-navigation-list-wrapper">
                        <ul class="category-navigation-list @if (stickyCategoryMenuFlyout){<text>sticky-flyout</text>}"></ul>
                    </div>
                }
                @await Component.InvokeAsync("HomepageProducts")
            </div>
            <div class="two-colums-area-right">
                @if (!isHomeSliderFullWidth)
                {
                    @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_main_slider" });
                    @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_search_widget" })

                }
                @await Component.InvokeAsync("Widget", new { widgetZone = "homepage_slider_after" })
            </div>
        </div>
    </div>
}