
@model Nop.Web.Models.Consultant.Comment.CommentModel
@using System.Text.RegularExpressions
@{ 
    Regex regx = new Regex(@"(https?:\/\/[^\s]+)", RegexOptions.IgnoreCase);
    MatchCollection mactches = regx.Matches(Model.Text);
    foreach (Match match in mactches)
    {
         Model.Text.Replace(match.Value, String.Format("{0}sss", match.Value));
    }
}
 

<div class="comments">
    <!-- Comment -->
    <div class="comment">
        <div class="row">
         
                <div class="col-xs-10">
                    @if (Model.CommentedBy != "Registered")
                    {
                        <h4 class="text-danger"><strong class="text-danger">المستشار: </strong>@Model.CommentOwner</h4>
                    }
                    else
                    {
                        <h4 >@Model.CommentOwner</h4>

                    }

                    <span>@Model.DateCreated.ToLongDateString() &nbsp;&nbsp;&nbsp; @Model.DateCreated.ToString("hh:mm:ss")</span>
                    <div class="comment-content" id="comment-@Model.Id" style="width:fit-content;" onclick="findAllFunctionsLinks('@Model.Text https://facebook.com', 'comment-@Model.Id')">
                        @Html.Raw(Model.Text)  
                        
                        <div class="row" style="padding-right: 20px;  ">
                            @foreach (var image in Model.Photos)
                            {
                                <div style="width:60px;display:inline;">
                                    <a href="/Consultations/Imgs/@image" data-lightbox="image-@Model.Id" data-title="My caption">
                                        <img src="/Consultations/Imgs/@image" alt="Single Image" style="width:150px;height:150px;" />
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                 
                </div>
        </div>
       
    </div> 
</div>
