@using Nop.Web.Models.Consultant.Comment;
@model CommentOutputModel



<link href="~/css/Consultant/pagination.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/Consultant/richtext.min.css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
    .btndarckgreen:hover {
        background-color: darkgreen !important;
    }
</style>



@if (Model.Items != null)
{
    <div id="commentDivToAppending">
        @foreach (var comment in Model.Items)
        {
            <!-- Comments -->
            @Html.Partial("~/Themes/Pavilion/Views/Consultant/Comment/_CommentTemplatePartial.cshtml", comment)
        }
    </div>
}
<div class="add-comment">
    <div class="row">
        @if (ViewBag.UserRole == "Registered")
        {
            <div class="col-xs-2 text-center">
                <img class="userimagelarge" src="~/images/Consultant/images/no-img.png" />
                <img class="userimagemedium" src="~/images/Consultant/images/no-img-mobile.png" style="width:50px;height:50px;" />
                <img class="userimagesmall" src="~/images/Consultant/images/no-img-mobile.png" style="width:35px;height:35px;" />
            </div>
        }
        else if (ViewBag.UserRole == "Consultant")
        {
            <div class="col-xs-2 text-center">
                <img class="userimagelarge" src="~/images/Consultant/images/no-img-consultant.png" />
                <img class="userimagemedium" src="~/images/Consultant/images/no-img-mobile-consultant.png" style="width:50px;height:50px;" />
                <img class="userimagesmall" src="~/images/Consultant/images/no-img-mobile-consultant.png" style="width:35px;height:35px;" />
            </div>
        }
        <div class="col-xs-10">
            <h4>@ViewBag.UserName</h4>
            <div class="reply">
                <textarea class="form-control" id="CommentText@(ViewBag.UserRole == "Consultant"?"-consult":"")" placeholder="اكتب تعليقا"></textarea>
                <div class="comment-preview reply">

                </div>
            </div>
            <div class="form-group bordering">
                <div class="images" id="images">

                </div>
            </div>
            <br /><br />
            @if (ViewBag.UserRole == "Registered")
            {
                <div class="reply">
                    <p class="file">
                        <input class="form-control-file" id="file" name="file" type="file" style="display:none" value="تحميل صورة">
                        <label for="file">تحميل صورة</label>
                    </p>
                    <button style="width: 100px; text-align: center; height: 39px;" onclick="addComment()" class="btndarckgreen">تعليق</button>
                </div>
            }
            else if (ViewBag.UserRole == "Consultant")
            {
                <div class="reply">
                    <p class="file">
                        <input onchange="onFileChange(event)" class="form-control-file" id="file" name="file" type="file" style="display:none" value="تحميل صورة">
                        <label for="file">تحميل صورة</label>
                    </p>
                    <button style="width: 100px; text-align: center; height: 39px;" class="btn btn-success" onclick="addCommentConsultant()">تعليق</button>
                </div>

                <div class="comment-preview reply">

                </div>
            }

        </div>
    </div>
</div>





@if (Model.Paging.PageNumber <= Model.Paging.TotalPages)
{


    @if (Model.Links.Count == 2)
    {
        @if (Model.Paging.PageNumber == 1)
        {
            <!-- Pager -->
            <nav class="pagination-outer" aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page- link btn btn-primary" aria-label="Next" onclick="getCommentPaging('@Model.Links[1]?.Href')">
                            <span aria-hidden="true"> <<< </span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page- link btn btn-primary">@Model.Paging.PageNumber</a>
                    </li>

                </ul>
            </nav>
        }
        else if (Model.Paging.PageNumber == Model.Paging.TotalPages)
        {
            <!-- Pager -->
            <nav class="pagination-outer" aria-label="Page navigation">
                <ul class="pagination">

                    <li class="page-item">
                        <a class="page- link btn btn-primary">@Model.Paging.PageNumber</a>
                    </li>
                    <li class="page-item">
                        <a class="page- link btn btn-primary" aria-label="Previous" onclick="getCommentPaging('@Model.Links[0]?.Href')">
                            <span aria-hidden="true"> >>> </span>
                        </a>
                    </li>
                </ul>
            </nav>
        }
    }
    else if (Model.Links.Count > 2)
    {
        <!-- Pager -->
        <nav class="pagination-outer" aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page- link btn btn-primary" aria-label="Next" onclick="getCommentPaging('@Model.Links[2]?.Href')">
                        <span aria-hidden="true"> <<< </span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page- link btn btn-primary">@Model.Paging.PageNumber</a>
                </li>
                <li class="page-item">
                    <a class="page- link  btn btn-primary" aria-label="Previous" onclick="getCommentPaging('@Model.Links[0]?.Href')">
                        <span aria-hidden="true"> >>> </span>
                    </a>
                </li>
            </ul>
        </nav>
    }
}

<script type="text/javascript">



    $(document).ready(function () {
        $('#CommentText-consult').richText();
        $("#file").change(function (event) {

            if (Files.length >= 5) {
                alert("لقد تجاوزت العدد المسموح من الصور ,مسموح بخمس صور فقط");
            }
            else {

                if (event.target.files && event.target.files[0]) {
                    for (var i = 0; i < event.target.files.length; i++) {
                        convertToBase64(event.target.files[i]);
                        console.log(i)
                    }
                }
            }
        });
    });

    function urlify(text) {
    var urlRegex = /(https?:\/\/[^\s]+)/g;
        return text.replace(urlRegex, function (url) {
            return '<a href="' + '@Nop.Web.Helpers.URLSecurityManager.Instance("/redirect?url=").redirectUrl' + url + '">' + 'هنا' + '</a>';
        })
    // or alternatively
    // return text.replace(urlRegex, '<a href="$1">$1</a>')
    }

    $("#CommentText").keyup(function () {
        var currentCommentText = $(this).val();
        var urlfiedContent = urlify(currentCommentText);


        $('.comment-preview').html(urlfiedContent);;
    });

    function getCommentPaging(url) {

        var indexmyurl = url.indexOf("Consultations/Consultations");
        var myurl = url.substring(indexmyurl);

        $.ajax({
            type: 'GET',
            url: myurl,

            success: function (data) {
                $("#comments").html(data);
            }
        });
    }
</script>

<script src="~/css/Consultant/jquery.richtext.js"></script>









