@model Nop.Services.Z_HaragAdmin.Setting.SettingsModel

@{
    Layout = "~/Themes/Pavilion/Views/HaragAdmin/Shared/_Layout.cshtml";
}


@Html.Partial("~/Themes/Pavilion/Views/HaragAdmin/Shared/_DataTable.cshtml")
@*<link href="../css/froala_style.min.css" rel="stylesheet" type="text/css" />*@


<div class="page-title">الاعدادات</div>


   <form id="settingsForm">

    <div class="form-group">
        <label class="form-lbl"> مدة تثبيت الاعلان </label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DeletePost,new {@class= "form-control delete-settings detailsTextBox" })

        </div>
    </div>
    <div class="form-group">
        <label class="form-lbl"> ارسال تنبيه بتحديث الاعلان بعد</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UpdatePostAfter, new { @class = "form-control notify-settings detailsTextBox" })

        </div>
    </div>
    <div class="form-group">
        <label class="form-lbl"> لا يمكن تحديث الاعلان قبل</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UpdatePostBefor, new { @class = "form-control updateBefor-settings detailsTextBox" })

        </div>
    </div>
    <div class="form-group">
        <label class="form-lbl"> عدد مرات العمولة لتقييم عضو اخر</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.RateCommissionNumber, new { @class = "form-control rateCommissionNum detailsTextBox" })

        </div>
    </div>
    <div class="form-group">
        <label class="form-lbl"> مجموع العمولة لتقييم عضو اخر</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.RateCommissionSum, new { @class = "form-control rateCommissionSum detailsTextBox" })

        </div>
    </div>
    <div class="form-group">
        <label class="form-lbl"> عدد مرات العمولة لرتبة العضو المميز</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.RateCommissionNumber, new { @class = "form-control featuredCommissionNum detailsTextBox" })

        </div>
    </div>

    <div class="form-group">
        <label class="form-lbl"> مجموع العمولة لرتبة العضو المميز</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FeaturedMemberCommissionSum, new { @class = "form-control featuredCommissionSum detailsTextBox" })

        </div>
    </div>
       <div class="form-group">
           <label class="form-lbl"> معاهدة استخدام الموقع</label>
           <div class="col-md-10">
              @*<textarea id="compact" class="detailsTextBox"></textarea>*@
               @Html.TextAreaFor(m => m.UseWebsiteCompact, new { @id= "compact", @class = "detailsTextBox" })
           </div>
       </div>
       <div class="form-group">
           <label class="form-lbl"> السلع الممنوعة</label>
           <div class="col-md-10">
               @*<textarea id="compact" class="detailsTextBox"></textarea>*@
               @Html.TextAreaFor(m => m.NotAllowedProducts, new { @id = "NotAllowed", @class = "detailsTextBox" })
           </div>
       </div>

      
      
    <input type="submit" class="btn btn-success" value="تحديث" />

</form>





           
<script src="~/js/ConsultantAdmin/notify.js"></script>
<script>
    $(document).ready(function () {
        var h = $('#compact , #NotAllowed').froalaEditor(
             {
                toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough',  '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'inlineClass', 'clearFormatting', '|', 'emoticons', 'fontAwesome', 'specialCharacters', '-', 'paragraphFormat', 'lineHeight', 'paragraphStyle', 'align', 'formatOL', 'formatUL',]

            });
       
        //var compact = $('#compact').froalaEditor('html.get');
        //var notAllowed = $('#NotAllowed').froalaEditor('html.get');
        //console.log("dtd " + compact);
        //console.log("escape " + escape(compact));
        //console.log("unescape " + unescape(compact));
        //var compact_escape = escape(compact);


        
        
        $("#settingsForm").submit(function (e) {
            var ajaxRequest;
            e.preventDefault();
            var compact = $('#compact').froalaEditor('html.get');
            var notAllowed = $('#NotAllowed').froalaEditor('html.get');
            console.log("data " + notAllowed);
            console.log("escape " + escape(notAllowed));
            console.log("unescape " + unescape(notAllowed));
            var compact_escape = escape(compact);
            var notAllowed_escape = escape(notAllowed);

            var model = {
                "DeletePost": $(".delete-settings").val(),
                "UpdatePostAfter": $(".notify-settings").val(),
                "UpdatePostBefor": $(".updateBefor-settings").val(),
                "RateCommissionNumber": $(".rateCommissionNum").val(),
                "RateCommissionSum": $(".rateCommissionSum").val(),
                "FeaturedMemberCommissionNumber": $(".featuredCommissionNum").val(),
                "FeaturedMemberCommissionSum": $(".featuredCommissionSum").val(),
                "UseWebsiteCompact": compact_escape,
                "NotAllowedProducts": notAllowed_escape

            }



            var value = JSON.stringify(model);
            ajaxRequest = $.ajax({
                url: "/Harag/Admin/Comment/HaragSettingsAjax",
                type: "post",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: value

            });
            ajaxRequest.done(function (response) {
                if (response.result == true) {
                    $.notify("تمت العملية بنجاح", "success");
                } else  {

                    $.notify("failed", "error");
                }
               

            });

        });

    });
</script>