@model Nop.Services.Z_Harag.Category.CustomerServiceModel

@{
    //Layout = "~/Themes/Pavilion/Views/Consultant/Shared/_Header.cshtml";
    Layout = "~/Themes/Pavilion/Views/Shared/_ColumnsTwo.cshtml";
} 
@{
    string getCustomerPosts = "";
    if (@ViewBag.UserRole == "Registered")
    {
        getCustomerPosts = "getCustomerPosts()";
    }
    else if (@ViewBag.UserRole == "Consultant")
    {
        getCustomerPosts = "getConsultantPosts()";
    }
    else if (@ViewBag.UserRole == "vistor")
    {
        getCustomerPosts = "login()";
    }
}

<head> 
    <script type="text/javascript">
        var onloadCallback = function () {
            grecaptcha.render('html_element', {
                'sitekey': '6LfpypsUAAAAAI1iYuentJVEoBGRV-VcpYlwwwTo'
            });
        };
    </script>
</head>

@*@if (ViewBag.UserRole == "Registered")
    {
        if (@ViewBag.CanAddNewPost == true)
        {*@

@*<div class="row">
        <div class="col-md-12">
            <form action="@Url.RouteUrl("Harag.CustomerService.AddNewMessageAjax")" method="post" class="add-adverse">

                <div class="row">
                    @Html.TextAreaFor(m => m.Message, new { id = "Title-js-ajax", @class = "form-control", col = 20, placeholder = "الرساله", required = "required" })
                </div>
                <br />
                <div class="row">
                    <button class="btn btn-default add" type="submit">اضافة الرساله للموقع</button>
                </div>
            </form>
        </div>
    </div>*@


<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container" >
    <h3 class="text-bold">دائما في خدمتك , ادخل اقتراحك او شكوي او استفسار</h3>
    <div class="row">

        <div class="col-md-4"> 
             
        </div>
        <div class="col-md-8">
            <div class="well well-sm">
                <form action="@Url.RouteUrl("Harag.CustomerService.AddNewMessageAjax")" method="post" >

                    <div class="row">
                        <div class="col-md-12">
                            @Html.ValidationSummary(null, new { @class = "text-danger row" })
                            
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        الرساله
                                    </label>
                                    <textarea name="Message" id="message" class="form-control" rows="9" cols="25" required="required"
                                              placeholder="نص الرساله"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        الاسم
                                    </label>
                                    <input type="text" class="form-control" placeholder="الاسم" required="required" />
                                </div>
                                <div class="form-group">
                                    <label for="name">
                                        رقم الهاتف
                                    </label>
                                    <input type="tel" name="Phone" class="form-control" placeholder="رقم الهاتف" />
                                </div>
                                <div class="form-group">
                                    <label for="email">
                                        البريد الالكتروني
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </span>
                                        <input name="Email" type="text" class="form-control" id="email" placeholder="ادخل البريد الالكتروني" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="subject">
                                        الموضوع والقسم
                                    </label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select id="subject" name="ContactDepartment" class="form-control" required="required">
                                                <option value="المتجر">المتجر</option>
                                                <option value="الحراج">الحراج</option>
                                                <option value="الاستشارات">الاستشارات</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <select id="subject" name="ContactType" class="form-control" required="required">
                                                <option value="شكوي">شكوي</option>
                                                <option value="استفسار">استفسار</option>
                                                <option value="اقتراح">اقتراح</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div id="html_element"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success pull-right green" id="btnContactUs">
                                    ارسال
                                </button> 
                                <div class="row">
                                    <div class="col-md-12">
                                        <br />
                                        <legend><span class="glyphicon glyphicon-globe"></span> مقرنا</legend>
                                        <address>
                                            <strong>موقع المزارع.</strong><br>
                                            المملكة العربية السعودية<br>
                                            <abbr title="Phone">
                                                P:
                                            </abbr>
                                            (123) 456-7890
                                        </address>
                                        <address>
                                            <strong>البريد الالكتروني</strong><br>
                                            <a href="mailto:#">info@farms.com</a>
                                        </address>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
</form>
            </div>
        </div>

    </div>
</div>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
</script>
<style type="text/css">
    .jumbotron {
        background: #358CCE;
        color: #FFF;
        border-radius: 0px;
    }

    .jumbotron-sm {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .jumbotron small {
        color: #FFF;
    }

    .h1 small {
        font-size: 24px;
    }

</style>

<script type="text/javascript">


    $.ajax({
        type: 'GET',
        url: '@Url.RouteUrl("Harag.Post.GetCategories")',

        success: function (data) {
            $("#CategoryId-js-ajax").html(data);
        }

    });


    $.ajax({
        cache: false,
        type: "GET",
        url: "@(Url.RouteUrl("Consultant.Comment.GetCities"))",
        success: function (data) {
            $("#city-js-ajax").html('');
            $.each(data, function (id, option) {
                $("#city-js-ajax").append($('<option></option>').val(option.Id).html(option.ArName));
            });
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert('Failed to retrieve states.');
        }
    });




    function convertToBase64(file) {
        var image;
        var fileReader = new FileReader();

        fileReader.readAsDataURL(file);
        fileReader.onloadend = (e) => {
            image = fileReader.result;
            var indexofcomma = image.indexOf(",");
            var imagebase64 = image.substring(indexofcomma + 1);
            Files.push(imagebase64);
            var index = Files.length - 1;

            $("#images").append("<div  class='col-xs-3  img_blck' style='padding-right:0px' id='imgno" + index + "'>" +
                "<img src='" + image + "' width='100' height='60' />" +
                "<div class='overlay' onclick='deleteFile(" + index + ")'>" +
                "<i class='fa fa-trash imageli' ></i>" +
                "</div>");
        };
    }



    $("#file").change(function (event) {

        if (Files.length >= 5) {
            alert("لقد تجاوزت العدد المسموح من الصور ,مسموح بخمس صور فقط");
        }
        else {

            if (event.target.files && event.target.files[0]) {
                for (var i = 0; i < event.target.files.length; i++) {
                    convertToBase64(event.target.files[i]);
                }
            }
        }
    });

    var Files = [];

    function deleteFile(index) {

        Files.splice(+index, 1);
        $("#imgno" + index).remove();
    }

    $("#addPostForm").submit(function (event) {

        /* stop form from submitting normally */
        event.preventDefault();


        var CategoryId = $('#CategoryId-js-ajax').find(":selected").val();
        var Title = $('#Title-js-ajax').val();
        var Text = $('#Text-js-ajax').val();
        var Contact = $('#Contact-js-ajax').val();
        var CityId = $('#city-js-ajax').val();


        if (CategoryId <= 0) {
            alert("فضلا قم باختيار القسم");
        } else if (CityId <= 0) {
            alert("فضلا قم باختيار القسم");
        }
        else if (Title === null || Title === "") {
            alert("قم بكتابة عنوان الاعلان");
        }
        else if (Text === null || Text === "") {

            alert("فضلا قم باضافه وصف الاعلان ");
        }
        else {


            var postForPostModel = {
                Text: Text,
                Title: Title,
                Contact: Contact,
                CategoryId: CategoryId,
                CityId: CityId,
                Files: Files
            };


            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: '@Url.RouteUrl("Harag.Post.AddNewPostAjax")',
                dataType: 'json',
                data: JSON.stringify(postForPostModel),
                success: function (data) {
                    if (data.postId != 0) {
                        alert("تمت اضافة الاعلان بنجاح يمكنك سيتم تحويلك الي تحديث العنوان");
                        window.location = "/Harag/UpdateLocation/" + data.postId;
                    }
                    else {
                        alert("حدث خطأ ما تأكد من الاتصال بالانترنت");
                    }
                }
            });

            event.preventDefault();
        }

    });
</script>

@*
    <script type="text/javascript">


        function deleteFile(index) {

            Files.splice(+index, 1);
            $("#imgno" + index).remove();
        }


        $(document).ready(function () {

            $.ajax({
                type: 'GET',
                url: '@Url.RouteUrl("Consultant.Post.GetCategories")',

                success: function (data) {
                    $("#categoryList").html(data);
                }

            });


            function convertToBase64(file) {
                var image;
                var fileReader = new FileReader();

                fileReader.readAsDataURL(file);
                fileReader.onloadend = (e) => {
                    image = fileReader.result;
                    var indexofcomma = image.indexOf(",");
                    var imagebase64 = image.substring(indexofcomma + 1);
                    Files.push(imagebase64);
                    var index = Files.length - 1;

                    $("#images").append("<div  class='col-xs-4 img_blck' style='padding-right:0px' id='imgno" + index + "'>" +
                        "<img src='" + image + "' width='100' height='60' />" +
                        "<div class='overlay' onclick='deleteFile(" + index + ")'>" +
                        "<i class='fa fa-trash imageli' ></i>" +
                        "</div>");
                };
            }



            $("#file").change(function (event) {

                if (Files.length >= 5) {
                    alert("لقد تجاوزت العدد المسموح من الصور ,مسموح بخمس صور فقط");
                }
                else {

                    if (event.target.files && event.target.files[0]) {
                        for (var i = 0; i < event.target.files.length; i++) {
                            convertToBase64(event.target.files[i]);
                        }
                    }
                }
            });

        });


        var Files = [];


        $("#addPostForm").submit(function (event) {

            /* stop form from submitting normally */
            event.preventDefault();


            var CategoryId = $('#categoryList').find(":selected").val();

            var Title = $('#postTitle').val();
            var Text = $('#postText').val();


            if (CategoryId <= 0) {
                alert("فضلا قم باختيار التصنيف");
            }
            else if (Title === null || Title === "") {
                alert("قم بكتابة عنوان الاستشارة");
            }
            else if (!Title.replace(/\s/g, '').length) {
                alert("قم بكتابة عنوان الاستشارة");
            }
            else if (Text === null || Text === "") {
                alert("فضلا قم بشرح المشكلة الخاصة بك ");
            }
            else if (!Text.replace(/\s/g, '').length) {
                alert("فضلا قم بشرح المشكلة الخاصة بك ");
            }
            else {


                var postForPostModel = {
                    Text: Text,
                    Title: Title,
                    CategoryId: CategoryId,
                    Files: Files
                };


                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type: "POST",
                    url: '@Url.RouteUrl("Consultant.Post.AddPostAjax")',
                    dataType: 'json',
                    data: JSON.stringify(postForPostModel),
                    complete: function (data) {
                        if (data.status == 200) {
                            alert("تمت اضافة الاستئارة بنجاح يمكنك الذهاب الى استشاراتى لرؤية الاستشاراة");
                        }
                        else {
                            alert("حدث خطأ ما تأكد من الاتصال بالانترنت");
                        }
                    }
                });

                event.preventDefault();
            }

        });




    </script>*@
