@using Nop.Web.Models.Harag.Post;
@model PostOutputModel
 
@*<style type="text/css">
    .orange-star {
        color: orange !important;
    }

    .btndarckgreen:hover {
        background-color: darkgreen !important;
    }
</style>*@


@if (Model.Items.Count() <= 0)
{
    <div id="tabpanelPosts" style="text-align:center"><b>لا يوجد</b></div>
}
else
{
    @foreach (var post in Model.Items)
    {
        <div class="item">
            <div class="det">
                <a href="/Harag/Post/@post.Id"><h3>@post.Title</h3></a>
                <div class="ro w">
                    <div class="col-md-6">
                        
                      
                        <div class="row">
                            @if (post.IsFeatured)
                            {
                                <span><i style="color: gold" class="fa fa-star"></i></span>
                            }

                            @if (post.CommentsCount > 0)
	                        {
                                <span>@post.CommentsCount ردود</span>
	                        }
                            </div>
                        

                        <div class="row">
                            <a href="/Harag/City/@post.City">
                                <span><i class="fa fa-map-marker"></i> @post.City </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row"> <strong>@post.DateDescription</strong></div>
                        <div class="row">
                            <a href="/Harag/User/@post.PostOwner">
                                <span><i class="fa fa-user"></i> @post.PostOwnerFullName </span>
                            </a>
                        </div> 
                    </div>
                </div>
               
                <div class="det-det">
                 

                </div>

            </div>
            <div class="det-img">
                @if (!String.IsNullOrEmpty(post.Photo))
                {
                    <img src="/HaragApi/Uploads/Images/@post.Photo">
                }

            </div>
        </div>
    }
}
<!-- Post -->
 


