@using Nop.Web.Models.Harag.Post;
@model PostOutputModel
 
@*<style type="text/css">
    .orange-star {
        color: orange !important;
    }

    .btndarckgreen:hover {
        background-color: darkgreen !important;
    }
</style>*@


@if (Model.Items.Count() <= 0)
{
    <div id="tabpanelPosts" style="text-align:center"><b>لا يوجد</b></div>
}
else
{
    @foreach (var post in Model.Items)
    {
        <div class="item">
            <div class="det">
                <h3>@post.Title</h3>
                <small>منذ 4 دقيقة</small>
                <div class="det-det">
                    <span><i class="fa fa-map-marker"></i> @post.City </span>
                    <span><i class="fa fa-user"></i> @post.PostOwner </span>
                </div>
            </div>
            <div class="det-img">
                <img src="@post.Photo">
            </div>
        </div>

    }
}
<!-- Post -->
@*@if (Model.Paging.PageNumber <= Model.Paging.TotalPages)
    {


        @if (Model.Links.Count == 2)
        {
            @if (Model.Paging.PageNumber == 1)
            {
                <!-- Pager -->
                <nav class="pagination-outer" aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" aria-label="Next" onclick="getPostPaging('@Model.Links[1]?.Href')">
                                <span aria-hidden="true"> <<< </span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link">@Model.Paging.PageNumber</a>
                        </li>

                    </ul>
                </nav>
            }
            else if (Model.Paging.PageNumber == Model.Paging.TotalPages)
            {
                <!-- Pager -->
                <nav class="pagination-outer" aria-label="Page navigation">
                    <ul class="pagination">

                        <li class="page-item">
                            <a class="page-link">@Model.Paging.PageNumber</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" aria-label="Previous" onclick="getPostPaging('@Model.Links[0]?.Href')">
                                <span aria-hidden="true"> >>> </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            }
        }
        else if (Model.Links.Count > 2)*@
    {
<!-- Pager -->
@*<nav class="pagination-outer" aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" aria-label="Next" onclick="getPostPaging('@Model.Links[2]?.Href')">
                    <span aria-hidden="true"> <<< </span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link">@Model.Paging.PageNumber</a>
            </li>
            <li class="page-item">
                <a class="page-link" aria-label="Previous" onclick="getPostPaging('@Model.Links[0]?.Href')">
                    <span aria-hidden="true"> >>> </span>
                </a>
            </li>
        </ul>
    </nav>*@
    }



}




<script type="text/javascript">


    function getPostPaging(url) {

        var indexmyurl = url.indexOf("Consultations/Consultations");
        var myurl = url.substring(indexmyurl);
        window.location.href = myurl;

    }
</script>


