@using Nop.Web.Models.Harag.Post;
@model PostWithFilesModel

@{
    Layout = "~/Themes/Pavilion/Views/Harag/Shared/_Header.cshtml";
}

<link href="~/css/Consultant/PostDetails.css" rel="stylesheet" />

@{
    var PostId = Model.Id;
    var PostOwner = ViewBag.UserName;
}

<!-- Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="disTable advBox">
                    <div class="choices choices2 disTable">

                    </div>
                    <div class="adv-images">
                        @foreach (var item in Model.Files)
                        {
                            @foreach (var image in Model.RelatedPosts)
                            {
                                <div style="width:160px; display:inline;">
                                    <a href="/Harag/Post/@image.Id">
                                        <img src="~/HaragApi/Uploads/Images/@image.Photo" style="width:150px;height:150px;" />
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="disTable advBox">
                    <div class="choices choices2 disTable">
                        في نفس المدينه
                    </div>
                    <div class="adv-images">
                        @foreach (var item in Model.Files)
                        {
                            @foreach (var image in Model.SameCityPosts)
                            {
                                <div style="width:160px; display:inline;">
                                    <a href="/Harag/Post/@image.Id">
                                        <img src="~/HaragApi/Uploads/Images/@image.Photo" style="width:150px;height:150px;" />
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
                @*<div class="disTable advBox">
            <div class="choices choices2 disTable">

            </div>
            <div class="adv-images">
                @foreach (var item in Model.Files)
                {
                    @foreach (var image in Model.Files)
                    {
                        <div style="width:160px; display:inline;">
                            <a href="~/HaragApi/Uploads/Images/@image" data-lightbox="image2-@Model.Id" data-title="My caption">
                                <img src="~/HaragApi/Uploads/Images/@image" alt="Single Image" style="width:150px;height:150px;" />
                            </a>
                        </div>
                    }
                }
            </div>
        </div>*@
            </div>
            <div class="col-sm-9">
                <div class="cont det-block">
                    <div class="det-top">
                        <h4>@Model.Title</h4>
                        <small>
                            @Model.DateDescription
                        </small>

                        <div class="det-det">
                            <a href="/Harag/City/@Model.CityId"><span><i class="fa fa-map-marker"></i> @Model.CityName </span></a>
                            <a href="/Harag/City/@Model.CategoryId"><span><i class="fa fa-address-book"></i> @Model.CategoryName </span></a>
                            <a href="/Harag/user/@Model.PostOwner"><span><i class="fa fa-user"></i> @Model.PostOwner </span></a>
                        </div>
                    </div>
                    <div class="det-bottom">
                        <p>@Model.Text</p>
                        @foreach (var image in Model.Files)
                        {
                            <div style="width:160px; display:inline;">
                                <a href="~/HaragApi/Uploads/Images/@image" data-lightbox="image-1@Model.Id" data-title="My caption">
                                    <img src="~/HaragApi/Uploads/Images/@image" alt="Single Image" style="width:150px;height:150px;" />
                                </a>
                            </div>
                            @*<div class="col-xs-6">
                <img src="~/HaragApi/Uploads/Images/@image" />
            </div>*@
                        }
                        <br />
                        <div class="row">
                            <p>وسيلة الاتصال</p>
                            @if (String.IsNullOrEmpty(Model.Contact))
                            {
                                <p class="phone"> الخاض </p>
                            }
                            else
                            {
                                <p class="phone">@Model.Contact<i class="fa fa-phone"></i></p>
                            }
                        </div>
                      

                    </div>
                </div>
                <div class="social-contact">
                    <div class="col-xs-2 text-center">
                        <a href="/Harag/Messages/Post/@Model.Id"><i class="fa fa-envelope-o fa-2x"></i></a>
                    </div>
                    <div class="col-xs-2 text-center">
                        <a id="add-post-to-favorite"><i class="fa fa-heart-o fa-2x"></i></a>
                        <sub></sub>
                    </div>
                    <div class="col-xs-2 text-center">
                        <a href="/Harag/ReportPost/@Model.Id"><i class="fa fa-flag-o fa-2x"></i></a>
                    </div>
                    <div class="col-xs-2 text-center">
                        <a href="javascript:openShareWindow('https://api.whatsapp.com/send?text=')"><i class="fa fa-whatsapp fa-2x"></i></a>
                    </div>
                    <div class="col-xs-2 text-center">
                        <a href="javascript:openShareWindow('https://twitter.com/share?url=')"><i class="fa fa-twitter fa-2x"></i></a>
                    </div>
                </div>
                <div class="choices disTable">
                    <div class="col-xs-12">
                        <a href="/Harag/Cat/@Model.CategoryId">@Model.CategoryName</a> 
                    </div>
                </div>
                <div>
                    <div class="col-xs-12">
                        <div class="alert alert-warning" role="alert">إحذر من التعامل غير المباشر.  استخدم <a href="@Url.RouteUrl("Harag.User.CheckBlackList")"><strong> القائمة السوداء </strong></a> قبل أى تحويل </div>
                    </div>
                </div>

                <div>
                    <div id="comments" class="col-xs-12">
                    </div>
                </div>
                <div class="follow">
                    <div class="col-xs-12">
                        <button class="btn btn-default add" type="button"> متابعة الردود <i class="fa fa-feed"></i></button>
                    </div>
                </div>
                <div>
                    <div class="col-sm-12">
                        <p>تذكر قول الله تعالى: ( مَا يَلْفِظُ مِن قَوْلٍ إِلا لَدَيْهِ رَقِيبٌ عَتِيدٌ ) </p>
                        <form>
                            <textarea id="CommentText" class="form-control txtArea" placeholder="أكتب سؤالك للمعلن هنا" rows="7"></textarea>
                            <button id="add-comment-post-js-ajax" class="btn btn-default add" type="button"> ارسال &gt;&gt;  </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Details -->
@*<div class="product-social-buttons">
        <label>@T("sevenspikes.themes.pavilion.products.sharing.text"):</label>
        <ul class="social-sharing">

            <li class="facebook">
                <!-- Facebook -->
                <a href="javascript:openShareWindow('https://www.facebook.com/sharer.php?u=@shareUrl')">
                    <span class="flip"></span>
                    <span class="flop"></span>
                </a>
            </li>
            <li class="share-whatsapp">
                <!-- Google+ -->
                <a href="">
                    <span class="flip"></span>
                    <span class="flop"></span>
                </a>
            </li>
            <li class="share-googleplus">
                <!-- Google+ -->
                <a href="javascript:openShareWindow('https://plus.google.com/share?url=@shareUrl')">
                    <span class="flip"></span>
                    <span class="flop"></span>
                </a>
            </li>
        </ul>

    </div>*@
  
<div id="changeCatAndSubDiv" class="modal" tabindex="-1" role="dialog" Style="display:none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title"> تعديل التصنيف</h4>
            </div>
            <div class="modal-body">
                <form>

                    @*<select id="CategorySelectList"></select>*@
                    <select id="subCategoriesSelectList"></select>
                    <div style="width:100px;background-color:red;" id="Ahmed"></div>
                    <div class="modal-footer">
                        <button type="button" onclick="submitChangeCatAndSub()" class="btn btn-success">تعديل</button>


                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div><!-- /.modal !-->






<script type="text/javascript">

    function openShareWindow(url) {
        var winWidth = 520;
        var winHeight = 400;
        var winTop = (screen.height / 2) - (winHeight / 2);
        var winLeft = (screen.width / 2) - (winWidth / 2);

        window.open(url + window.location, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
    }

    function deleteFile(index) {

        Files.splice(+index, 1);
        $("#imgno" + index).remove();
    }

     $.ajax({
        type: 'GET',
        url: '@Url.RouteUrl("Harag.Comment.GetAllPostCommentsAjax")?postId=@Model.Id', 
        success: function (data) { 
            $("#comments").html(data);
        }
    });

    $("#add-post-to-favorite").click(function () {
    $.ajax({
        type: 'GET',
        url: '@Url.RouteUrl("Harag.Post.AddPostToFavorite")?postid=@Model.Id', 
        success: function (data) { 

            if (data.stat === true) {
                console.log(data.ok);

                if (data.ok == 1) {
                    $("#add-post-to-favorite i").addClass("text-danger");
                } else {
                    $("#add-post-to-favorite i").removeClass("text-danger"); 
                }
            } else {
                alert("تاكد من الاتصال بالانترنت");
            }
           
        }
    });});
 
   
    function closePopupModel() {
        $("#changeCatAndSubDiv").css("display", "none");
    }
    function appendComment(data) {
        $("#comments").append(data);
    }

    $("#add-comment-post-js-ajax").click(function () {

        var Text = $("#CommentText").val();

        if (Text === null || Text === '') {
            alert("فضلا قم بكتابة الرد اولا");
        }
        else if (!Text.replace(/\s/g, '').length) {
            alert("فضلا قم بكتابة الرد اولا");
        }
        else {
            var CommentForPostModel = {
                PostId: @Model.Id,
                Text: Text
            };
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: '@Url.RouteUrl("Harag.Comment.AddHaragComment")',
                dataType: 'json',
                data: JSON.stringify(CommentForPostModel),
                complete: function (data) {
                    console.log(appendComment(data));
                    appendComment(data.responseText);
                    $("#CommentText").val("");
                }
            });
        }
    });
</script>
