@using Nop.Web.Models.Harag.Post;
@model PostOutputModel

@{
    Layout = "~/Themes/Pavilion/Views/Harag/Shared/_Header.cshtml";
     
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                
                <div class="choices">
                   
                </div>
                @Html.Partial("~/Themes/Pavilion/Views/Harag/Post/_CategoriesImagesGrid.cshtml")
            </div>
            <div class="col-md-9">
                <!-- أضف اعلانك -->
                <div class="row">
                    <div class="col-md-4" style="margin-bottom: 20px;">
                        <a class=" add-btn " style="background: #f2f2f2;line-height:2.4" href="@Url.RouteUrl("Harag.Post.AgreementBeforeAddPost")"> <i class="fa fa-plus"></i> أضف اعلانك </a>
                    </div>
                    <div class="col-md-4">
                        <select id="select-city-js-ajax" class="form-control">
                            <option>كل المدن</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 tags">
                        <a href="#">شقق</a>
                        <a href="#">شقق</a>
                        <a href="#">شقق</a>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <select id="select-city-js-ajax" class="form-control">
                            <option>كل المدن</option>
                        </select>
                    </div>
                </div>*@
                <!-- List -->
                <!-- كل الاختيارات -->
                @*
        <div class="choices">
            <a>حراج السيارات</a>
            <a>حراج العقارات</a>
            <a>حراج العقارات</a>
            <a>حراج العقارات</a>
        </div>
                *@
                <!-- Select Search -->
                @*
        <div class="">
            <select id="category-js-ajax" class="form-control" style="width:20%">
                <option></option>
            </select>
        </div>
                *@
                <!-- List -->
                <div id="posts" class="items">

                    @if (Model.Items.Count() <= 0)
                    {
                        <div id="tabpanelPosts" style="text-align:center"><b>لا يوجد</b></div>
                    }
                    else
                    {
                        @foreach (var post in Model.Items)
                        {
                            <div class="item">
                                <div class="det">
                                    <a href="/Harag/Post/@post.Id"><h3>@post.Title</h3></a>
                                    <div class="ro w">
                                        <div class="col-md-6">
                                            @if (post.IsFeatured)
                                            {
                                                <div class="row"><span><i class="fa fa-star"></i></span></div>
                                            }
                                            <div class="row">
                                                <a href="/Harag/City/@post.City">
                                                    <span><i class="fa fa-map-marker"></i> @post.City </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row"> <strong>@post.DateDescription</strong></div>
                                            <div class="row">
                                                <a href="/Harag/User/@post.PostOwner">
                                                    <span><i class="fa fa-user"></i> @post.PostOwnerFullName </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="det-det">


                                    </div>

                                </div>
                                <div class="det-img">
                                    @if (!String.IsNullOrEmpty(post.Photo))
                                    {
                                        <img src="/HaragApi/Uploads/Images/@post.Photo">
                                    }

                                </div>
                            </div>
                        }
                    }
                </div>
                @*<div>
            <button class="btn btn-default add" type="button">مشاهدة المزيد</button>
        </div>*@
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        @*$.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.Post.GetAllHaragPostsAjax")',
            complete: function (data) {
                $("#posts").html(data.responseText);
            }
        });*@
        $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.Post.GetCategories")',
            complete: function (data) {
                $("#category-js-ajax").html(data.responseText);
            }
        });

        $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.Post.GetCategories")',
            complete: function (data) {
                $("#search-category-js-ajax").html(data.responseText);
            }
        });

         $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.Post.GetHaragCities")',
            complete: function (data) {
                $("#select-city-js-ajax").html(data.responseText);
            }
        });
    });

</script>

