@model Nop.Services.Z_Harag.Post.PostForPostListModel

@{
    Layout = "~/Themes/Pavilion/Views/Harag/Shared/_Header.cshtml";
}
<style>
    #map {
        height: 500px;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>
<h3>تحديد الموقع لـ @Model.Title</h3>
<div class="row">
    <div class="col-md-4">
        <label> اختر المدينه </label> <br>
        <select id="City-js-ajax" , name="CategoryId" required class="form-control" placeholder="اختر المدينه "></select>
    </div>
    <div class="col-md-4">
        <label> اختر الحي </label> <br>
        <select id="Neighbohood-js-ajax" , name="CategoryId" required class="form-control" placeholder="اختر الحي "></select>
    </div>
     
</div>
<br />
@*<div class="row"> 
    <div id="map"></div>
</div>*@
<div class="row">
    <br />

    <div class="col-md-12">
        <button id="add-update-location-js"  class="btn btn-default add" type="submit"> استمر في اضافه الاعلان </button>
    </div>
</div>
<!-- Replace the value of the key parameter with your own API key. -->
<script>
    $(document).ready(function () {

        var map, Lat=0, Len=0;

        //function initialize() {
        //    var mapOptions = {
        //        zoom: 12
        //    };
        //    map = new google.maps.Map(document.getElementById('map'),
        //        mapOptions);

        //    // Get GEOLOCATION
        //    if (navigator.geolocation) {
        //        navigator.geolocation.getCurrentPosition(function (position) {
        //            var pos = new google.maps.LatLng(position.coords.latitude,
        //                position.coords.longitude);

        //            map.setCenter(pos);
        //            marker = new google.maps.Marker({
        //                position: pos,
        //                map: map,
        //                draggable: true
        //            });

        //        }, function () {
        //            handleNoGeolocation(true);
        //        });
        //    } else {
        //        // Browser doesn't support Geolocation
        //        handleNoGeolocation(false);
        //    }

        //    function handleNoGeolocation(errorFlag) {
        //        if (errorFlag) {
        //            var content = 'Error: The Geolocation service failed.';
        //        } else {
        //            var content = 'Error: Your browser doesn\'t support geolocation.';
        //        }

        //        var options = {
        //            map: map,
        //            position: new google.maps.LatLng(60, 105),
        //            content: content
        //        };

        //        map.setCenter(options.position);
        //        marker = new google.maps.Marker({
        //            position: options.position,
        //            map: map,
        //            draggable: true
        //        });


        //    }

        //    // get places auto-complete when user type in location-text-box
        //    //var input = /** type {HTMLInputElement} */
        //    //    (
        //    //        document.getElementById('City-js-ajax'));


        //    //var autocomplete = new google.maps.places.Autocomplete(input);
        //    //autocomplete.bindTo('bounds', map);

        //    //var infowindow = new google.maps.InfoWindow();
        //    //marker = new google.maps.Marker({
        //    //    map: map,
        //    //    anchorPoint: new google.maps.Point(0, -29),
        //    //    draggable: true
        //    //});

        //    //google.maps.event.addListener(autocomplete, 'place_changed', function () {
        //    //    infowindow.close();
        //    //    marker.setVisible(false);
        //    //    var place = autocomplete.getPlace();
        //    //    if (!place.geometry) {
        //    //        return;
        //    //    }

        //    //    // If the place has a geometry, then present it on a map.
        //    //    if (place.geometry.viewport) {
        //    //        map.fitBounds(place.geometry.viewport);
        //    //    } else {
        //    //        map.setCenter(place.geometry.location);
        //    //        map.setZoom(17); // Why 17? Because it looks good.
        //    //    }
        //    //    marker.setIcon( /* @@type {google.maps.Icon} */({
        //    //        url: place.icon,
        //    //        size: new google.maps.Size(71, 71),
        //    //        origin: new google.maps.Point(0, 0),
        //    //        anchor: new google.maps.Point(17, 34),
        //    //        scaledSize: new google.maps.Size(35, 35)
        //    //    }));
        //    //    marker.setPosition(place.geometry.location);
        //    //    marker.setVisible(true);

        //    //    var address = '';
        //    //    if (place.address_components) {
        //    //        address = [
        //    //            (place.address_components[0] && place.address_components[0].short_name || ''), (place.address_components[1] && place.address_components[1].short_name || ''), (place.address_components[2] && place.address_components[2].short_name || '')
        //    //        ].join(' ');
        //    //    }

        //    //});



        //}
        //initialize();

        $("#City-js-ajax").change(function () {
            //geocoder = new google.maps.Geocoder();
            var address = $("#City-js-ajax option:selected").text();

            $.ajax({
                type: 'GET',
                url: '@Url.RouteUrl("Harag.Post.GetHaragNeighborhoods")?cityId=' + $("#City-js-ajax option:selected").val(),
            complete: function (data) {
                $("#Neighbohood-js-ajax").html(data.responseText);
            }
          });
           
            //geocoder.geocode({ 'address': address }, function (results, status) {
            //    if (status == google.maps.GeocoderStatus.OK) {
            //        map.setCenter(results[0].geometry.location);
            //         marker = new google.maps.Marker({
            //            map: map,
            //            position: results[0].geometry.location
            //        });
            //    } else {
            //        //  alert('Geocode was not successful for the following reason: ' + status);
            //    }
            });
        });

    $("#add-update-location-js").click(function (event) {
        var lat = 0;//marker.getPosition().lat();
        var lng = 0;//marker.getPosition().lng();
        var city = $("#City-js-ajax option:selected").val();
        var neighb = $("#Neighbohood-js-ajax option:selected").val();
        var postLocationModel = {
            PostId: '@Model.Id',
            Lat: lat + "",
            Lng: lng + "",
            CityId: city + "",
            NeighbId: neighb + ""
        };

        // update the location
        $.ajax({
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        type: 'POST',
        url: '@Url.RouteUrl("Harag.Post.UpdatePostLocationAjax")',
        dataType: 'json',
            data: JSON.stringify(postLocationModel),
        complete: function (data) {
            if (data.satat == true) {
                window.location = '/Harag/Post/' + @Model.Id;
            } else {
                window.location = '/Harag/Post/' + @Model.Id;
                //alert("تاكد من الاتصال بالانترنت وعاود المحاوله");
            }
        }
    });
    });
    });



</script>

<script type="text/javascript">
 
    function getPostPaging(url) {

        var indexmyurl = url.indexOf("Consultations/Consultations");
        var myurl = url.substring(indexmyurl);
        window.location.href = myurl;

    }

       $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.Post.GetHaragCities")',
            complete: function (data) {
                $("#City-js-ajax").html(data.responseText);
            }
    });
     $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.Post.GetHaragNeighborhoods")?cityId=1',
            complete: function (data) {
                $("#Neighbohood-js-ajax").html(data.responseText);
            }
    });



</script>
