@model CustomerNavigationModel           
@using Nop.Web.Models.Customer;
<div class="category-menu-area hidden-sm">
    <div class="tag-title">
        <h2>@T("Account.Navigation")</h2>
    </div>
    <div class="category-menu">
        <ul>
            @Html.Widget("account_navigation_before")
            @foreach (var item in Model.CustomerNavigationItems)
            {               
                <li>
                    <a href="@Url.RouteUrl(item.RouteName)" class="@(Model.SelectedTab == item.Tab ? "active" : "inactive")">@(item.Title)</a>
                </li>
            }
            @Html.Widget("account_navigation_after")
        </ul>
    </div>
</div>
