@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwoCustomer.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
<div class="page password-recovery-page">
    <div class="form-panel">
        
        <div class="area-title">
            <h2>@T("Account.PasswordRecovery")</h2>
        </div>
        <div class="pass_recovery_wrapper">
            @if (!String.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            @using (Html.BeginForm())
            {
                 @Html.AntiForgeryToken()
                <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
				
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Email, new { @class = "col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label" }, ":")
								@Html.RequiredHint()
								@Html.ValidationMessageFor(model => model.Email)
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">    
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
				<div class="fieldset">
                    <div class="form-fields">
                        <div class="form-group row">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"> </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">    
                                <div class="buttons">
									<input type="submit" name="send-email" class="button-1 btn btn-default recovery_btn" value="@T("Account.PasswordRecovery.RecoverButton")" />
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
