@{
    string getCustomerPosts = "";
    if (@ViewBag.UserRole == "Registered")
    {
        getCustomerPosts = "getCustomerPosts()";
    }
    else if (@ViewBag.UserRole == "Consultant")
    {
        getCustomerPosts = "getConsultantPosts()";
    }
    else if (@ViewBag.UserRole == "vistor")
    {
        getCustomerPosts = "login()";
    }
}

<style type="text/css">
    /*.threebuttons:hover { background-color: darkgreen !important;}
     .nodoc:hover { text-decoration: none; }*/
    span { padding: 9px; font-weight: bold; }
    span a {
        color: #777;
        text-decoration: none
    }
        span a:hover {
            color: #3e874b; text-decoration:none
        }
    #threebuttons span a {
        padding: 0 5px
    }
        #threebuttons span a:hover {
            text-decoration:underline
        }
</style>

@if (@ViewBag.UserRole == "Registered")
{
    <span>
        <a href="@Url.RouteUrl("Consultant.Post.AddPost")" class="nodoc">
            اضافة استشارة جديدة
            @*<input id="searchText" type="button" class="form-control col-md-12 threebuttons" value="اضافة استشارة جديدة" style="margin:2px;background-color:#4da74d;color:#fff;">*@
            @*<input id="searchText" type="button" class="form-control col-md-12 threebuttons" value="اضافة استشارة جديدة">*@
        </a>
    </span>
}
@if (@ViewBag.UserRole == "vistor")
{
    <span>
        <a href="@Url.RouteUrl("Consultant.Post.AddPost")" class="nodoc">
            اضافة استشارة جديدة
            @*<input id="searchText" type="button" class="form-control col-md-12 threebuttons" value="اضافة استشارة جديدة" style="margin:2px;background-color:#4da74d;color:#fff;">*@
            @*<input id="searchText" type="button" class="form-control col-md-12 threebuttons" value="اضافة استشارة جديدة">*@
        </a>
    </span>
}

@if (@ViewBag.UserRole == "vistor")
{
    <span>
        <a href="@Url.RouteUrl("Consultant.Post.GetCustomerOpenPosts")" class="nodoc">
            استشاراتى السابقة
            @*<input id="searchText" type="button" class="form-control col-md-12 threebuttons" value="استشاراتى السابقة" style="margin:2px;background-color:#4da74d;color:#fff;">*@
            @*<input id="searchText" type="button" class="form-control col-md-12 threebuttons" value="استشاراتى السابقة">*@
        </a>
    </span>

}
@if (@ViewBag.UserRole == "Registered")
{
    <span>
        <a href="@Url.RouteUrl("Consultant.Post.GetCustomerOpenPosts")" class="nodoc">
            استشاراتى السابقة
            @*<input id="searchText" type="button" class="form-control col-md-12 threebuttons" value="استشاراتى السابقة" style="margin:2px;background-color:#4da74d;color:#fff;">*@
            @*<input id="searchText" type="button" class="form-control col-md-12 threebuttons" value="استشاراتى السابقة">*@
        </a>
    </span>
}
@if (@ViewBag.UserRole == "Consultant")
{
    <span>
        <a href="@Url.RouteUrl("Consultant.Post.GetConsultantNotAnsweredPosts")" class="nodoc">
            استشاراتى السابقة
            @*<input id="searchText" type="button" class="form-control col-md-12 threebuttons" value="استشاراتى السابقة" style="margin:2px;background-color:#4da74d;color:#fff;">*@
            @*<input id="searchText" type="button" class="form-control col-md-12 threebuttons" value="استشاراتى السابقة">*@
        </a>
    </span>
}
<span>
    <a href="@Url.RouteUrl("Consultant.Post.GetAllClosedPosts")" class="nodoc">
        احدث الاستشارات
        @*<input id="searchText" type="button" class="form-control col-md-12 threebuttons" value="احدث الاستشارات" style="margin:2px;background-color:#4da74d;color:#fff;">*@
        @*<input id="searchText" type="button" class="form-control col-md-12 threebuttons" value="احدث الاستشارات">*@
    </a>
</span>
<span>
    <a href="@Url.RouteUrl("Consultant.Post.GetCustomerCommonPosts")" class="nodoc">
        الاستشارات الشائعه
        @*<input id="searchText" type="button" class="form-control col-md-12 threebuttons" value=" الاستشارات الشائعه" style="margin:2px;background-color:#4da74d;color:#fff;">*@
        @*<input id="searchText" type="button" class="form-control col-md-12 threebuttons" value=" الاستشارات الشائعه">*@
    </a>
</span>




