@using Nop.Web.Models.Consultant.Category;
@model CategoryWithSubCategoriesOutputModel


    @*<script src="~/js/Consultant/jquery.min.js"></script>
        <link href="~/css/Consultant/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/Consultant/bootstrap-theme.min.css" rel="stylesheet" />
        <script src="~/js/Consultant/bootstrap.min.js"></script>*@
    @*<link href="~/css/Consultant/Header.css" rel="stylesheet" />
        <link href="~/css/Consultant/Main.css" rel="stylesheet" />*@
    @*<link href="~/css/Consultant/ConsultantCss.css" rel="stylesheet" />*@

<style type="text/css">
    li:hover  div{
        display: block !important;
    }
</style>

    @*<link href="~/css/Consultant/Navbar.css" rel="stylesheet" />*@



    <!-- Nav -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="allcat" onclick="selectHomePage()" class="main hasSubMenu">
                        @*<a (click)="filterHome({catID:null, subCat: null}, item, null)"
            [routerLink]="['home/']">كل التصنيفات</a>*@
                        <a class="">الصفحة الرئيسية</a>
                    </li>
                    <li id="allcat" onclick="selectAllCat()" class="main hasSubMenu">
                        @*<a (click)="filterHome({catID:null, subCat: null}, item, null)"
            [routerLink]="['home/']">كل التصنيفات</a>*@
                        <a class="">كل التصنيفات</a>
                    </li>

                    @foreach (var item in Model.Items)
                    {
                        <li class="main hasSubMenu" >
                            <a class="" onclick="selectCat('@item.Name','@item.Id')" >@item.Name</a>
                            <div class="subNav">


                                <ul class="col-md-3 col-sm-6">

                                    @foreach (var subCat in item.SubCategories)
                                    {
                                        <li>
                                            <a onclick="selectSub('@item.Name','@subCat.Name','@subCat.Id')" >@subCat.Name</a>
                                        </li>
                                    }



                                </ul>


                            </div>
                        </li>
                    }



                    @*<li *ngFor="let item of items"
            [ngClass]="{ 'main hasSubMenu': item.subCategories.length}"
            (mouseenter)="getSubItems(item.id)">
            <a (click)="filterHome({catID:item.id, subCat: null}, item, null)"
               [ngClass]="{'active': filter?.catID == item.id}">{{item.name}}</a>
            <div class="subNav">
                <ul *ngFor="let sec of subItems" class="col-md-3 col-sm-6">
                    <li *ngFor="let subCat of sec" (click)="filterHome({catID:null, subCat: subCat.id}, item, subCat)">
                        <a>{{subCat.name}}</a>
                    </li>
                </ul>
            </div>
        </li>*@
                </ul>
            </div><!-- /.navbar-collapse -->
            @*<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li *ngFor="let item of items"
                        [ngClass]="{ 'main hasSubMenu': item.subCategories.length}"
                        (mouseenter)="getSubItems(item.id)">
                        <a (click)="filterHome({catID:item.id, subCat: null}, item, null)"
                           [ngClass]="{'active': filter?.catID == item.id}">{{item.name}}</a>
                        <div class="subNav">
                            <ul *ngFor="let sec of subItems" class="col-md-3 col-sm-6">
                                <li *ngFor="let subCat of sec" (click)="filterHome({catID:null, subCat: subCat.id}, item, subCat)">
                                    <a>{{subCat.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>*@
            @*</div>*@<!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->
    </nav>



    <div class="" id="navSelectedCat">
        <div class="container-fluid">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="heading_nav">
                    <span id="slectedCatSpan">كل التصنيفات</span> / <span id="slectedSubSpan"></span>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#navSelectedCat").css("display", "none");
        });


        function selectCat(name, CategoryId) {

            $("#slectedCatSpan").text(name);
            $("#slectedSubSpan").text("");
            $("#navSelectedCat").css("display", "block");



            $.ajax({
                type: 'GET',
                url: 'Consultations/GetAllClosedPostsByCategoryId',
                data: { CategoryId: CategoryId },
                success: function (data) {
                    $("#posts").html(data);
                    $("#AddPost").css("display", "none");
                    $("#posts").css("display", "block");
                    $("#otherpage").html("");
                }
            });
        }



        function selectSub(nameCat, nameSub, SubCategoryId) {

            $("#slectedCatSpan").text(nameCat);
            $("#slectedSubSpan").text(nameSub);
            $("#navSelectedCat").css("display", "block");



            $.ajax({
                type: 'GET',
                url: 'Consultations/GetAllClosedPostsBySubCategoryId',
                data: { SubCategoryId: SubCategoryId },
                success: function (data) {
                    $("#posts").html(data);
                    $("#AddPost").css("display", "none");
                    $("#posts").css("display", "block");
                    $("#otherpage").html("");
                }
            });
        }

        function selectAllCat() {
            $("#navSelectedCat").css("display", "none");
            $("#AddPost").css("display", "none");
            $("#posts").css("display", "block");
            $("#otherpage").html("");


            $.ajax({
                type: 'GET',
                url: 'Consultations/GetAllClosedPosts',

                success: function (data) {
                    $("#posts").html(data);
                }
            });
        }

        function selectHomePage() {
            $("#navSelectedCat").css("display", "none");
            $("#AddPost").css("display", "block");
            $("#posts").css("display", "block");
            $("#otherpage").html("");


            $.ajax({
                type: 'GET',
                url: 'Consultations/GetAllClosedPosts',

                success: function (data) {
                    $("#posts").html(data);
                }
            });
        }



    </script>