@using Nop.Web.Models.Consultant.Post;
@model PostOutputModel


<link href="~/css/Consultant/pagination.css" rel="stylesheet" />


<style type="text/css">
    .orange-star {
        color: orange !important;
    }
</style>


<!-- Post -->

@foreach (var post in Model.Items)
{
    <div class="post">
        <!-- Heading -->
        <div class="heading">
            <span>@post.CategoryName <span> /</span> @post.SubCategoryName  </span>
            <span class="pull-left">
                @if (ViewBag.UserRole == "Vistor")
                {
                    @if (post.IsClosed)
                    {
                        <span class="status closed">
                            مغلقة
                        </span>
                    }
                    else
                    {
                        <span class="status open">
                            مفتوحة
                        </span>
                    }
                }

                @if (ViewBag.UserRole == "Registered")
                {
                    @if (post.IsClosed)
                    {
                        <span class="status closed">
                            مغلقة
                        </span>
                    }
                    else
                    {
                        <span class="status open">
                            مفتوحة
                        </span>
                    }
                }

                @if (ViewBag.UserRole == "Consultant")
                {
                    @if (post.IsClosed == true)
                    {
                        <span class="status closed">
                            @Html.Raw(" مغلقة ")
                        </span>
                    }
                    else if (!post.IsClosed && post.IsAnswered)
                    {
                        <span class="status open">
                            @Html.Raw(" مفتوحة ")
                        </span>
                    }
                    else if (!post.IsClosed && !post.IsAnswered && post.IsReserved)
                    {
                        <span class="status open">
                            @Html.Raw(" محجوزة ")
                        </span>
                    }
                    else if (!post.IsClosed && !post.IsAnswered && !post.IsReserved)
                    {
                        <span class="status open">
                            @Html.Raw(" لم يرد عليها ")
                        </span>
                    }
                }


                @if (post.Rate != null)
                {
                    <span class="separator"> | </span>
                    @if (post.IsClosed)
                    {
                        <span>
                            @if (post.Rate >= 1)
                            {
                                <i class="fa fa-star orange-star"></i>
                            }
                            else
                            {
                                <i class="fa fa-star"></i>
                            }
                            @if (post.Rate >= 2)
                            {
                                <i class="fa fa-star orange-star"></i>
                            }
                            else
                            {
                                <i class="fa fa-star"></i>
                            }
                            @if (post.Rate >= 3)
                            {
                                <i class="fa fa-star orange-star"></i>
                            }
                            else
                            {
                                <i class="fa fa-star"></i>
                            }
                            @if (post.Rate >= 4)
                            {
                                <i class="fa fa-star orange-star"></i>
                            }
                            else
                            {
                                <i class="fa fa-star"></i>
                            }
                            @if (post.Rate >= 5)
                            {
                                <i class="fa fa-star orange-star"></i>
                            }
                            else
                            {
                                <i class="fa fa-star"></i>
                            }

                        </span>
                    }
                }
            </span>
        </div>
        <!-- Body -->
        <div class="post-body" style="overflow-wrap:break-word;">
            <div class="row">
                <div class="col-xs-2 text-center">
                    <img src="~/images/Consultant/images/no-img.png" />
                </div>
                <div class="col-xs-10">
                    <h4>@post.PostOwner</h4>
                    <span>@post.DateCreated</span>
                    <div>
                        <h4>
                            @post.Title
                        </h4>
                    </div>
                    <p>
                        @post.Text
                    </p>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="post-footer">
            <div class="pull-left">
                <span class="buton primary" onclick="getPostDetails('@post.Id')"> التفاصيل </span>

                @*<span class="buton" *ngIf="!consultation?.isReserved && userRole == 'Consultant'  && !consultation.isClosed"
                          (click)="reservePost()">حجز للرد</span>
                    <span class="buton"
                          (click)="reservePost()"
                          [routerLink]="['/consultations/home/details/', consultation?.id]"
                          *ngIf="!consultation?.isReserved && userRole == 'Consultant' && !consultation.isClosed">عرض وحجز للرد</span>*@
            </div>
        </div>
    </div>
}



@if (Model.Paging.PageNumber <= Model.Paging.TotalPages)
{


    @if (Model.Links.Count == 2)
    {
        @if (Model.Paging.PageNumber == 1)
        {
            <!-- Pager -->
            <nav class="pagination-outer" aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" onclick="getPostPaging('@Model.Links[1]?.Href')">
                            <span aria-hidden="true"> <<< </span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link">@Model.Paging.PageNumber</a>
                    </li>

                </ul>
            </nav>
        }
        else if (Model.Paging.PageNumber == Model.Paging.TotalPages)
        {
            <!-- Pager -->
            <nav class="pagination-outer" aria-label="Page navigation">
                <ul class="pagination">

                    <li class="page-item">
                        <a class="page-link">@Model.Paging.PageNumber</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous" onclick="getPostPaging('@Model.Links[0]?.Href')">
                            <span aria-hidden="true"> >>> </span>
                        </a>
                    </li>
                </ul>
            </nav>
        }
    }
    else if(Model.Links.Count > 2)
    {
        <!-- Pager -->
        <nav class="pagination-outer" aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" aria-label="Next" onclick="getPostPaging('@Model.Links[2]?.Href')">
                        <span aria-hidden="true"> <<< </span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link">@Model.Paging.PageNumber</a>
                </li>
                <li class="page-item">
                    <a class="page-link" aria-label="Previous" onclick="getPostPaging('@Model.Links[0]?.Href')">
                        <span aria-hidden="true"> >>> </span>
                    </a>
                </li>
            </ul>
        </nav>
    }



}



@*@if (Model.Paging.TotalPages  > 1)
    {
        <ul class="pagination">
            @if (Model.Paging.PageNumber > 1)
            {
                <li>
                    <a href="~/Home/Index">First</a>
                </li>
                <li>
                    <a href="@Model.Links[0].Href">Previous</a>
                </li>
            }

            @for (var page =1; page <= Model.Paging.TotalPages; page++)
            {
                <li class="@(page == Model.Paging.PageNumber ? "active" : "")">
                    <a href="~/Home/Index?page= @Model.Paging.PageNumber "> @Model.Paging.PageNumber </a>
                </li>
            }

            @if (Model.Paging.PageNumber < Model.Paging.TotalPages)
            {
                <li>
                    <a href="@Model.Links[1].Href">Next</a>
                </li>
                <li>
                    <a href="~/Home/Index?page=@(Model.Paging.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }*@


<script type="text/javascript">
    function getPostDetails(postId) {
        $.ajax({
            type: 'GET',
            url: 'Consultations/GetPost',
            data: { postId: postId },
            success: function (data) {
                $("#navSelectedCat").css("display", "none");
                $("#AddPost").css("display", "none");
                $("#posts").css("display", "none");
                $("#otherpage").html(data);
            }
        });
    }


    function getPostPaging(url) {

        var indexmyurl = url.indexOf("Consultations");
        var myurl = url.substring(indexmyurl);

        $.ajax({
            type: 'GET',
            url: myurl,
            //url: 'Consultations/GetAllClosedPosts?pagenumber=2&pagesize=10',

            success: function (data) {
                $("#posts").html(data);
                $("#tabpanelPosts").html(data);
            }
        });
    }
</script>


