

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
<script src="~/js/Consultant/jquery.min.js"></script>
<link href="~/css/Consultant/bootstrap.min.css" rel="stylesheet" />
<script src="~/js/Consultant/bootstrap.min.js"></script>


<link href="~/css/Consultant/bootstrap-rtl.min.css" rel="stylesheet" />
<link href="~/fonts/Consultant/font-awesome.min.css" rel="stylesheet" />



<link href="~/css/Consultant/ConsultantCss.css" rel="stylesheet" />
<link href="~/css/Consultant/styles.rtl.css" rel="stylesheet" />
<link href="~/css/Consultant/1000.rtl.css" rel="stylesheet" />

<link href="~/css/Consultant/Home.css" rel="stylesheet" />
<link href="~/css/Consultant/theme.custom-1.css" rel="stylesheet" />
<link href="~/css/Consultant/theme.custom-2.css" rel="stylesheet" />
<script src="~/js/Consultant/main.js"></script>
<script src="~/js/Consultant/jquery.nicescroll.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="~/css/Consultant/mobile.css" rel="stylesheet" />

<script src="~/js/Consultant/lightbox.js"></script>
<link href="~/css/Consultant/lightbox.css" rel="stylesheet" />

<link href="~/css/Consultant/Header.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>الاستشارات</title>

<style type="text/css">
    .register {
        color: green !important;
    }

    ul {
        display: block;
        list-style-type: none !important;
    }

    .consultantlink:hover {
        text-decoration: none;
    }

    .btndarckgreen:hover {
        background-color: darkgreen !important;
    }

    .consult:hover {
        color: #4da74d !important;
    }

    .consult .cart-label:hover, .consult .cart-qty:hover {
        color: #4da74d;
    }

    #flyout-cart:hover {
        color: #4da74d !important;
    }

    #flyout-cart a:hover {
        color: #4da74d !important;
    }

    .badge {
        background-color: red !important;
    }

    .weLink:hover ~ .mnuList {
        display: block;
        border-top: 0;
    }

    .mnuList:hover {
        display: block;
        border-top: 0
    }

    .user {
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
        min-width: 145px;
        padding: 5px 10px;
    }

        .user:hover {
            background: #fff;
            border: 1px solid #ddd;
            border-bottom: 0
        }

        .user img {
            margin-left: 5px
        }

        .user i {
            color: #888;
            padding-right: 5px;
        }

    .avatar {
        position: relative;
    }

        .avatar ul {
            position: absolute;
            z-index: 999;
            background: #fff;
            min-width: 145px;
            padding-top: 10px;
            border: 1px solid #ddd;
            width: 100%;
            display: none
        }

            .avatar ul li {
                text-align: center;
                border-bottom: 1px solid #ddd
            }

                .avatar ul li:last-child {
                    border-bottom: 0;
                    padding-bottom: 10px;
                }

                .avatar ul li a {
                    text-decoration: none;
                    cursor: pointer;
                    color: #4da74d;
                    padding: 10px;
                    font-size: 16px
                }

                .avatar ul li.name {
                    padding-bottom: 10px
                }

                .avatar ul li.link {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    cursor: pointer;
                }

                    .avatar ul li.link:hover {
                        background: #eee
                    }

        .avatar:hover ul {
            display: block
        }

    .profile_blck:hover .user {
        background: #fff;
        border: 1px solid #ddd;
        border-bottom: 0
    }

    /*Nav*/
    .navbar-collapse {
        padding: 0;
        position: relative;
        background: #e8ebee
    }

    .navbar-default {
        border-color: #ededed;
        background: #e8ebee;
        min-height: 30px;
    }

        .navbar-default .navbar-nav > li > a, .subNav li a {
            color: #000;
            font-size: 16px;
            cursor: pointer;
            text-decoration: none
        }

        .navbar-default .navbar-nav > li.main > a.active, .navbar-default .navbar-nav > li.main:hover > a {
            color: #4da74d;
            font-weight: bold;
            background: #fff;
        }

    .subNav {
        display: none;
        min-height: 100px;
        padding: 10px 0;
        background: #fff;
        border: 1px solid #ddd;
        position: absolute;
        top: 51px;
        z-index: 9999;
        min-width: 1000px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.08);
        -ms-transition: all 3s ease-in-out;
        -o-transition: all 3s ease-in-out;
        -webkit-transition: all 3s ease-in-out;
        transition: all 3s ease-in-out;
    }
    /* .subNav { display: none; min-height: 100px; padding: 10px 0; background:#fff; border:1px solid #ddd; position: absolute; top: 51px; right: -292px; z-index: 9999; width: 1518px; box-shadow: 0 1px 2px 0 rgba(0,0,0,.08); -ms-transition: all 3s ease-in-out; -o-transition: all 3s ease-in-out; -webkit-transition: all 3s ease-in-out; transition: all 3s ease-in-out; } */
    /* .navbar-default .navbar-nav>li.hasSubMenu :hover { background:#fff; border-top:1px solid #4da74d } */
    .navbar-default .navbar-nav > li.hasSubMenu :hover ~ .subNav {
        display: block;
        -ms-transition: all 3s ease-in-out;
        -o-transition: all 3s ease-in-out;
        -webkit-transition: all 3s ease-in-out;
        transition: all 3s ease-in-out;
    }

    .navbar-default .navbar-nav > li.hasSubMenu a:hover {
        color: #4da74d;
        font-weight: bold
    }

    .navbar-default .navbar-nav > li.hasSubMenu a {
        font-size: 15px;
        padding-bottom: 0;
        padding-top: 0;
        line-height: 30px;
    }

        .navbar-default .navbar-nav > li.hasSubMenu a:hover {
            text-decoration: underline
        }

    .subNav:hover {
        display: block
    }

    .subNav ul {
        float: right;
        min-width: 220px;
        margin-right: 15px;
        border-left: 1px solid #ddd;
    }

        .subNav ul:last-of-type {
            border-left: 0
        }

        .subNav ul li {
            padding-bottom: 15px
        }

            .subNav ul li a {
                font-size: 14px;
                color: #888
            }

    .heading_nav {
        background: #e8ebee;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 20px;
        border: 1px solid #ddd;
    }

    .fixedNavScreen {
        background: #fff;
        box-shadow: 0 3px 5px rgba(0,0,0,0.1);
        display: none;
    }

        .fixedNavScreen ul {
            display: flex;
            justify-content: center;
            margin-bottom: 0;
            padding: 0
        }

            .fixedNavScreen ul li {
                float: right;
                cursor: pointer;
                padding: 10px;
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
            }

                .fixedNavScreen ul li i {
                    color: #4da74d;
                    font-weight: bold;
                }

    @@media(max-width:767px) {
        .top-user-menu {
            display: none
        }

        .fixedNavScreen {
            display: block
        }

        .search {
            margin-top: 85px;
            padding: 15px 0;
        }

            .search .logoContainer {
                text-align: center
            }

            .navbar-default, #userInfo, .search .form-group {
                display: none
            }
    }

    #searchScreenFull {
        display: none;
        background: #4da74d;
        margin-top: 40px;
        min-height: 45px;
    }

        #searchScreenFull input {
            border-radius: 0;
            height: 33px;
            width: 75%;
            float: right;
            margin-top: 6px
        }

        #searchScreenFull i {
            float: right;
            line-height: 40px;
            width: 10%;
            margin-right: 12px;
            cursor: pointer;
            color: #fff;
            font-size: 15px
        }

    #myAccountScreenFull {
        display: none
    }

        #myAccountScreenFull ul {
            width: 100%;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            background-color: #f9f9f9;
            display: block
        }

            #myAccountScreenFull ul li {
                border-top: 1px solid #ececec;
                float: none;
                text-align: center
            }

                #myAccountScreenFull ul li a {
                    padding: 15px 25px;
                    font-size: 13px;
                }

                    #myAccountScreenFull ul li a i {
                        color: #999;
                        font-weight: normal;
                        padding-left: 15px
                    }

    .overlay {
        display: none;
        background: rgba(0,0,0,0.6);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 1060;
    }

    .rightMenu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 320px;
        height: 100%;
        text-align: right;
        background: #f6f6f6;
        box-shadow: 1px 0 5px rgba(0,0,0,0.5);
        overflow: hidden;
        z-index: 1070;
        transition: all 0.5s ease;
    }

        .rightMenu .top_header {
            height: 50px;
        }

            .rightMenu .top_header i {
                color: #aaa;
                cursor: pointer;
                margin-left: 20px;
                line-height: 50px
            }

        .rightMenu ul {
            margin: 0;
            padding: 0;
            background: #fff;
            height: 100%;
        }

            .rightMenu ul li {
                padding: 20px;
                line-height: 19px;
                cursor: pointer
            }

                .rightMenu ul li a {
                    color: #333;
                    font-size: 15px;
                    text-decoration: none;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                .rightMenu ul li:hover a {
                    color: #4da74d
                }

                .rightMenu ul li i {
                    color: #4da74d;
                    cursor: pointer;
                }
</style>


<!-- Header -->
<!-- Top Bar -->
<section class="topFixed">
    <section class="top_bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-1 hidden-sm hidden-xs top_col_screen top_hid_sm"></div>
                <div class="col-lg-2 col-md-2 hidden-sm hidden-xs top_col_screen">
                    <div id="admin-link-js-ajax" style="color: white"></div>
                    @*<a href="/Consultations/Admin">اداره الاستشارات</a>*@
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="text-center">
                        <span>@Html.RouteLink("المتجر", "HomePage", null, new { style = "color:#fff;", @class = "consultantlink" })</span>
                        <span>@Html.RouteLink("الحراج", "Harag.Home", null, new { style = "color:#fff;", @class = "consultantlink" })</span>

                        <span class="active">@Html.RouteLink("الاستشارات", "Consultant.ConsultantHome", null, new { style = "color:#fff;", @class = "consultantlink" })</span>

                    </div>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs top_col_screen" id="userInfo"></div>
                <div class="col-lg-2 col-md-1 hidden-sm hidden-xs top_col_screen top_hid_sm"></div>
            </div>
        </div>
    </section>

    <section class="manage">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="admin-link-js-ajax text-center"></div>
                </div>
            </div>
        </div>
    </section>

    <div class="fixedNavScreen text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li id="menuBar">
                            <i class="fa fa-bars fa-lg"></i>
                        </li>
                        <li id="myAccount">
                            <a> <i class="fa fa-user-o fa-lg"></i> </a>
                        </li>
                        <li>
                            <a href="/Consultant/Notifications">
                                <sup id="notification-count-jsa" class="badge badge-danger"></sup>
                                <i class="fa fa-bell-o fa-lg"></i>
                            </a>
                        </li>

                        <li id="searchScreen">
                            <i class="fa fa-search fa-lg"></i>
                        </li>
                    </ul>
                </div>

                <div id="searchScreenFull">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6 text-center">
                        <div class="form-group">
                            <input id="searchTextM" type="text" class="form-control">
                            <i onclick="filterWithText('searchTextM')" id="search-js1" class="fa fa-search"></i>
                        </div>
                    </div>
                </div>

                <div id="myAccountScreenFull">
                    <div class="col-xs-12 text-center" style="padding:0">
                        <ul>
                            <li>
                                <a href="/Register">
                                    <i class="fa fa-pencil"></i>
                                    <span>سجل الان</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Login">
                                    <i class="fa fa-lock"></i>
                                    <span>دخول</span>
                                </a>
                            </li>
                            @*<li>
                                    <a href="#">
                                        <i class="fa fa-heart"></i>
                                        <span>السلع المفضلة</span>
                                    </a>
                                </li>*@
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<div style="background-color:#e8ebee;padding:8px;"><p id="messagep" style="text-align:center;margin:0; font-size: 15px;">خدمة الاستشارات هى خدمة مجانية تقدم من قبل موقع المزراع لمساعدة حل المشاكل الزراعية بواسطة مستشارين مختصين فى هذا المجال.</p></div>

<!-- Search -->
<section class="search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-2 col-xs-12 logoContainer">
                <img class="logo" src="~/images/Consultant/images/logo3.png" onclick="goToHome()" />
            </div>

            <div class="col-md-6" style="padding-top:12px;">
                <div class="form-group">
                    <input id="searchText" type="text" style="height:44px;"
                           class="form-control" placeholder="ابحث عن ...">
                    <button onclick="filterWithText('searchText')" style="height:44px;" class="btndarckgreen">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-3 consult " style="padding-top:25px;">
                <div class="flyout-cart-wrapper" id="flyout-cart">
                    <a href="/Consultant/Notifications">
                        <span class="cart-qty badge NotificationNum"></span>
                        <span class="cart-label ">الاشعارات</span>
                    </a>

                </div>
            </div>
        </div>
    </div>

</section>

<!--<!-- Nav -->
<div id="Nav"></div>

<div class="home" id="homeBody">
    <div class="container-fluid">
        <div class="col-md-2"></div>

        <div class="col-md-2" id="threebuttons" style="margin-bottom:5%;">

        </div>

        <div class="col-md-6">
            <div class="allPage" id="allpage">
                @RenderBody()
                <div id="posts"></div>
                <not-found *ngIf="!posts.length"></not-found>
                <tw-pagination *ngIf="posts?.length" [numberOfPages]="totalNumberOfPages" (pageChanged)="getClosedPost($event)"></tw-pagination>
            </div>
        </div>
        <div class="col-md-2"></div>


    </div>
</div>

<div class="overlay"></div>

<div class="rightMenu">
    <div class="top_header">
        <i class="fa fa-times pull-left"></i>
    </div>
    <div id="mobile-navbar-js"></div>
</div>

<div class="subRightMenu">
    <div class="top_header">
        <i class="fa fa-times pull-left"></i>
    </div>
    <div id="mobile-navbar-js"></div>
</div>

@*<link href="~/css/Consultant/bootstrap.min.css" rel="stylesheet" />*@
<script src="~/js/Consultant/bootstrap.min.js"></script>

<div id="changeCatAndSubDiv" class="modal" tabindex="-1" role="dialog" Style="display:none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title"> اضف رسالتك الي اداره الموقع </h4>
            </div>
            <div class="modal-body">
                <form>
                    <textarea type="text" class="form-control"></textarea>
                    <div class="modal-footer">
                        <button id="add-service-message-event" type="button" onclick="" class="btn btn-success">تعديل</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div><!-- /.modal !-->
<script type="text/javascript">
    $("#open-customer-service").click(function () {
        $("#changeCatAndSubDiv").show();
    });

    $("#add-service-message-event").click(function () {
        $("#changeCatAndSubDiv").hide();
    });
</script>


<div class="footer">
    <div class="footer-upper">
        <div class="center">
            <ul class="social-sharing">
                <li class="twitter"><a target="_blank" href="https://twitter.com/Niyat"></a></li>
                <li class="facebook"><a target="_blank" href="http://www.facebook.com/Niyat"></a></li>
                <li class="youtube"><a target="_blank" href="http://www.youtube.com/user/Niyat"></a></li>
                <li class="google"><a target="_blank" href="https://plus.google.com/Niyat"></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-middle">
        <div class="center">
            <div class="footer-block">
                <div class="title">
                    <strong>معلومات</strong>
                </div>
                <ul class="list">
                    <li><a href="/%D8%A7%D9%84%D8%B4%D8%AD%D9%86-%D9%88%D8%A7%D9%84%D8%A7%D8%B3%D8%AA%D8%B1%D8%AC%D8%A7%D8%B9">	الشحن والاسترجاع</a></li>
                    <li><a href="/%D8%A7%D9%84%D8%AE%D8%B5%D9%88%D8%B5%D9%8A%D8%A9">	الخصوصية</a></li>
                    <li><a href="/%D8%B4%D8%B1%D9%88%D8%B7-%D8%A7%D9%84%D8%A7%D8%B3%D8%AA%D8%AE%D8%AF%D8%A7%D9%85">شروط الاستخدام</a></li>
                    <li><a href="/%D9%85%D8%B9%D9%84%D9%88%D9%85%D8%A7%D8%AA-%D8%B9%D9%86%D8%A7">معلومات عنا</a></li>
                </ul>
            </div>
            <div class="footer-block">
                <div class="title">
                    <a id="open-customer-service">خدمة العملاء</a>
                </div>
                <ul class="list"></ul>
            </div>
            <div class="footer-block">
                <div class="title">
                    <strong>حسابي</strong>
                </div>
                <ul class="list">
                    <li><a href="/customer/info">معلومات العميل</a></li>
                    <li><a href="/customer/addresses">عناوين</a></li>
                    <li><a href="/order/history">طلبات</a></li>

                    <li><a href="/cart">عربة التسوق</a></li>
                    <li><a href="/wishlist">قائمة الملاحظة</a></li>
                    <li><a href="/compareproducts">قارن بين  المنتجات</a></li>
                </ul>
            </div>
            <div class="footer-block quick-contact">
                <div class="title">
                    <strong>تواصل معنا</strong>
                </div>
                <ul class="list">
                    <li class="address"><span>المملكة العربية السعودية</span></li>
                    <li class="email"><span>info@Niyat.com</span></li>
                    <li class="phone"><span>966-0000000</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-lower">
        <div class="center">
            <ul class="accepted-payments">
                <li class="method1"></li>
                <li class="method2"></li>
                <li class="method3"></li>
                <li class="method4"></li>
            </ul>
            <div class="footer-disclaimer">
                حقوق الطبع والنشر © 2019 Niyat Store. جميع الحقوق محفوظة.
            </div>

            <div class="footer-store-theme">

            </div>
        </div>
    </div>

</div>

<div id="goToTop" style="display: block;"></div>

<script>

    $(document).ready(function () {


        $.ajax({
            url: "/Consultant/UnReadNotifications",
            type: "get",
            success: function (data) {
                console.log("data " + data.query);

                if (data.query === 0) {
                    return;
                }
                $(".NotificationNum").html(data.query);
                $("#notification-count-jsa").html(data.query);
            }

        });

        $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Consultant.User.GetUserInfo")',

            success: function (data) {
                $("#userInfo").html(data);
            }
        });


        $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Consultant.User.GetAdminLink")',

            success: function (data) {
                $("#admin-link-js-ajax").html(data);
            }
        });

        $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Consultant.Navbar")',

            success: function (data) {
                $("#Nav").html(data);
            }
        });

           $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Consultant.NavbarMobile")',

            success: function (data) {
                $("#mobile-navbar-js").html(data);
            }
        });

        $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Consultant.User.GetUserRoles")',

            success: function (data) {
                $("#threebuttons").html(data);
            }
        });

          $(".NotificationNum").on("mouseover", function () {
              $(".cart-label").css("color", "#4da74d");

          })

    });


    function login() {
        window.location.href = "login?returnUrl=consultations";
    }

    function goToHome() {
        window.location.href = '@Url.RouteUrl("Consultant.ConsultantHome")';
    }


    function filterWithText(s) {
        var Term = $("#" + s).val();

        if (Term) {

            window.location.href = '@Url.RouteUrl("Consultant.Post.Search")'+"?Term=" + Term;
        }
        else {
            alert("ادخل كلمات للبحث");
        }
    }


</script>
<script src="/Plugins/SevenSpikes.Core/Scripts/sevenspikes.core.min.js" type="text/javascript"></script>
<script src="/Plugins/SevenSpikes.Core/Scripts/sevenspikes.theme.ex.min.js" type="text/javascript"></script>
<script src="/Themes/Pavilion/Content/scripts/pavilion.js" type="text/javascript"></script>


<script>
    $("#searchScreen").click(function () {
        $("#searchScreenFull").slideToggle("slow");
        $("#myAccountScreenFull").css("display", "none");
        $(".manage").toggle();
        $(".overlay").toggle();
        $(".top_bar").toggle();
        $(".topFixed").css("z-index", "1070");
    });
    $("#menuBar").click(function () {
        $(".overlay").css("display", "block");
        $(".rightMenu").css("display", "block");
        $(".topFixed").css("z-index", "1060");
    });
    $(".rightMenu .top_header i").click(function () {
        $(".overlay").css("display", "none");
        $(".rightMenu").css("display", "none");
        $(".topFixed").css("z-index", "1070");
    });
    $(".subRightMenu .top_header i").click(function () {
        $(".overlay").css("display", "none");
        $(".subRightMenu").css("display", "none");
        $(".topFixed").css("z-index", "1070");
    });
    $("#myAccount").click(function () {
        $("#myAccountScreenFull").slideToggle("slow");
        $("#searchScreenFull").css("display", "none");
        $(".manage").toggle();
        $(".overlay").toggle();
        $(".top_bar").toggle();
        $(".topFixed").css("z-index", "1070");
    });
</script>