@model Nop.Web.Models.HaragAdmin.Post.PostWithFilesModel

@{
    ViewBag.Title = "PostDetails";
    Layout = "~/Themes/Pavilion/Views/HaragAdmin/shared/_Layout.cshtml";
}


@Html.Partial("~/Themes/Pavilion/Views/HaragAdmin/Shared/_DataTable.cshtml")
<link href="~/css/HaragAdmin/ekko-lightbox.css" rel="stylesheet" />
<link href="~/css/ConsultantAdmin/MyCss.css" rel="stylesheet" />

<div class="page-title">تفاصيل الاعلان</div>





@using (Html.BeginForm())
{
    
        <div class="row">
            
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-lbl">العنوان</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(p => p.Title, new { @class = "form-control detailsTextBox" , @readonly="readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-lbl">الصنف </label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(p => p.Category, new { @class = "form-control detailsTextBox ", @readonly = "readonly" })
                            </div>
                        </div>

                    </div>
               
        </div>
        <div class="row">
           
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-lbl">الوصف</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(p => p.Text, new { @class = "form-control detailsTextBox", @readonly = "readonly", @rows = "7" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-lbl">صاحب الاستشارة</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(p => p.Customer, new { @class = "form-control detailsTextBox", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-lbl">المدينة</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(p => p.City, new { @class = "form-control detailsTextBox", @readonly = "readonly" })
                            </div>
                        </div>

                    </div>
               
        </div>
        <div class="row">
           
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-lbl">تاريخ الانشاء</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(p => p.DateCreated, new { @class = "form-control detailsTextBox", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-lbl">تاريخ التحديث</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(p => p.DateUpdated, new { @class = "form-control detailsTextBox", @readonly = "readonly" })
                            </div>
                        </div>

                    </div>
               
        </div>

       


   

    <span  class="btn btn-primary ref">رجوع</span>
   
}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-0" style="max-height:300px!important;margin-bottom:60px;margin-top:40px;margin-right:0px!important;padding-right:0px!important">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" >
                <div class="carousel-inner">
                    @{
                        var url = Model.Photos.FirstOrDefault();
                    }
                    @foreach (var photo in Model.Photos)
            {
                        <div class="carousel-item  @((photo==url)?Html.Raw("active"):Html.Raw(""))">
                            <a href="@photo" data-toggle="lightbox">

                                <img class="img-responsive" src="@photo">

                            </a>


                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </div>
</div>





<nav style="margin-top:50px;">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="nav-home" aria-selected="true">التعليقات</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="nav-profile" aria-selected="false">الرسائل</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#reports" role="tab" aria-controls="nav-contact" aria-selected="false">البلاغات</a>
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    <div id="comments" class="tab-pane fade show active"  role="tabpanel" aria-labelledby="nav-home-tab">

        
    </div>
    <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="nav-profile-tab">
        
</div>
    <div class="tab-pane fade" id="reports" role="tabpanel" aria-labelledby="nav-contact-tab">
       
    </div>
</div>





@*<div id="comments" style="margin-top:30px;"><span>التعليقات</span></div>
<div id="messages" style="margin-top:30px;"><span>الرسائل</span></div>*@
@*<div id="reports"><span>البلاغات</span></div>*@

<script src="~/js/HaragAdmin/ekko-lightbox.min.js"></script>

<script>
    $(document).ready(function () {





        // Post Comments

        $("<div>Comments</div>");
        $.ajax({
            type: "GET",
            url: "/Harag/Admin/Post/HaragPostsComment?postId=" +@Model.Id+"",
            success: function (data) {

               
                $.each(data.data, function (key, value) {
                    $("<div id='comment' ></div>").append($("<div class='text'>" + value.Text + "</div>")).append($("<hr/>")).append($("<span class='commentedBy'>تم التعليق بواسطة : " + value.CommentedBy + "</span>")).append($("<br/>")).append($("<span class='commentOwner'>اسم صاحب التعليق : " + value.CommentOwner + "</span>")).append($("<br/>")).append($("<span class='dateCreated'>تاريخ الانشاء : " + value.DateCreated + "</span>")).append($("<br/>")).append($("<span class='dateUpdated'>تاريخ التعديل : " + value.DateUpdated + "</span>")).append($("<br/>")).append($("<a href='/Harag/Admin/Comment/HaragPostReport?commentId=" + value.Id + "'>بلاغات هذا التعليق </a>")).appendTo('#comments');


                    //$('#comment').find('h5').html(value.Text);
                    //$('#comment').find('.text').html(value.CommentedBy);
                });

            }

            });



        //Post Messages
        $("<div>Messages</div>");
             $.ajax({
            type: "GET",
            url: "/Harag/Admin/Post/HaragPostMessages?postId=" +@Model.Id+"",
            success: function (data) {


                $.each(data.data, function (key, value) {
                    $("<div id='message'></div>").append($("<div class='text'> نص الرسالة : " + value.Message + "</div>")).append($("<hr/>")).append($("<br/>")).append($("<span class='commentOwner'>عنوان الاعلان  : " + value.Post + "</span>")).append($("<br/>")).append($("<span class='dateUpdated'>صاحب الاعلان  : " + value.Customer + "</span>")).append($("<br/>")).append($("<span class='dateCreated'>تاريخ الانشاء : " + value.DateCreated + "</span>")).appendTo('#messages');



                });

            }

            });


        //Post Reports

             $("<div>Reports</div>");
             $.ajax({
            type: "GET",
            url: "/Harag/Admin/Post/HaragPostReport?postId=" +@Model.Id+"",
            success: function (data) {


                $.each(data.data, function (key, value) {
                    $("<div id='report'></div>")

                        .append($("<br/>"))
                        .append($("<div class='text'>نص البلاغ  : " + value.ReportDescription + "</div>"))
                        .append($("<br/>"))

                        .appendTo('#reports');



                });

            }

            });


        $(".ref").on("click", function () {
            window.location.href = document.referrer;

             });

        $('[data-toggle="lightbox"]').on('click', function (event) {
            var button = $(this);
            event.preventDefault();
            $(this).ekkoLightbox();
        });

        });
</script>






@*<div class="col-md-4" style="max-height:300px!important;">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @{
                var url = Model.Photos.FirstOrDefault();
            }
            @foreach (var photo in Model.Photos)
            {
                <div class="carousel-item  @((photo==url)?Html.Raw("active"):Html.Raw(""))">
                    <a href="@photo" data-toggle="lightbox">

                        <img class="img-responsive" src="@photo">

                    </a>


                </div>
            }
        </div>
    </div>

</div>*@







@*style="max-height:300px;padding:0!important;"*@

@*<a href="@Model.Photos.FirstOrDefault()" data-toggle="lightbox">



    </a>*@
@*<img src="@Model.Photos.FirstOrDefault()" class="img-fluid">*@

@*<div class="row">
        @foreach (var photo in Model.Photos)
        {
            <div class="col-md-2">
                <img src="@photo" class="img-responsive" style="width:200px;height:200px;  margin-bottom:10px;margin-top:20px;" />
            </div>

        }
    </div>*@
@*<div id="comments" class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
    </div>*@