@model Nop.Web.Models.Harag.Profile.ProfileModel
@using Nop.Web.Controllers.Harag
@{
    Layout = "~/Themes/Pavilion/Views/Harag/Shared/_Header.cshtml";
}


<style>
    .followed:hover {
        border: solid #ecd6d6 4px;
        background: red;
        color: white;
    }

    .followed {
        border: solid #ecd6d6 4px !important;
        background: red !important;
        color: white !important;
    }
</style>

<!-- Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="profile_info">

                    <h3><i class="fa fa-user-o"></i> @Model.FullName</h3>
                    <hr />
                    @if ((DateTime.Now - Model.LastSeen) < TimeSpan.FromSeconds(12))
                    {
                        <span class="badge badge-success"><strong>متصل</strong></span>
                    }
                    else
                    {
                        <h4> اخر نشاط قبل @Model.LastSeenDesc  </h4>
                        <hr />
                    }



                    @if (!ViewBag.SameUser)
                    {
                        <p><a href="/Harag/Messages/Post/@Model.userId/@((int)MessageType.User)"><i class="fa fa-envelope-o"></i> مراسلة </a></p>
                    }
                    <hr />



                    <p><a href="/Harag/User/@Model.UserName/Rates">مشاهدة كل التقييمات</a></p>
                    <div class="col-xs-12" style="padding:0">
                        <a href="/Harag/User/@Model.UserName/Rates" class="btn btn-default add"> <i class="fa fa-thumbs-o-up"></i> <span> @Model.UpRating </span> تقييم ايجابى</a>
                        <a href="/Harag/User/@Model.UserName/Rates" class="btn btn-default add"> <i class="fa fa-thumbs-o-down" style="color:#d03333"></i> <span> @Model.DownRating </span> تقييم سلبى</a>
                    </div>
                    <hr />
                    @if (!ViewBag.SameUser && ViewBag.CanRateOtherUsers)
                    {
                        <p><a href="/Harag/Rate/@Model.UserName"> <i class="fa fa-thumbs-o-up"></i> اضافة تقييم </a></p>
                    }


                    <hr />
                    
                    <h4> عضو منذ @Model.MemberSinceDesc  </h4>
                    <hr />
                    <p><i class="fa fa-user-o"></i> <span> @Model.FollowerCount </span> متابع </p>
                    <hr />
                    @if (!ViewBag.SameUser)
                    {
                        <button id="follow-user-js" class="btn btn-default add full" type="button"> متابعة >>  </button>
                    }
                </div>
            </div>
            <div class="col-md-9">
                <div id="posts" class="items">

                    @foreach (var item in Model.Posts)
                    {
                        <div class="item">
                            <div class="det">
                                <a href="/Harag/Post/@item.Id">
                                    <h3>@item.Title</h3>
                                </a>
                                <small>@item.DateDescription</small>
                                <div class="det-det">
                                    <a href="/Harag/City/@item.City">
                                        <span><i class="fa fa-map-marker"></i> @item.City </span>
                                    </a>
                                    <a href="/Harag/user/@item.PostOwner">
                                        <span><i class="fa fa-user"></i> @item.PostOwnerFullName </span>
                                    </a>
                                </div>
                            </div>
                            <div class="det-img">
                                @if (!String.IsNullOrEmpty(item.Photo))
                                {
                                    <img src="/HaragApi/Uploads/Images/@item.Photo">
                                }
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $("#follow-user-js").click(function () {
        $.ajax({
            type: 'GET',
            url: '/Harag/Follow/User/@Model.userId',
            success: function (data) {
                if (data.status === true) {
                    if (data.added == true) {
                        $("#follow-user-js").addClass("followed");
                        $("#follow-user-js").html("الغاء المتابعه"); 
                    } else {
                        $("#follow-user-js").removeClass("followed");
                        $("#follow-user-js").html("متابعه");
                    } 
                } else {
                    alert("تاكد من الاتصال بالانترنت");
                }



            }
        });
    });
    
    $.ajax({
        type: 'GET',
        url: '@Url.RouteUrl("Harag.Post.GetHaragCities")',
        complete: function (data) {
            $("#City-js-ajax").html(data.responseText);
        }
    });
     $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.Post.GetHaragNeighborhoods")',
            complete: function (data) {
                $("#Neighbohood-js-ajax").html(data.responseText);
            }
    });



</script>
