
@model Nop.Web.Models.Harag.Comment.CommentModel

<div class="comment">
    <div class="commentHeader"> 
        <div class="adxExtraInfo">
            <div class="adxExtraInfoPart"> 
                ››
                &nbsp;  <a href="" class="username">@Model.CommentOwner</a>   
            </div> 
            <div  class="pull-left adxExtraInfoPart"> 
                <div class="moveLeft">
                    ››
                    <a href="#1" name="1">1</a>
                </div> 
            </div>
        </div> 
        ››
        &nbsp;  قبل 0 دقيقه
         
        <div class="reportPanel pull-left">
            <span class="report"><i class="fa fa-flag"></i>  إبلاغ  </span>
            <div class=" report reportPanelInfo">
                إبلاغ عن العضو: <br> <a href="@Model.CommentOwner" class="username">@Model.CommentOwner</a> <br> <br> 
                
                <button onclick="ratecomment(event, @Model.Id,@Model.PostId, 1)" class="btn btn-primary btn-xs">بخس السلعة</button><br>
                <button onclick="ratecomment(event, @Model.Id,@Model.PostId, 2)" class="btn btn-primary btn-xs">رد غير لائق</button><br>
            </div>
        </div> 
    </div> 
    <div class="commentBody">  
        @Model.Text 
    </div> 
    <div class="commentFooter"> 
    </div> 
</div>

