@using Nop.Web.Models.Harag.Comment;
@model CommentOutputModel
 
<style>
    .commentHeader {
        background: #EDEAEA;
        padding-left: 5px;
        padding-top: 5px;
        padding-right: 5px;
        border-bottom: 1px solid #EBE6CF;
    }



    .commentBody {
        /* background: #F5F5F5;
										    border-bottom: 1px solid #EBE6CF;
										    */
        background: #FFFFFF;
        background: #F5F5F5;
        color: #454444;
        padding: 10px; 
        font-size: 1.4rem; 
    }

    .commentFooter {
        padding: 10px 5px;
        /* background: #F5F5F5;*/
        background: #FFFFFF;
        background: #F5F5F5;
        border-bottom: 1px solid #EBE6CF;
    }

        .commentFooter a {
            color: #919191;
        }

    .comment {
        margin: 10px; 
        border: 1px solid #EBE6CF;
        border-radius: 4px;
        word-wrap: break-word;
        word-break: break-word;
    }

    .reportPanel {
        position: relative;
        direction: ltr;
    }

    .reportPanelInfo {
        display: none;
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        z-index: 9;
        padding: 10px;
        background-color: #fff;
    }

        .reportPanelInfo button {
            margin: 5px;
        }

    .adxExtraInfoPart {
    }

</style>
@if (Model.Items != null)
{
<div id="commentDivToAppending">
    @foreach (var comment in Model.Items)
    {
        <!-- Comments -->
        @Html.Partial("~/Themes/Pavilion/Views/Harag/Comment/_CommentTemplatePartial.cshtml", comment)
    }
</div>
}
<div class="add-comment">
    <div class="row">
        @if (ViewBag.UserRole == "Registered")
        {
            <div class="col-xs-2 text-center">
                <img class="userimagelarge" src="~/images/Consultant/images/no-img.png" />
                <img class="userimagemedium" src="~/images/Consultant/images/no-img-mobile.png" style="width:50px;height:50px;" />
                <img class="userimagesmall" src="~/images/Consultant/images/no-img-mobile.png" style="width:35px;height:35px;" />
            </div>
        }
        else if (ViewBag.UserRole == "Consultant")
        {
            <div class="col-xs-2 text-center">
                <img class="userimagelarge" src="~/images/Consultant/images/no-img-consultant.png" />
                <img class="userimagemedium" src="~/images/Consultant/images/no-img-mobile-consultant.png" style="width:50px;height:50px;" />
                <img class="userimagesmall" src="~/images/Consultant/images/no-img-mobile-consultant.png" style="width:35px;height:35px;" />
            </div>
        }
            <div class="col-xs-10">
                <h4>@ViewBag.UserName</h4>
                <div class="reply">
                    <textarea class="form-control" id="CommentText" placeholder="اكتب تعليقا"></textarea>
                </div>
                <div class="form-group bordering">
                    <div class="images" id="images">

                    </div>
                </div>
                <br /><br />
                @if (ViewBag.UserRole == "Registered")
                {
                    <div class="reply">
                        <p class="file">
                            <input class="form-control-file" id="file" name="file" type="file" style="display:none" value="تحميل صورة">
                            <label for="file">تحميل صورة</label>
                        </p>
                        <button onclick="addComment()" class="btndarckgreen">تعليق</button>
                    </div>
                }
                else if (ViewBag.UserRole == "Consultant")
                {
                    <div class="reply">
                        <p class="file">
                            <input onchange="onFileChange(event)" class="form-control-file" id="file" name="file" type="file" style="display:none" value="تحميل صورة">
                            <label for="file">تحميل صورة</label>
                        </p>
                        <button  class="btn btn-success" onclick="addCommentConsultant()">تعليق</button>
                    </div>
                }
            </div>
    </div>
</div>





@if (Model.Paging.PageNumber <= Model.Paging.TotalPages)
{


    @if (Model.Links.Count == 2)
    {
        @if (Model.Paging.PageNumber == 1)
        {
            <!-- Pager -->
            <nav class="pagination-outer" aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" onclick="getCommentPaging('@Model.Links[1]?.Href')">
                            <span aria-hidden="true"> <<< </span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link">@Model.Paging.PageNumber</a>
                    </li>

                </ul>
            </nav>
        }
        else if (Model.Paging.PageNumber == Model.Paging.TotalPages)
        {
            <!-- Pager -->
            <nav class="pagination-outer" aria-label="Page navigation">
                <ul class="pagination">

                    <li class="page-item">
                        <a class="page-link">@Model.Paging.PageNumber</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous" onclick="getCommentPaging('@Model.Links[0]?.Href')">
                            <span aria-hidden="true"> >>> </span>
                        </a>
                    </li>
                </ul>
            </nav>
        }
    }
    else if (Model.Links.Count > 2)
    {
        <!-- Pager -->
        <nav class="pagination-outer" aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" aria-label="Next" onclick="getCommentPaging('@Model.Links[2]?.Href')">
                        <span aria-hidden="true"> <<< </span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link">@Model.Paging.PageNumber</a>
                </li>
                <li class="page-item">
                    <a class="page-link" aria-label="Previous" onclick="getCommentPaging('@Model.Links[0]?.Href')">
                        <span aria-hidden="true"> >>> </span>
                    </a>
                </li>
            </ul>
        </nav>
    }
}

<script type="text/javascript">


    $(document).ready(function () {
        $("#file").change(function (event) {

            if (Files.length >= 5) {
                alert("لقد تجاوزت العدد المسموح من الصور ,مسموح بخمس صور فقط");
            }
            else {

                if (event.target.files && event.target.files[0]) {
                    for (var i = 0; i < event.target.files.length; i++) {
                        convertToBase64(event.target.files[i]);
                        console.log(i)
                    }
                }
            }
        });
    });



    function getCommentPaging(url) {

        var indexmyurl = url.indexOf("Consultations/Consultations");
        var myurl = url.substring(indexmyurl);

        $.ajax({
            type: 'GET',
            url: myurl,

            success: function (data) {
                $("#comments").html(data);
            }
        });
    }




</script>











