@model List<string>
@{
    Layout = "~/Themes/Pavilion/Views/Harag/Shared/_Header.cshtml";
}
 
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <select id="search-category-js-ajax" class="form-control"> 
                    </select>
                    <select id="search-city-js-ajax" class="form-control"> 
                    </select>
                    
                    <button id="search-cat-city-js" class="btn btn-default srchBtn" type="button"><i class="fa fa-search"></i></button>
                </div>
                <hr>
            
                @Html.Partial("~/Themes/Pavilion/Views/Harag/Post/_CategoriesImagesGrid.cshtml", Model)
            </div>
            <div class="col-md-9">
                <!-- أضف اعلانك -->
                <div class="row">
                    <div class="col-md-4" style="margin-bottom: 20px;">
                        <a class=" add-btn " style="background: #f2f2f2;line-height:2.4" href="@Url.RouteUrl("Harag.Post.AddNewPost")"> <i class="fa fa-plus"></i> أضف اعلانك </a>
                    </div>
                    <div class="col-md-4">
                        <select id="select-city-js-ajax" class="form-control">
                            <option>جميع المدن</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

                    </div>
                </div>
                @*<div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <select id="select-city-js-ajax" class="form-control">
                </select>
            </div>
        </div>*@
                <div class="row">
                    <div class="col-md-12 tags">
                      
                    </div>
                </div>
                <!-- List -->
                <div id="posts" class="items">

                </div>
                <div class="view-more-js">
                    <a class="add view-more" data-postid="" data-pageno="1" style="padding: 5px 15px; border: 1px solid #3e874b; border-radius:6px; font-size: 16px;">مشاهدة المزيد ...</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
    $(document).ready(function () {

        $('.view-more').click(function () {

            var pageNo = $(this).attr("data-pageno");

            $.ajax({
                type: 'GET',
                url: '@Url.RouteUrl("Harag.Post.GetAllHaragPostsAjax")/' + pageNo,
                complete: function (data) {
                    if (data.responseText.length < 400) {
                        $('.view-more').addClass("hidden");
                        return;
                    }

                    $('.view-more').attr("data-pageno", parseInt($('.view-more').attr("data-pageno")) + parseInt('1'));

                    $("#posts").append("<br />" 
                        + data.responseText);

                    $(this).attr("data-pageno", parseInt(pageNo) + 1);
                }
            }); 
        });

        $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.Post.GetAllHaragPostsAjax")',
            complete: function (data) {  
                $("#posts").html(data.responseText);
              
            }
        }); 
        $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.Post.GetCategories")',
            complete: function (data) {
                $("#category-js-ajax").html(data.responseText);
            }
        });

        $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.Post.GetCategories")',
            complete: function (data) {
                $("#search-category-js-ajax").html(data.responseText);
            }
        });

         $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.Post.GetHaragCities")',
            complete: function (data) {
                $("#search-city-js-ajax").html(data.responseText);
                $("#select-city-js-ajax").append(data.responseText);
            }
        });
    });

    $("#search-cat-city-js").on('click', function () {
        var cityId = $("#search-city-js-ajax option:selected").val();
        var catId = $("#search-category-js-ajax option:selected").val();
        var cityName = $("#search-city-js-ajax").val();
        
         $.ajax({
             type: 'GET',
             url: '/Harag/HaragSearchCatCity/' + catId + '/' + cityId,
            complete: function (data) {
                $("#posts").html(data.responseText);
                $("#select-city-js-ajax").val(cityName);
            }
        });
    });

</script>

