@{
    Layout = "~/Themes/Pavilion/Views/Harag/Shared/_Header.cshtml";
}
 
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <select id="search-category-js-ajax" class="form-control">
                        <option>الاختيار 1</option>
                    </select>
                    <select id="search-city-js-ajax" class="form-control">
                        <option>الاختيار 1</option>
                    </select>
                    @*<select id="search-date-js-ajax" class="form-control">
                        <option>الاختيار 1</option>
                    </select>*@
                    <button id="search-cat-city-js" class="btn btn-default srchBtn" type="button"><i class="fa fa-search"></i></button>
                </div>
                <hr>
                @*<div class="choices">
                    <a>حراج السيارات</a>
                    <a>حراج العقارات</a>
                    <a>حراج العقارات</a>
                    <a>حراج العقارات</a>
                </div>*@
                @Html.Partial("~/Themes/Pavilion/Views/Harag/Post/_CategoriesImagesGrid.cshtml")
            </div>
            <div class="col-md-9">
                <!-- أضف اعلانك -->
                <div>
                    <a class="btn btn-default add" href="@Url.RouteUrl("Harag.Post.AgreementBeforeAddPost")"> أضف اعلانك <i class="fa fa-plus"></i></a>
                </div>
                <!-- كل الاختيارات -->
                @*<div class="choices">
                    <a>حراج السيارات</a>
                    <a>حراج العقارات</a>
                    <a>حراج العقارات</a>
                    <a>حراج العقارات</a>
                </div>*@
                <!-- Select Search -->
                @*<div class="">
                    <select id="category-js-ajax" class="form-control" style="width:20%">
                        <option>الاختيار 1</option>
                    </select>
                </div>*@
                <!-- List -->
                <div id="posts" class="items">
                    @*<div class="item">
                        <div class="det">
                            <h3>عنوان</h3>
                            <small>منذ 4 دقيقة</small>
                            <div class="det-det">
                                <span><i class="fa fa-map-marker"></i> الرياض </span>
                                <span><i class="fa fa-user"></i> الاسم </span>
                            </div>
                        </div>
                        <div class="det-img">
                            <img src="images/x.jpg">
                        </div>
                    </div>
                    <div class="item">
                        <div class="det">
                            <h3>عنوان</h3>
                            <small>منذ 4 دقيقة</small>
                            <div class="det-det">
                                <span><i class="fa fa-map-marker"></i> الرياض </span>
                                <span><i class="fa fa-user"></i> الاسم </span>
                            </div>
                        </div>
                        <div class="det-img">
                            <img src="images/x.jpg">
                        </div>
                    </div>
                    <div class="item">
                        <div class="det">
                            <h3>عنوان</h3>
                            <small>منذ 4 دقيقة</small>
                            <div class="det-det">
                                <span><i class="fa fa-map-marker"></i> الرياض </span>
                                <span><i class="fa fa-user"></i> الاسم </span>
                            </div>
                        </div>
                        <div class="det-img">
                            <img src="images/x.jpg">
                        </div>
                    </div>
                    <div class="item">
                        <div class="det">
                            <h3>عنوان</h3>
                            <small>منذ 4 دقيقة</small>
                            <div class="det-det">
                                <span><i class="fa fa-map-marker"></i> الرياض </span>
                                <span><i class="fa fa-user"></i> الاسم </span>
                            </div>
                        </div>
                        <div class="det-img">
                            <img src="images/x.jpg">
                        </div>
                    </div>*@
                </div>
                <div>
                    <button   class="btn btn-default add view-more" data-postid="" data-pageno="1" type="button">مشاهدة المزيد</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
    $(document).ready(function () {

        $('.view-more').click(function () {

            var pageNo = $(this).attr("data-pageno");

            $.ajax({
                type: 'GET',
                url: '@Url.RouteUrl("Harag.Post.GetAllHaragPostsAjax")/' + pageNo,
                complete: function (data) {
                    $("#posts").append(data.responseText);
                    $(this).attr("data-pageno", parseInt(pageNo) + 1);
                }
            }); 
        });

        $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.Post.GetAllHaragPostsAjax")',
            complete: function (data) { 
                $("#posts").html(data.responseText);
            }
        }); 
        $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.Post.GetCategories")',
            complete: function (data) {
                $("#category-js-ajax").html(data.responseText);
            }
        });

        $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.Post.GetCategories")',
            complete: function (data) {
                $("#search-category-js-ajax").html(data.responseText);
            }
        });

         $.ajax({
            type: 'GET',
            url: '@Url.RouteUrl("Harag.Post.GetHaragCities")',
            complete: function (data) {
                $("#search-city-js-ajax").html(data.responseText);
            }
        });
    });

    $("#search-cat-city-js").on('click', function () {
        var cityId = $("#search-city-js-ajax option:selected").val();
        var catId = $("#search-category-js-ajax option:selected").val();
        
         $.ajax({
             type: 'GET',
             url: '/Harag/HaragSearchCatCity/' + catId + '/' + cityId,
            complete: function (data) {
                $("#posts").html(data.responseText);
            }
        });
    });
</script>

