@model Nop.Web.Models.Harag.PaymentModel
@{
    Layout = "~/Themes/Pavilion/Views/Harag/Shared/_Header.cshtml";
}


<!-- Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 cont">
                <div class="feat-adv-blck">
                    <h3>عمولة حراج</h3>
                    <p>كما هو مذكور في معاهدة استخدام الموقع، فإن الموقع يحصل على عمولة قدرها 1% من سعر السلعة المباعة عن طريق الموقع و يدفعها المعلن، وهي أمانه في ذمته. إذا كانت السلعة المباعة سلعه عقاريه، وبها أكثر من وسيط، فإن الموقع يكون أحد الوسطاء، ويتقاسم العمولة معهم. ويعتبر هذا الشرط اتفاقاً ملزماً، يحق بموجبه للموقع المطالبة بهذه العمولة.إن كانت قيمة العمولة أقل من 20 ريال سعودي ، فيمكن التصدق بها عن الموقع. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 cont">
                <div class="feat-adv-blck">
                    <h3>ملاحظات :</h3>
                    <ul type="disc">
                        <li>سيارات الإيجار المعروضه للتنازل تكون عمولتها حسب القيمة المدفوعه خلال الاتفاق. مثلا لو اراد شخص التنازل عن سيارته وباقي عليها 20 قسط واتفق مع شخص ان يتنازل عنها له بمبلغ 10 الف ريال فأن عمولة الموقع هي 100 ريال. اذا كان التنازل مجانيا فأن العموله أيضا مجانيه.</li>
                        <li>بالنسبة للسيارات المتبادلة عن طريق الموقع، اذا كان المبادله رأس برأس فالعمولة تعتبر مجانية، وإذا كان هناك مبلغ مدفوع خلال المبادله فان العموله هي على المبلغ المدفوع فقط. مثلا لو اتفق شخصين على مبادلة سياره بسياره أخرى مع دفع 10 الف ريال كزيادة فان العمولة هي 100 ريال فقط يدفعها المعلن.</li>
                        <li>بالنسبه للعمولة على الطلبات: اذا وجد صاحب الاعلان عن الطلب سلعته عن طريق الموقع ولم يسبق لصاحب السلعه الإعلان عنها في الموقع من قبل فأن العمولة هي 1% على صاحب الطلب . اذا كانت السلعه قد سبق الإعلان عنها في الموقع فأن العمولة هي على صاحب السلعه.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 cont">
                <div class="feat-adv-blck">
                    <h3>حساب العمولة</h3>
                    @Html.Partial("~/Themes/Pavilion/Views/Harag/Payment/_PaymentCalculator.cshtml")
                    <p>
                        مؤسسة موقع حراج للتجارة  <br />
                        سجل تجاري رقم: 1010283122 <br />
                        الرقم الضريبي: 300710482300003 <br />
                        قرطبة، الرياض ، المملكة العربية السعودية .
                    </p>

                    <hr />

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 cont">
                <div class="feat-adv-blck">
                    <h3>دفع العمولة</h3> <br />
                    <h3>الطريقة الأولى</h3>
                    <p>يمكنك استخدام التحويل البنكي لدفع العموله عن طريق إرسال حواله إلى حساباتنا في البنوك المحليه.</p>

                    @Html.Partial("~/Themes/Pavilion/Views/Harag/Payment/_BanksAccountsPartial.cshtml", Model.Banks)

                    <hr />

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 cont">
                <div class="feat-adv-blck">
                    <h3>الطريقة الثانية</h3>
                    <p>بإمكانك سداد العمولة عن طريق <a href="/Harag/Payment/Sadad"> نظام سداد </a></p><br />
                    <p>بعد إرسال المبلغ،يجب مراسلتنا عبر النموذج التالي لأجل تسجيل العمولة بأسم عضويتك ثم الحصول على مميزات الموقع الخاصة بالعملاء:</p>
                    <form>
                        <input id="user-phone-js" class="form-control" type="text" placeholder="أدخل رقم الحساب أو رقم الجوال هنا" style="width: 20%" />
                        <button id="check-userdata-js" class="btn btn-default add" type="button"> فحص >>  </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            @if (ViewBag.Added == true)
            {
                <div class="col-md-9">
                    <p class="alert alert-info">
                        تم اضافه عمليه الدفع شكرا لك
                    </p>
                </div>
            }
            else
            {
                <div class="col-md-9">
                    <form class="add-adverse" action="/Harag/Payment/BanksJ" method="post">
                        @if (@ViewBag.ErrorMessage != "")
	                    {
                        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>  
	                    }
                        @Html.HiddenFor(m => m.UserId, new { id= "user-id"});
                        <div class="col-md-4">
                            <label>اسم المستخدم</label> <br />
                            @Html.TextBoxFor(m => m.UserName, new { id = "username-js", @class = "form-control", placeholder = "اسم المستخدم", required = "required" })
                        </div>
                        <div class="col-md-4">
                            <label>مبلغ العمولة</label> <br />
                            @Html.TextBoxFor(m => m.SiteAmount, new { @class = "form-control", placeholder = "مبلغ العموله ", required = "required" })

                        </div>
                        <div class="col-md-4">
                            <label> البنك الذى تم التحويل اليه </label> <br />
                            <select id="banks-js" name="BankId" class="form-control" required="required" placeholder="اختر اسم البنك ">
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label> متى تم التحويل ؟ </label> <br />
                            <select name="TransactionDate" class="form-control" placeholder="اختر متي تم التحويل" required="required">
                                <option value="1">قبل شهر</option>
                                <option value="2">قبل شهرين</option>
                                <option value="3">قبل ثلاثه شهور</option>
                                <option value="4">اكثر من ثلاثه شهور</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>اسم المحول</label> <br />
                            @Html.TextBoxFor(m => m.TransatctorUser, new { @class = "form-control", placeholder = "اسم المحول", required = "required" })
                        </div>
                        <div class="col-md-4">
                            <label>رقم الاعلان</label> <br />
                            @Html.TextBoxFor(m => m.PostId, new { @class = "form-control", placeholder = " رقم الاعلان ", required = "required" }) 
                        </div>
                        <div class="col-md-12">
                            <label>ملاحظات</label> <br />
                            @Html.TextAreaFor(m => m.Notes, new { @class = "form-control txtArea", placeholder = " ملاحظات", rows = "7", required = "required" })
                        </div>
                        <div class="col-md-12">
                            <p style="margin-top:15px"> نرجو الحرص على أن تكون معلومات التحويل صحيحة ودقيقه </p>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-default add" type="submit">ارسال</button>
                        </div>
                    </form> 
                </div>
            } 
        </div>
    </div>
</div>


<script type="text/javascript">

    $("#check-userdata-js").click(function () {

        var userphone = $("#user-phone-js");

        $.ajax({
            method: 'GET',
            url: '/Harag/User/GetUser/' + userphone.val(),
            success: function (data) {
                if (data.Status == true) {
                    $("#username-js").val(data.Data.Username);
                    $("#user-id").val(data.Data.Id);
                } else {
                    alert("لا يوجد هذا المستخدم");
                }
            }
        });
    });

    // get the banks accounts
    $.ajax({
        method: 'GET',
        url: '/Harag/Payment/BanksList',
        complete: function (data) {
            if (data.status == 200) {
                $('#banks-js').html(data.responseText); 
            }
        }
    });



</script>